Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Add map view to city hub and document Replit test runner issue
  client/src/pages/CityHubPage.tsx
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance city hub with upcoming visitor information and map view
  client/src/pages/CityHubPage.tsx
  server/routes/travel-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update API to correctly fetch professional users and group information
  client/src/pages/pro/PROGroupPublicPage.tsx
  server/routes/pro.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add multi-channel messaging and settings to the messages page
  client/src/components/messages/ChannelSettingsPanel.tsx
  client/src/hooks/useMessageChannels.ts
  client/src/pages/MessagesPage.tsx
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix

Create la-cumparsita-audit-dec-4-2025.md
  .agent-memory/la-cumparsita-audit-dec-4-2025.md
Due: prettier --write

Session 4 Update: Comprehensive testing ~40% complete - 8 pages tested, Bug #002 critical findings
  .agent-memory/la-cumparsita-audit-dec-4-2025.md
Due: prettier --write

Session 5 FINAL: Comprehensive audit ~55% complete - 15 pages tested, H2AC Dashboard discovered, Quality Score 8.5/10
  .agent-memory/la-cumparsita-audit-dec-4-2025.md
Due: prettier --write

Create el-choclo-mb-completion-plan.md
  .agent-memory/el-choclo-mb-completion-plan.md
Due: prettier --write

Session 6 FINAL: Comprehensive audit 100% complete - All 8 phases tested
  .agent-memory/la-cumparsita-audit-dec-4-2025.md
Due: prettier --write

Session 7: Pages with issues - Code analysis & remediation recommendations
  .agent-memory/la-cumparsita-audit-dec-4-2025.md
Due: prettier --write

Fix user profile update by reordering API routes
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update platform with new AI-powered content generation and self-healing capabilities
  attached_assets/Pasted--LA-CUMPARSITA-AUDIT-DECEMBER-4-2025-Audit-Session-Comp_1764902696930.txt
  client/src/pages/admin/AdminContentCenterPage.tsx
  docs/mb-md/agents/role-agents.md
  docs/mb-md/checklists/pre-task.md
  docs/mb-md/core.md
  docs/mb-md/index.json
  docs/mb-md/patterns/pattern-64-70.md
  lancedb_data/code_summaries.lance/_transactions/0-f2f96975-edd1-4216-a05f-4bf4f4b71334.txn
  lancedb_data/code_summaries.lance/_versions/1.manifest
  lancedb_data/code_summaries.lance/data/011100010101110010100110febac94721b6346200262ecf28.lance
  replit.md
  server/index.ts
  server/routes.ts
  server/routes/content-routes.ts
  server/routes/mrblue-error-analysis-routes.ts
  server/services/content/FacelessContentService.ts
  server/services/external/FreeAPIService.ts
  server/services/intelligence/RecursiveContextService.ts
  server/services/social/SocialMediaAdapters.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update project documentation with audit results and action items
  MB.MD
Due: none

Add a way to update user profile information
  attached_assets/image_1764892865245.png
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix registration flow by correcting Express route order
  replit.md
Due: prettier --write

Define roles and responsibilities for AI agents
  docs/mb-md/role-agents.md
Due: prettier --write

Enable users to upload profile photos by fixing the upload endpoint
  attached_assets/image_1764893831254.png
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation with revised API paths and system architecture details
  replit.md
Due: prettier --write

Update plan document with completed and remaining tasks
  docs/mb-md/FINAL-SESSION-PLAN.md
Due: prettier --write

Add check for successful response in community auto-join API call
  client/src/pages/onboarding/CitySelectionPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve error handling across the application for a better user experience
  docs/CTO-AUDIT-RESEARCH-DEC-5-2025.md
Due: prettier --write

Improve error handling and performance across onboarding pages
  attached_assets/Pasted--PAGES-WITH-ISSUES-COMPREHENSIVE-FINDINGS-Based-on-my-c_1764970624652.txt
  docs/CTO-AUDIT-RESEARCH-DEC-5-2025.md
Due: prettier --write

Improve error handling and user feedback during onboarding
  client/src/lib/apiErrorHandler.ts
  client/src/pages/RegisterPage.tsx
  client/src/pages/onboarding/CitySelectionPage.tsx
  client/src/pages/onboarding/LanguagesPage.tsx
  client/src/pages/onboarding/TangoRolesPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update session plan with completed tasks and remaining blockers
  docs/mb-md/FINAL-SESSION-PLAN.md
Due: prettier --write

Improve worker reliability and add social media posting capabilities
  replit.md
  server/index.ts
  server/services/social/CrossPlatformScheduler.ts
  server/services/social/SocialMediaAdapters.ts
  server/workers/eventWorker.ts
  server/workers/lifeCeoWorker.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add improved error messages for onboarding and registration processes
  replit.md
Due: prettier --write

Create audit findings report detailing platform scale and agent registry
  docs/MBMD-PHASE-1-2-AUDIT-FINDINGS-DEC-2025.md
Due: prettier --write

Add a system for agents to learn from documentation and improve their knowledge
  docs/MB_MD_TRM_AGENT_LEARNING_PROTOCOL.md
  lancedb_data/agent_knowledge.lance/_transactions/0-ce77836e-f7d1-4cf9-a4e8-f4aa5331206a.txn
  lancedb_data/agent_knowledge.lance/_transactions/1-9cb09dc7-d48f-487d-b1d0-f9926be932a6.txn
  lancedb_data/agent_knowledge.lance/_versions/1.manifest
  lancedb_data/agent_knowledge.lance/_versions/2.manifest
  lancedb_data/agent_knowledge.lance/data/00101101001101000001100138e0ef491bbb6f492d0bb10b1e.lance
  lancedb_data/agent_knowledge.lance/data/0111000111000010111010106b3db5433a8a110d11d7373aef.lance
  replit.md
  server/middleware/csrf.ts
  server/routes.ts
  server/routes/agentLearning.ts
  server/services/intelligence/AgentKnowledgeLoader.ts
  server/services/intelligence/RecursiveContextService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive orchestration and integration features for tango platform
  client/src/components/EmptyStateResolver.tsx
  replit.md
  server/routes.ts
  server/routes/openSourceIntegrations.ts
  server/routes/orchestrationPhases.ts
  server/services/external/CurriculumIngestionService.ts
  server/services/external/GenAIAgentsService.ts
  server/services/external/MediaWorkflowOrchestrator.ts
  server/services/orchestration/StrikeTracker.ts
  server/services/orchestration/SwarmChoreographyController.ts
  server/services/orchestration/ValidationRelayService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
