Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Add comprehensive testing and documentation for computer use workflows
  COMPUTER_USE_TEST_SUMMARY.md
Due: prettier --write

Add detailed manual testing guide for computer use automation features
  COMPUTER_USE_MANUAL_TEST.md
Due: prettier --write

Expand automation detection to include computer use questions
  server/routes/mr-blue-enhanced.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve computer use intent detection and response for Mr. Blue
  COMPUTER_USE_FIX_TEST.md
Due: prettier --write

Add more ways to understand questions about computer use
  server/routes/mr-blue-enhanced.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Analyze computer usage capabilities and identify missing features for Facebook automation
  docs/COMPUTER_USE_GAP_ANALYSIS.md
  server/services/mrBlue/BrowserAutomationService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add visual analysis to plan and execute browser automation tasks
  server/services/mrBlue/LLMVisionPlanner.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add Facebook Messenger automation capabilities for sending invites
  server/services/mrBlue/FacebookMessengerService.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enable sending Facebook invitations through the chat interface
  server/routes/mr-blue-enhanced.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add detailed guide for automating Facebook Messenger invitations
  docs/FACEBOOK_AUTOMATION_TESTING_GUIDE.md
Due: prettier --write

Enhance platform with natural language computer use interface and automation
  replit.md
Due: prettier --write

Create a detailed plan for automating Facebook invitation and onboarding
  docs/handoff/MB_MD_FACEBOOK_E2E_FINAL_PLAN.md
Due: prettier --write

Add production-ready natural language automation for god-level users
  replit.md
Due: prettier --write

Update comprehensive guide for AI-driven development methodology
  docs/mb.md
Due: prettier --write

Finalize MB.MD documentation as subject matter expert guide
  docs/MB_MD_SME_VALIDATION_REPORT.md
Due: prettier --write

Create final validation report for Facebook Natural Language Automation
  docs/MB_MD_FINAL_VALIDATION_REPORT.md
Due: prettier --write

Send Facebook invite to Scott Boddye using Playwright automation
  scripts/send-fb-invite.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve automation to send Facebook Messenger invites directly to users
  scripts/send-fb-invite.ts
  server/services/mrBlue/FacebookMessengerService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve Facebook Messenger login and session handling
  docs/fb-automation-validation-report.md
  server/services/mrBlue/FacebookMessengerService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update script to send Facebook messages using a search-based approach
  scripts/send-fb-invite.ts
  server/services/mrBlue/FacebookMessengerService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Automate sending Facebook messages with real credentials
  scripts/send-fb-invite-final.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add ability to validate Facebook account access and retrieve messages
  scripts/send-fb-invite-final.ts
  scripts/validate-fb-access.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add manual fallback for automated message sending and record manual actions
  client/src/components/facebook/InviteSender.tsx
  server/routes/facebook-messenger-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add a workflow to test Facebook message sending and user onboarding
  client/src/App.tsx
  client/src/pages/FacebookInvites.tsx
  client/src/pages/FacebookTestWorkflow.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Document plan for integrating Facebook OAuth with Supabase for Messenger API access
  docs/FACEBOOK_OAUTH_SUPABASE_INTEGRATION_PLAN.md
Due: prettier --write

Add Facebook authentication fields to user data table
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update to integrate Facebook authentication via Supabase
  replit.md
Due: prettier --write

Document Supabase account flagging and adjust realtime event limits
  client/src/lib/supabase.ts
  docs/SUPABASE_FLAGGING_ANALYSIS.md
Due: tsc --noEmit, prettier --write, eslint --fix

Add self-hosted Facebook OAuth login as a backup plan
  docs/FACEBOOK_OAUTH_PLAN_B_SELF_HOSTED.md
Due: prettier --write

Create plan for Supabase flagging and Facebook OAuth issues
  docs/MB_MD_SUPABASE_FACEBOOK_OAUTH_COMPLETE_PLAN.md
Due: prettier --write

Add documentation for the project setup and methodology
  attached_assets/image_1763440961081.png
Due: none

Implement self-sovereign architecture and integrate Gmail functionality
  .replit
  docs/MB_MD_V9_ULTIMATE_RESILIENT_ARCHITECTURE.md
  package-lock.json
  package.json
  replit.md
  server/lib/gmail-client.ts
  server/scripts/send-supabase-support-email.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add platform compliance protocol and integration management to ensure secure development
  client/src/pages/admin/integrations.tsx
  docs/MB_MD_V9_FINAL_EXECUTION_PLAN.md
  docs/PLATFORM_COMPLIANCE_AUDIT_2025.md
  mb.md
Due: tsc --noEmit, prettier --write, eslint --fix

Add a new page for managing platform integrations and authorization
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix
