Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Update the Watch Demo button to a vibrant blue color
  client/src/components/Container.tsx
  client/src/pages/LandingPage.tsx
  client/src/services/mrblue.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix errors and update security policies for content loading
  attached_assets/Pasted--Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-events-68c9ad4d-1763907487270_1763907487271.txt
Due: none

Add comprehensive tests for all remaining agents and training validation
  tests/e2e/mb-md-phase2-agents-41-50.spec.ts
  tests/e2e/mb-md-training-validation.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Move self-healing status to errors tab and implement code generation endpoint
  client/src/components/mr-blue/ErrorAnalysisPanel.tsx
  client/src/pages/VisualEditorPage.tsx
  server/routes/mrblue-vibecoding-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix VibeCoding code generation and integrate self-healing notifications
  docs/training-lessons/LESSON_44_VIBECODING_MUST_GENERATE_CODE.md
  server/routes/mrblue-vibecoding-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update VibeCoding functionality and fix database table naming
  server/routes/mrblue-vibecoding-routes.ts
  tests/e2e/mb-md-vibecoding-selfhealing-fix.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add script to broadcast training lesson about code generation
  server/scripts/broadcast-lesson-44.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix VibeCoding and self-healing features for lesson completion
  docs/training-lessons/LESSON_44_COMPLETION_SUMMARY.md
Due: prettier --write

Route code generation requests to the VibeCoding engine
  server/routes/mrblue-stream.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix code generation to use the correct VibeCoding endpoint
  docs/training-lessons/LESSON_45_VIBECODING_ROUTING_FIX.md
Due: prettier --write

Fix error when generating code by validating response content
  server/routes/mrblue-stream.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add ability for chat to display AI responses and code generation updates
  attached_assets/Pasted-background-redux-new-js-2-WebSocket-connection-to-wss-lp-push-server-1118-lastpass-com-ws-5914653-1763915893646_1763915893647.txt
  client/src/components/visual-editor/MrBlueVisualChat.tsx
  client/src/hooks/useStreamingChat.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add functionality to automatically apply visual changes to the website
  client/src/components/visual-editor/MrBlueVisualChat.tsx
  client/src/hooks/useStreamingChat.ts
  server/routes/mrblue-stream.ts
  server/services/mrblue/VibeCodeApplier.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Implement agent-based architecture for modifying website elements
  client/src/pages/LandingPage.tsx
  server/routes/mrblue-stream.ts
  server/services/mrblue/AgentCommunication.ts
  server/services/mrblue/AgentRegistry.ts
  server/services/mrblue/GlobalKnowledgeBase.ts
  server/services/mrblue/VibeCodeApplier.ts
  server/services/mrblue/agents/BasePageAgent.ts
  server/services/mrblue/agents/LandingPageAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enable contextual agent activation for faster page responses
  client/src/lib/navigationInterceptor.ts
  replit.md
  server/middleware/csrf.ts
  server/routes.ts
  server/routes/mrblue-stream.ts
  server/routes/mrblue/activate-agents.ts
  server/services/mrblue/AgentCommunication.ts
  server/services/mrblue/AgentLifecycle.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update project documentation with test verification details
  replit.md
Due: prettier --write

Create base classes for backend agents
  server/services/mrblue/agents/BaseAPIAgent.ts
  server/services/mrblue/agents/BaseSchemaAgent.ts
  server/services/mrblue/agents/BaseSecurityAgent.ts
  server/services/mrblue/agents/BaseServiceAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add system to manage backend changes after user saves edits
  server/services/mrblue/BackendOrchestrator.ts
  server/services/mrblue/SessionTracker.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add backend system for saving changes and tracking session activity
  server/middleware/csrf.ts
  server/routes.ts
  server/routes/mrblue/save-backend.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add ability to save backend changes directly from the UI
  client/src/components/visual-editor/BackendSaveProgressModal.tsx
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Document the plan for Mr. Blue to complete the backend agent system
  docs/MB_MD_V9_3_HANDOFF_PLAN.md
Due: prettier --write

Document MB.MD v9.3 foundation and handoff to Mr. Blue
  docs/MB_MD_V9_3_USER_SUMMARY.md
  replit.md
Due: prettier --write

Update methodology documentation with new execution patterns
  docs/MB.MD
  mb.md
Due: prettier --write

Complete backend agent system for platform development
  docs/MB.MD
  docs/mb.md
  replit.md
Due: prettier --write

Add a comprehensive test for the two-stage workflow in the visual editor
  tests/e2e/mb-md-v9-3-two-stage-workflow.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add backend API tests for save and status endpoints
  test-videos/.last-run.json
  test-videos/e2e-mb-md-phase2-agents-41-33407-mo-button-is-blue-not-grey--chromium/error-context.md
  test-videos/e2e-mb-md-phase2-agents-41-33407-mo-button-is-blue-not-grey--chromium/test-failed-1.png
  tests/e2e/mb-md-v9-3-api-only.spec.ts
  tests/e2e/mb-md-v9-3-production.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Published your App
  docs/MB_MD_V9_3_DEPLOYMENT_RESEARCH_REPORT.md
Due: prettier --write

Add functionality for Mr. Blue to apply fixes and improve voice error handling
  attached_assets/Pasted--Error-Detected-Auto-Analysis-Complete-Error-Speech-recognition-error-no-speech-Propo-1763935819035_1763935819036.txt
  attached_assets/image_1763935528444.png
  server/controllers/mrblueController.ts
  server/routes/mrblue.ts
  server/utils/errorHandler.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add voice activity detection and memory statistics
  client/src/hooks/useApi.ts
  client/src/pages/MemoryStatsPage.tsx
  client/src/services/MemoryStatsService.ts
  public/silero_vad.onnx
  public/vad.worklet.bundle.min.js
  server/app.ts
  server/middlewares/rateLimiter.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add voice mode fallback and improve VAD error handling
  client/src/hooks/useVoiceInput.ts
  client/src/lib/voiceActivityDetection.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Integrate voice mode into the microphone button functionality
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update interface to use icon-only buttons with helpful hover text
  attached_assets/image_1763937179552.png
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Disable robot voice and improve microphone activation
  attached_assets/Pasted--WebSocket-connection-to-wss-lp-push-server-1118-lastpass-com-ws-59146535fcd06681a2226740899013ba-1763937267244_1763937267245.txt
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add interactive element selection and context menu to visual editor
  client/src/components/visual-editor/ElementContextMenu.tsx
  client/src/lib/iframeInjector.ts
Due: tsc --noEmit, prettier --write, eslint --fix
