Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Document research into Visual Editor page crash preventing automated testing
  docs/MB_MD_RESEARCH_VISUAL_EDITOR_PLAYWRIGHT_FIX.md
Due: prettier --write

Update testing strategy to skip Visual Editor and focus on core features
  docs/MB_MD_RESEARCH_VISUAL_EDITOR_PLAYWRIGHT_FIX.md
  tests/core-features.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add visual analysis capability to test user interface correctness
  server/routes/computer-use-routes.ts
  server/services/mrBlue/ComputerUseService.ts
  tests/visual-editor-hybrid.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Saved progress after completing a task
  docs/MB_MD_HYBRID_TESTING_FINDINGS.md
  test-videos/.playwright-artifacts-1/traces/4c7e6ccba74c38082eff-064f18cd209c4f24392a.network
  test-videos/.playwright-artifacts-1/traces/4c7e6ccba74c38082eff-064f18cd209c4f24392a.trace
  test-videos/.playwright-artifacts-1/traces/resources/12136f20c230182a3a6c59af5ecf891a7044a390.json
  test-videos/.playwright-artifacts-1/traces/resources/1e5838d3da3bdb5b371b09d6423c4cd3ab575bf2.json
  test-videos/.playwright-artifacts-1/traces/resources/354afd17291cb4641419356a56139fc9ed2ef3f5.html
  test-videos/.playwright-artifacts-1/traces/resources/7c5c59ac0480a8cda213d7530cafea0b31d98114.json
  test-videos/.playwright-artifacts-1/traces/resources/899d5679edd7269f047628bcb670c742b72d4f47.json
  test-videos/.playwright-artifacts-1/traces/resources/904db6e98d01483d971c93c551b0cad903388c38.css
  test-videos/.playwright-artifacts-1/traces/resources/997997c660a3585204762fa339738115f2e1c9ea.jpeg
  test-videos/.playwright-artifacts-1/traces/resources/b8c7dbaf5f1bf5c2370be4cb86bb07edb77cb4b7.json
  test-videos/.playwright-artifacts-1/traces/resources/ec929f1100c6642ccc5c4272cf4cca12251a9a5d.css
  test-videos/.playwright-artifacts-1/traces/resources/page@e307bd499ef0318ebccbe4b0e9425892-1763978192021.jpeg
  test-videos/.playwright-artifacts-1/traces/resources/page@e307bd499ef0318ebccbe4b0e9425892-1763978192823.jpeg
  test-videos/.playwright-artifacts-1/traces/resources/page@e307bd499ef0318ebccbe4b0e9425892-1763978196471.jpeg
Due: prettier --write

Introduce AI-powered visual testing for improved quality assurance
  docs/MB_MD_TESTING_STRATEGY.md
  replit.md
Due: prettier --write

Remove outdated visual editor testing components and routes
  client/src/App.tsx
  client/src/pages/VisualEditorPageLightweight.tsx
  tests/mb-md-comprehensive-qa.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update application routing to direct users to the login page
  attached_assets/Pasted--AgentLifecycle-ROUTE-CHANGE-DETECTED-feed-login--1763979871669_1763979871669.txt
  test-videos/.last-run.json
  test-videos/core-features-Admin-Dashbo-9fc46-in-can-view-user-management-chromium/test-finished-1.png
  test-videos/core-features-Authenticati-0269b-alid-credentials-show-error-chromium/test-finished-1.png
  test-videos/core-features-Authenticati-64a65-ed-routes-redirect-to-login-chromium/test-finished-1.png
  test-videos/core-features-Events-Syste-5b6a5-er-can-search-filter-events-chromium/test-failed-1.png
  test-videos/core-features-Performance--e76c5-load-within-acceptable-time-chromium/test-finished-1.png
Due: prettier --write

Document production readiness status with validation details
  replit.md
Due: prettier --write

Improve system logging and error reporting for better debugging
  attached_assets/Pasted-VM56104-8-Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-events-1763980294531_1763980294534.txt
  attached_assets/Pasted-VM56104-8-Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-events-1763980426535_1763980426536.txt
  attached_assets/image_1763980496669.png
Due: none

Add visual validation system to ensure UI changes are correct
  server/services/mrBlue/VisualValidationService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add visual validation to ensure user interface changes are correct
  server/services/mrBlue/VibeCodingService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add visual validation system to prevent UI bugs from reaching production
  docs/MB_MD_VISUAL_VALIDATION_FRAMEWORK.md
  replit.md
Due: prettier --write

Fix content security policy errors and blocked resources
  attached_assets/Pasted-ingest-app-coframe-com-ingest-v2-batched-events-68c9ad4d4cddb58cf3a1f93d-1-Failed-to-load-resource-1763981686321_1763981686322.txt
Due: none

Improve message syncing by preventing overwrites during race conditions
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix error that causes messages to appear as empty in chat history
  replit.md
Due: prettier --write

Document investigation into why simple UI color changes fail
  docs/MB_MD_COLOR_CHANGE_BUG_INVESTIGATION.md
Due: prettier --write

Improve error handling and message saving for visual editor updates
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix issues with saving user messages and page context
  attached_assets/Pasted--Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-events-68c9ad4d-1764004714569_1764004714570.txt
  attached_assets/image_1764004706101.png
  client/src/pages/VisualEditorPage.tsx
  docs/MB_MD_PHASE_2_EMPTY_MESSAGE_BUG_FIX.md
Due: tsc --noEmit, prettier --write, eslint --fix

Fix issues preventing users from saving messages and displaying correctly
  attached_assets/Pasted-VM62268-8-Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-events-1764005252753_1764005252755.txt
  attached_assets/image_1764005238183.png
  client/src/pages/VisualEditorPage.tsx
  docs/MB_MD_PHASE_2_EMPTY_MESSAGE_BUG_FIX.md
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix

Fix errors in message saving and user authorization
  attached_assets/Pasted-injected-js-37-ComponentHealthMonitor-Running-1-health-checks-injected-js-37-ComponentHealthMo-1764005495414_1764005495415.txt
  attached_assets/image_1764005486611.png
  replit.md
  server/routes/mrBlue.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve element selection for style changes by extracting selectors from prompts
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764006087896_1764006087898.txt
  attached_assets/image_1764005845448.png
  attached_assets/image_1764006073693.png
  server/routes/autonomous.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix color change bug by extracting element selectors from user prompts
  docs/MB_MD_COLOR_CHANGE_BUG_INVESTIGATION.md
  replit.md
Due: prettier --write

Fix selector extraction for styling elements by cleaning prompts
  attached_assets/Pasted--Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-events-68c9ad4d-1764006801885_1764006801885.txt
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764006955963_1764006955965.txt
  attached_assets/image_1764006811993.png
  attached_assets/image_1764006927027.png
  server/routes/autonomous.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation to reflect the final fix for the color change bug
  docs/MB_MD_COLOR_CHANGE_BUG_INVESTIGATION.md
Due: prettier --write

Fix color change bug by correctly extracting element selectors
  replit.md
Due: prettier --write

Fix element selection to correctly apply style changes
  attached_assets/image_1764007608323.png
Due: none

Make style changes apply to specific elements from prompts
  attached_assets/image_1764007798824.png
  server/routes/autonomous.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve style change detection by expanding recognized keywords
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764008147681_1764008147683.txt
  attached_assets/image_1764008110603.png
  attached_assets/image_1764008135685.png
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve styling capabilities by allowing targeted element modifications
  attached_assets/image_1764008283490.png
  client/src/lib/iframeInjector.ts
Due: tsc --noEmit, prettier --write, eslint --fix
