Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Document Mr. Blue feature activation issues and research findings
  attached_assets/image_1763773573459.png
  docs/MB_MD_RESEARCH_REPORT_WHY_NOT_DONE.md
Due: prettier --write

Make the visual editor accessible without login during beta testing
  server/routes/mrBlue.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enable AI coding assistance and increase code generation limits for beta testing
  client/src/lib/mrBlueCapabilities.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Allow users to start the plan without logging in
  server/routes/thePlanRoutes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Automatically refresh user access tokens when they expire
  client/src/lib/queryClient.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve bug and error suggestion engine by adding new data sources
  server/services/mrBlue/solutionSuggesterAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enable guest access and AI generation for core features
  docs/MB_MD_AGENT_EXECUTION_REPORT.md
  replit.md
Due: prettier --write

Allow Mr. Blue to handle conversations and messages without CSRF errors
  server/middleware/csrf.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Document testing process and outcomes for Mr. Blue beta deployment
  docs/MB_MD_FINAL_TEST_REPORT.md
Due: prettier --write

Use a god-level test user for unauthenticated interactions
  server/routes/mrBlue.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enable full chat functionality without user login
  docs/MB_MD_GOD_MODE_COMPLETE.md
  replit.md
Due: prettier --write

Create comprehensive plan for AI-powered code development and testing
  docs/MB_MD_ULTIMATE_INTELLIGENCE_PLAN.md
Due: prettier --write

Use a different AI model for generating code suggestions and fixes
  server/services/mrBlue/solutionSuggesterAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix AI suggestions to provide real code fixes and root cause analysis
  replit.md
  server/services/mrBlue/solutionSuggesterAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add streaming functionality for AI chat and visual changes
  .replit
  client/src/components/visual-editor/StreamingStatusPanel.tsx
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add element highlighting and selection functionality to the visual editor
  client/src/components/visual-editor/ElementHighlighter.tsx
  client/src/pages/VisualEditorPage.tsx
  server/routes/mrblue-stream.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Create a comprehensive guide for new AI agents to follow project methodologies
  .replit
  MB_MD_AGENT_HANDOFF_NOV22_2025.md
Due: prettier --write

Add memory system panel to the visual editor interface
  .replit
  client/src/components/visual-editor/MemoryPanel.tsx
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add progress tracking to the visual editor interface
  client/src/components/visual-editor/ProgressPanel.tsx
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add database schema for browser automation recordings
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add browser automation capabilities to the platform
  .replit
  client/src/components/visual-editor/BrowserAutomationPanel.tsx
  client/src/pages/VisualEditorPage.tsx
  server/routes/mrblue-orchestration-routes.ts
  server/services/mrBlue/BrowserAutomationService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Complete Phase 2 of the AI system with browser automation capabilities
  replit.md
Due: prettier --write

Saved progress at the end of the loop
  .replit
Due: none

Establish hierarchical AI training system for agent management
  .replit
  docs/MB_MD_HIERARCHICAL_TRAINING_PROTOCOL.md
Due: prettier --write

Update documentation to map Mr. Blue's services and visualize integration progress
  docs/MR_BLUE_SERVICE_MAP.md
  docs/VISUAL_EDITOR_INTEGRATION_ROADMAP.md
Due: prettier --write

Update project documentation to reflect new hierarchical training protocols
  .replit
  MB_MD_PROGRESS_REPORT_NOV22_2025.md
  docs/MB.MD
  replit.md
Due: prettier --write

Update project status to reflect completion of hierarchical training and infrastructure research
  .replit
  MB_MD_AGENT_HANDOFF_NOV22_2025.md
Due: prettier --write

Add new services and database tables for user preferences and workflows
  .replit
  MB_MD_PHASE_2_EXECUTION_PLAN.md
  server/services/mrBlue/preferenceExtractor.ts
  server/services/mrBlue/workflowPatternTracker.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add API endpoints for all 10 Mr. Blue agents
  server/routes/mrblue-agent-events-routes.ts
  server/routes/mrblue-dependencies-routes.ts
  server/routes/mrblue-git-commit-routes.ts
  server/routes/mrblue-learning-routes.ts
  server/routes/mrblue-preferences-routes.ts
  server/routes/mrblue-quality-validator-routes.ts
  server/routes/mrblue-role-adapter-routes.ts
  server/routes/mrblue-subscription-routes.ts
  server/routes/mrblue-task-planner-routes.ts
  server/routes/mrblue-workflow-patterns-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add new agents and integrations for the Mundo Tango platform
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update event bus and dependency tracker references for improved functionality
  server/routes/mrblue-agent-events-routes.ts
  server/routes/mrblue-dependencies-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation to reflect completion of API routes for additional agents
  replit.md
Due: prettier --write

Add user interface components for several AI agents
  .replit
  MB_MD_COMPLETE_DEPLOYMENT_PLAN.md
  client/src/components/mrBlue/CodeQualityDashboard.tsx
  client/src/components/mrBlue/GitCommitPanel.tsx
  client/src/components/mrBlue/PreferencesPanel.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add new panels for agent event viewing and task breakdown
  client/src/components/mrBlue/AgentEventViewer.tsx
  client/src/components/mrBlue/DependencyGraph.tsx
  client/src/components/mrBlue/TaskBreakdownPanel.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
