Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Create AUDIO_CONVERSATION_README.md for feature details
  AUDIO_CONVERSATION_README.md
Due: prettier --write

Document implementation status and action plan
  IMPLEMENTATION_STATUS.md
Due: prettier --write

Implement audio conversation routes and functionality
  server/routes/audioConversation.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Implement ElevenLabsService for TTS and STT
  server/services/mrblue/elevenLabsService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add AudioConversationButton component
  client/src/components/AudioConversationButton.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add environment setup guide for audio conversation feature
  docs/ENV_SETUP.md
Due: prettier --write

Complete audio conversation feature implementation
  AUDIO_CONVERSATION_COMPLETE.md
Due: prettier --write

Add integration and testing guide for audio feature
  INTEGRATION_GUIDE.md
Due: prettier --write

Add audio conversation integration script
  apply-audio-integration.sh
Due: none

Add final deployment plan for audio conversation feature
  MB_MD_FINAL_DEPLOYMENT_PLAN.md
Due: prettier --write

Integrate AudioConversationButton into AdminLayout
  client/src/components/AdminLayout.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add voice mode functionality to MrBlueFloatingButton
  client/src/components/mrBlue/MrBlueFloatingButton.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add admin interface for managing multi-perspective audits
  client/src/App.tsx
  client/src/components/AdminLayout.tsx
  client/src/pages/admin/ThePlanAdminPage.tsx
  mb.md
  server/routes.ts
  server/routes/thePlanAdminRoutes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add marketing video integration and improve tour generation
  mb.md
  server/routes/mrBlueAgents.ts
  server/routes/thePlanAdminRoutes.ts
  server/routes/video-recording-routes.ts
  server/services/tour/TourGenerationService.ts
  server/services/video/PageVideoCaptureService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add fallback images for city locations across the platform
  client/src/pages/HousingMarketplacePage.tsx
  client/src/pages/TravelPlannerPage.tsx
  mb.md
Due: tsc --noEmit, prettier --write, eslint --fix

Complete all development tasks and update documentation
  replit.md
Due: prettier --write

Complete backend integration for visual editor and update documentation
  docs/MB_MD_V9_3_HANDOFF_PLAN.md
  replit.md
Due: prettier --write

Update application to fetch user data and counts from APIs
  client/src/components/GlobalTopbar.tsx
  client/src/components/esa/TopNavigationBar.tsx
  client/src/pages/AccountSettingsPage.tsx
  client/src/pages/AdminUsersPage.tsx
  client/src/pages/EmailVerificationPage.tsx
  client/src/pages/admin/RolesPermissionsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update user identification across multiple components
  client/src/components/mr-blue/PlanProgressTracker.tsx
  client/src/components/mr-blue/ThePlanView.tsx
  client/src/components/mrBlue/MrBlueChat.tsx
  client/src/pages/travel/TravelExpensesPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation with audit results and fixes for hardcoded user IDs
  replit.md
Due: prettier --write

Improve plan progress tracking and chat functionality for logged-in users
  client/src/components/mr-blue/PlanProgressTracker.tsx
  client/src/components/mr-blue/ThePlanView.tsx
  client/src/components/mrBlue/MrBlueChat.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add authentication guards and remove fake data across the platform
  replit.md
Due: prettier --write

Update event import process to include missing data
  attached_assets/Pasted-CRITICAL-BUG-FOUND-261-scraped-events-marked-approved-b_1765165938482.txt
  docs/MBMD-MASTER-EXECUTION-PLAN.md
Due: prettier --write

Address critical production issues by fixing error handling and adding WebSocket heartbeats
  docs/MBMD-MASTER-EXECUTION-PLAN.md
  server/index.ts
  server/routes/pro.ts
  server/services/livestream-websocket.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve error handling and remove unused files
  client/src/components/feed/NewPostsBanner.tsx
  client/src/pages/VisualEditorPage.backup.tsx
  docs/MBMD-MASTER-EXECUTION-PLAN.md
  replit.md.backup.20251121_103932
  server/middleware/csp.ts.deprecated
  server/routes/facebook-webhooks.ts
  server/services/EmailService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update project status and mark security tasks as complete
  docs/MBMD-MASTER-EXECUTION-PLAN.md
Due: prettier --write

Improve application stability and security by fixing critical issues
  client/src/components/feed/NewPostsBanner.tsx
  client/src/pages/travel/TravelExpensesPage.tsx
  docs/MBMD-MASTER-EXECUTION-PLAN.md
  server/lib/lancedb.ts
  server/routes.ts
  server/routes/ai-selector-routes.ts
  server/services/ai/OpenAIService.ts
  server/services/ai/SemanticCacheService.ts
  server/services/aiCodeGenerator.ts
  server/services/codeGenerator.ts
  server/services/intelligence/patternRecognition.ts
  server/services/knowledge/KnowledgeAutoSaver.ts
  server/services/learning/learningCoordinator.ts
  server/services/mrBlue/qualityValidatorAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enable reviews to load when housing details are available
  client/src/pages/HousingListingDetailPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update project progress and document recent fixes
  docs/MBMD-MASTER-EXECUTION-PLAN.md
  replit.md
Due: prettier --write

Add real analytics, event filters, and replace placeholders with live data
  client/src/components/events/EventFilters.tsx
  client/src/pages/AdminDashboardPage.tsx
  client/src/pages/EventDetailsPage.tsx
  client/src/pages/EventsPage.tsx
  client/src/pages/TangoResume.tsx
  docs/MBMD-MASTER-EXECUTION-PLAN.md
Due: tsc --noEmit, prettier --write, eslint --fix

Implement password change functionality and improve placeholder links
  client/src/components/profile/settings/SecuritySubTab.tsx
  client/src/components/visual-editor/componentTemplates.ts
  client/src/pages/EventDetailsPage.tsx
  server/routes/auth.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Integrate interactive map and improve admin features
  client/src/components/profile/settings/SubscriptionSubTab.tsx
  client/src/pages/AdminUsersPage.tsx
  client/src/pages/HostHomesPage.tsx
  server/routes/admin-routes.ts
  server/routes/auth.ts
  server/routes/event-routes.ts
  server/routes/housing-routes.ts
  server/routes/messaging-routes.ts
  server/routes/profileRoutes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update community map and notifications, improve admin tools, and enhance learning systems
  client/src/components/profile/ProfileTabTravel.tsx
  client/src/pages/CommunityMapPage.tsx
  client/src/pages/EventsPage.tsx
  client/src/pages/NotificationPreferencesPage.tsx
  client/src/pages/ProfilePrototypePage.tsx
  client/src/pages/StreamDetailPage.tsx
  client/src/pages/admin/AdminContentCenterPage.tsx
  client/src/pages/mr-blue-avatar-3d.tsx
  client/src/pages/platform/ESACommunicationsPage.tsx
  client/src/pages/pro/PROGroupPublicPage.tsx
  docs/MBMD-MASTER-EXECUTION-PLAN.md
  server/index.ts
  server/routes.ts
  server/routes/agentLearning.ts
  server/routes/content-routes.ts
  server/routes/map-routes.ts
  server/routes/mrBlue.ts
  server/services/content/FacelessContentService.ts
  server/services/self-healing/AutoFixEngine.ts
  server/services/self-healing/index.ts
  shared/data/tangoCities.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve calendar and messaging features with new UI elements and backend functionality
  client/src/pages/CalendarPage.tsx
  client/src/pages/EventCreationPage.tsx
  client/src/pages/MessagesPage.tsx
  server/index.ts
  server/routes/messages-routes.ts
  server/routes/page-audit-routes.ts
  server/services/auditing/AuditService.ts
  server/workers/messaging-worker.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add messaging worker and graceful shutdown for continuous services
  replit.md
  server/index.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
