Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Update documentation with bundle size optimization and deployment strategies
  replit.md
Due: prettier --write

Make event, group, and housing pages publicly accessible
  client/src/App.tsx
  client/src/components/feed/NewPostsBanner.tsx
  client/src/pages/PricingPage.tsx
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix

Update calendar to use date-fns instead of moment
  attached_assets/image_1765022462976.png
Due: none

Remove legacy date formatting library for improved performance
  attached_assets/image_1765025960980.png
Due: none

Update content moderation page to use real data and improve functionality
  client/src/pages/ContentModerationPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix system-wide API request errors and improve content moderation
  replit.md
Due: prettier --write

Fix bug in content moderation queue query to properly pass status
  client/src/pages/ContentModerationPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix admin moderation page API request and placeholder data
  client/src/pages/admin/ModerationDashboard.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Make group details page public and add a past events tab
  client/src/App.tsx
  client/src/pages/EventsPage.tsx
  client/src/pages/GroupDetailsPage.tsx
  replit.md
  server/routes/event-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Allow users to view past and upcoming events for groups
  client/src/pages/GroupDetailsPage.tsx
  server/routes/group-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update billing and Stripe configuration with new pricing tiers and add-ons
  replit.md
  scripts/seed-stripe-products.ts
  server/routes/billing-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Prepare for comprehensive platform audit and data cleanup
  attached_assets/Final_audit_1765076072236.md
  attached_assets/Scraping_1765075861360.md
  attached_assets/Volunteers_1765075633714.md
Due: prettier --write

Update AI agent count and scraping source information
  replit.md
Due: prettier --write

Update pricing page to display accurate subscription tiers and prices
  client/src/pages/PricingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add documentation for completed past events feature and session progress
  replit.md
Due: prettier --write

Remove pricing system and related components from the application
  attached_assets/Final_audit_1765082539109.md
  attached_assets/MundoTango_Payment_&_Billing_Systems_Audit_Report_1765084697351.md
  attached_assets/Scraping_1765082231555.md
  attached_assets/Volunteers_1765082542767.md
  client/src/App.tsx
  client/src/pages/PricingPage.tsx
  client/src/pages/admin/PricingManagerPage.tsx
  server/algorithms/pricing-optimization.ts
  server/routes.ts
  server/routes/pricing-routes.ts
  server/scripts/seed-deployment-blockers.ts
  server/services/PricingManagerService.ts
  server/services/marketplace/DynamicPricing.ts
  tests/e2e/pages/public/PricingPage.ts
  tests/e2e/pricing-page.spec.ts
  tests/e2e/stripe-pricing-e2e.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add a section to display shared information between friends
  client/src/pages/FriendshipPage.tsx
  server/routes.ts
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Implement international payment system with multi-gateway support
  client/src/components/payments/CurrencySelector.tsx
  client/src/components/payments/PaymentMethodSelector.tsx
  replit.md
  server/routes.ts
  server/routes/payment-routes.ts
  server/services/payments/compliance/AMLKYCVerifier.ts
  server/services/payments/compliance/SanctionsScreener.ts
  server/services/payments/compliance/TaxCalculator.ts
  server/services/payments/core/CurrencyManager.ts
  server/services/payments/core/PaymentOrchestrator.ts
  server/services/payments/core/WebhookDispatcher.ts
  server/services/payments/gateways/AdyenAdapter.ts
  server/services/payments/gateways/WiseAdapter.ts
  server/services/payments/methods/LocalPaymentMethods.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add task planning and event location details to the system
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Integrate messaging webhooks by bypassing CSRF protection
  server/middleware/csrf.ts
  server/routes.ts
  server/routes/messaging-webhook-routes.ts
  server/services/messaging/N8nWebhookService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation with expert recommendations and database migration
  docs/ARCHITECTURE.md
  docs/DESIGN_NOTE_FEP.md
  docs/EXEC_BRIEF.md
  docs/INCIDENT_PLAYBOOK.md
  docs/SUPABASE_MIGRATION.sql
  docs/TANDA_DE_3_WEDGE.md
Due: prettier --write

Add documentation for expert council remediation and OSI references
  docs/prds/PRD_EXPERT_COUNCIL_OSI_REFERENCES.md
  replit.md
Due: prettier --write

Add documentation for AI cost management and UX guidelines
  docs/AI_COST_BUDGET.md
  docs/UX_AUDIT_DAVOR.md
Due: prettier --write

Add more tango community data and fix date formatting export
  .replit
  attached_assets/Pasted-Country-City-Region-Description-URLs-Argentina-Ushuaia-_1765131912146.txt
  attached_assets/Pasted-Good-question-Let-me-investigate-why-Buenos-Aires-event_1765132492366.txt
  attached_assets/Scraping_1765132754712.md
  attached_assets/Volunteers_1765132894959.md
  attached_assets/image_1765132220234.png
  client/src/lib/safeDateFormat.ts
  package-lock.json
  package.json
  server/scripts/populateTangoCommunities.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add data integrity pattern to ensure all statistics are dynamically fetched
  attached_assets/Final_audit_1765136772608.md
  attached_assets/Scraping_1765136198294.md
  attached_assets/Scraping_1765136775656.md
  attached_assets/Volunteers_1765136778945.md
  docs/UX_RECOMMENDATIONS.md
  mb.md
Due: prettier --write

Update website copy to reflect real community data and global reach
  client/src/pages/AboutPage.tsx
  client/src/pages/CityGuidesPage.tsx
  client/src/pages/FeaturesPage.tsx
  client/src/pages/HomePage.tsx
  client/src/pages/LandingPage.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/MarketingPrototype.tsx
  client/src/pages/MarketingPrototypeEnhanced.tsx
  client/src/pages/MarketingPrototypeOcean.tsx
  client/src/pages/MissionPage.tsx
  client/src/pages/RegisterPage.tsx
  client/src/pages/TestimonialsPage.tsx
  client/src/pages/marketing/ForDancersPage.tsx
  client/src/pages/marketing/ForOrganizersPage.tsx
  client/src/pages/marketing/ForTeachersPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add Google ADK integration and update data sources
  attached_assets/Pasted-Use-mb-md-side-quest-https-google-github-io-adk-docs-ho_1765139212026.txt
Due: none

Update platform to scrape event data and improve user management
  client/src/components/marketing/DemoModal.tsx
  client/src/pages/AdminUsersPage.tsx
  client/src/pages/DemosPage.tsx
  client/src/pages/GroupsPrototypePage.tsx
  client/src/pages/TeacherDetailPage.tsx
  server/routes/scraping-admin-routes.ts
  server/services/scraping/HoyMilongaScraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
