Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Add file extensions to module imports for better resolution
  server/routes/scraping-admin-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix errors in event data processing and module imports
  server/routes/scraping-admin-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve deduplication process by removing unused result variable
  server/routes/scraping-admin-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add missing imports and fix schema self-reference issue
  server/routes.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update how scraped events are displayed and processed
  server/routes/event-routes.ts
  server/services/ScrapedEventIngestionService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Make city cards navigate to their respective hub pages
  client/src/pages/CommunityWorldMapPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update city page to improve housing display and terminology
  client/src/components/housing/AirbnbHousingView.tsx
  client/src/components/housing/AirbnbListingCard.tsx
  client/src/components/housing/HousingCreationWizard.tsx
  client/src/pages/CityHubPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance map functionality with typed location pins and improved housing display
  client/src/components/housing/AirbnbHousingView.tsx
  client/src/components/map/CommunityMapWithLayers.tsx
  client/src/pages/GroupDetailsPage.tsx
  client/src/pages/housing/CreateListingPage.tsx
  playwright-helpers/auth-setup.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve map to filter markers based on selected layers
  client/src/components/map/CommunityMapWithLayers.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance group and event details pages with new filtering and display options
  client/src/components/events/CompactEventFilters.tsx
  client/src/components/groups/EnhancedMembersList.tsx
  client/src/pages/GroupDetailsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add styled map pins and tango role filters to group pages
  client/src/components/groups/EnhancedMembersList.tsx
  client/src/pages/GroupDetailsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

refactor: preserve legacy mb.md as mb-legacy.md for Mr Blue brain v2.0
  mb-legacy.md
Due: prettier --write

Add Patterns 53-55: Data Quality, Identity Resolution, Verification Scoring
  MB.MD
Due: none

Update methodology guidelines and fix database query issues
  mb-legacy.md
  mr-blue-brain/agents/business/index.md
  mr-blue-brain/agents/core/index.md
  mr-blue-brain/agents/life-ceo/index.md
  mr-blue-brain/agents/overview.md
  mr-blue-brain/agents/page-agents/index.md
  mr-blue-brain/agents/scraping/index.md
  mr-blue-brain/agents/self-healing/index.md
  mr-blue-brain/cognition/bayesian-framework.md
  mr-blue-brain/cognition/chain-of-thought.md
  mr-blue-brain/cognition/fep-active-inference.md
  mr-blue-brain/cognition/react-protocol.md
  mr-blue-brain/cognition/reflexion-loop.md
  mr-blue-brain/cognition/tree-of-thoughts.md
  mr-blue-brain/identity/personality-modes.md
  mr-blue-brain/identity/soul.md
  mr-blue-brain/identity/system-prompt.md
  mr-blue-brain/identity/values.md
  mr-blue-brain/mb.md
  mr-blue-brain/n8n/connection-guide.md
  mr-blue-brain/n8n/webhook-endpoints.md
  mr-blue-brain/n8n/workflow-templates.md
  mr-blue-brain/operations/10-step-workflow.md
  mr-blue-brain/operations/error-recovery.md
  mr-blue-brain/orchestration/a2a-communication.md
  mr-blue-brain/orchestration/hierarchical-enforcement.md
  mr-blue-brain/orchestration/magentic-dynamic.md
  mr-blue-brain/orchestration/mixture-of-experts.md
  mr-blue-brain/orchestration/parallel-execution.md
  mr-blue-brain/patterns/advanced-patterns.md
  mr-blue-brain/patterns/core-patterns.md
Due: prettier --write

Update AI architecture to a modular system with expanded agent capabilities
  replit.md
Due: prettier --write

Update housing creation links and improve listing display
  client/src/components/EmptyStateResolver.tsx
  client/src/pages/CityHubPage.tsx
  client/src/pages/HousingMarketplacePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add city recommendations and tips section to the city hub page
  client/src/pages/CityHubPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve recommendations display by adding fallback location data
  client/src/pages/CityHubPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve city hub layout and add host onboarding script
  .deployignore
  client/src/pages/CityHubPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Remove outdated groups and recommendations sections from city overview
  client/src/pages/CityHubPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix infinite loop on city hub map component
  client/src/components/map/CommunityMapWithLayers.tsx
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance housing creation and city exploration features
  client/src/components/recommendations/RecommendationsList.tsx
  client/src/pages/CityHubPage.tsx
  client/src/pages/housing/CreateListingPage.tsx
  server/routes/venue-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation for agent tooling and deployment policies
  .deployignore
  mb.md
  replit.md
Due: prettier --write

Add city_pois table migration for schools, shops, venue rentals
  db/migrations/007_create_city_pois.sql
Due: none

Update navigation and data fetching for real-time updates
  .deployignore
  client/src/components/GlobalTopbar.tsx
  client/src/components/housing/AirbnbHousingView.tsx
  client/src/components/housing/HousingCreationWizard.tsx
  client/src/components/map/CommunityMapWithLayers.tsx
  client/src/components/navigation/UnifiedTopBar.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add user_external_links table for teacher sites and social profiles
  db/migrations/008_create_user_external_links.sql
Due: none

Add event_participants table for event team members
  db/migrations/009_create_event_participants.sql
Due: none

Add ALTER users migration for Professional tier features
  db/migrations/010_alter_users_add_pro_features.sql
Due: none

Add ALTER cities migration for HoyMilonga tracking fields
  db/migrations/011_alter_cities_hoymilonga_fields.sql
Due: none

Improve address search accuracy by skipping popular city matches
  server/routes/locations-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve address search to prioritize specific cities
  client/src/components/housing/HousingCreationWizard.tsx
  client/src/components/input/UnifiedLocationPicker.tsx
  client/src/pages/EventCreationPage.tsx
  replit.md
  server/routes/locations-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix
