Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Improve friendship status display and request handling on profiles
  client/src/components/friendship/FriendRequestReviewModal.tsx
  client/src/pages/ProfilePage.tsx
  server/routes/friends-routes.ts
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update friend detail page to correctly display friend information
  client/src/pages/FriendDetailPage.tsx
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix

Add endpoint to retrieve specific friendship details
  server/routes/friends-routes.ts
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add media upload functionality to the friendship questionnaire and update UI elements
  client/src/components/friendship/FriendshipQuestionnaire.tsx
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Make "My Stuff" section icons visible by applying a fallback color
  client/src/components/AppSidebar.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve sidebar to correctly display user's saved items
  client/src/components/AppSidebar.tsx
  replit.md
  test-hoymilonga-scraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve sidebar navigation and user data display
  MERGE_STRATEGY.md
  client/src/components/AppSidebar.tsx
  docs/mb-md/README.md
  server/routes/auth.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update user profile and refresh data to keep "My stuff" visible
  .replit
  client/src/contexts/AuthContext.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add database connection configuration for the application
  .replit
  server/db.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Saved your changes before starting work
  attached_assets/image_1765417090150.png
Due: none

Update documentation to reflect database restoration and admin credentials
  replit.md
Due: prettier --write

Update documentation to reflect current development status and plan
  .replit
  attached_assets/Scraping.__you_were_working_on_this_yesterday._I_n_1765419337760.md
  attached_assets/Scraping.__you_were_working_on_this_yesterday._I_n_1765419679032.md
Due: prettier --write

Restored to '287c32b9b9952af5f7cc09252f11fa5a1d6f3d6a'
  .replit
  MERGE_STRATEGY.md
  attached_assets/image_1765417090150.png
  client/src/components/AppSidebar.tsx
  docs/mb-md/README.md
  replit.md
  server/db.ts
  server/routes/auth.ts
  test-hoymilonga-scraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add automated city group creation and new event scrapers
  server/agents/scraping/TangoCatScraper.ts
  server/agents/scraping/TangoFestivalsScraper.ts
  server/agents/scraping/masterOrchestrator.ts
  server/routes/profileRoutes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add new scrapers for priority tango event sources
  server/agents/scraping/masterOrchestrator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix friend requests by reordering API routes for correct matching
  server/routes/friends-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation to include event scraping and route fixes
  replit.md
Due: prettier --write

Document data flows and testing plans for the admin center
  docs/MB_MD_ADMIN_CENTER_TESTING_PLAN_v9.9.4.md
Due: prettier --write

Create comprehensive testing documentation for user interaction tables
  docs/MB_MD_TESTING_PLAN_PART2_v9.9.4.md
  docs/MB_MD_TESTING_PLAN_v9.9.4.md
Due: prettier --write

Add a new scenario generator for comprehensive testing coverage
  client/src/components/volunteer/VolunteerDashboard.tsx
  server/routes.ts
  server/routes/scenarioGeneratorRoutes.ts
  server/services/volunteer/scenarioGenerator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update volunteer testing statistics and calculations
  attached_assets/Pasted-Exactly-right-We-now-have-a-complete-map-of-412-databas_1765427032734.txt
  server/services/volunteer/volunteerService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add automated issue routing and gamification to volunteer testing
  server/routes/volunteerTesting.ts
  server/services/volunteer/gamificationRewards.ts
  server/services/volunteer/issueRouting.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add volunteer testing system with issue routing and gamification
  replit.md
Due: prettier --write

Add comprehensive documentation for uncovered platform systems
  docs/MB_MD_TESTING_PLAN_PART4_UNCOVERED_SYSTEMS_v9.9.4.md
Due: prettier --write

Improve volunteer testing system with better issue routing and rewards
  server/routes/volunteerTesting.ts
  server/services/volunteer/gamificationRewards.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Expand testing scenarios to cover all platform database tables
  server/services/volunteer/scenarioGenerator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix average time on page calculation for user patterns
  server/services/PredictiveContextService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Expand testing scenarios and update documentation with new coverage statistics
  replit.md
Due: prettier --write

Update profile editing to better refresh user data after changes
  client/src/components/profile/ProfileTabAbout.tsx
  client/src/pages/ProfileEditPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve E2E test stability and performance by fixing memory and timeout issues
  replit.md
Due: prettier --write

Improve UI test stability by optimizing Playwright execution
  e2e/global-setup.ts
  e2e/ui-test-runner.ts
  playwright.config.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
