Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Update AI to correctly handle custom prompts for personalized responses
  server/routes/mr-blue-enhanced.ts
  tests/e2e/agents/mr-blue-ai-debug.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add a resume re-upload feature to the interview page
  attached_assets/image_1765673924097.png
  client/src/pages/TalentMatchInterviewPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update AI interview to better acknowledge resume uploads
  attached_assets/image_1765673658343.png
  client/src/pages/TalentMatchInterviewPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add support for custom AI system prompts in the API
  replit.md
Due: prettier --write

Improve chat functionality by handling custom prompts for interviews
  server/routes/mrblue.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add detailed logging for resume PDF parsing to aid debugging
  attached_assets/image_1765675415439.png
  server/services/resume-parser.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix error when parsing PDF resumes by updating module import
  attached_assets/image_1765675586995.png
  server/services/resume-parser.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve PDF parsing by handling module import variations
  attached_assets/image_1765676556463.png
  server/services/resume-parser.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve PDF text extraction with multiple parsing strategies
  attached_assets/image_1765676882161.png
  server/services/resume-parser.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update resume parser to use the latest pdf-parse version
  server/services/resume-parser.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add volunteer details page and thank you page with updated navigation
  client/src/App.tsx
  client/src/pages/TalentMatchInterviewPage.tsx
  client/src/pages/VolunteerThankYouPage.tsx
  client/src/pages/admin/TalentPipelinePage.tsx
  client/src/pages/admin/VolunteerDetailsPage.tsx
  server/storage.ts
  server/talent-match-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Lower the number of interview questions for resume and work assignment
  client/src/pages/TalentMatchInterviewPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add talent pipeline enhancement documentation for volunteer onboarding
  replit.md
Due: prettier --write

Update marketing site to showcase upcoming features and donations
  replit.md
Due: prettier --write

Remove unused pages and features, and update navigation links
  attached_assets/Skoot_(41)_1765684040276.jpg
  client/src/App.tsx
  client/src/components/PublicNavbar.tsx
  client/src/pages/LandingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update donation and support pages with GoFundMe embed and remove pricing
  client/src/components/PublicNavbar.tsx
  client/src/components/marketing/GoFundMeEmbed.tsx
  client/src/pages/DonatePage.tsx
  client/src/pages/LandingPage.tsx
  client/src/pages/marketing/SupportPage.tsx
  server/middleware/securityHeaders.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update landing page metadata and component imports
  attached_assets/image_1765681858453.png
  attached_assets/image_1765681866127.png
  client/src/pages/LandingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update marketing pages with new content and navigation improvements
  replit.md
Due: prettier --write

Update About, Contact, and Volunteer pages with new content and design elements
  client/src/pages/AboutPage.tsx
  client/src/pages/ContactPage.tsx
  client/src/pages/marketing/VolunteerPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Transitioned from Plan to Build mode
  attached_assets/Skoot_(16)_1765691279812.jpg
  attached_assets/Skoot_(20)_1765691279790.jpg
Due: none

Update marketing pages and navigation with new tango roles section
  client/src/App.tsx
  client/src/components/Footer.tsx
  client/src/components/PublicLayout.tsx
  client/src/components/PublicNavbar.tsx
  client/src/pages/AboutPage.tsx
  client/src/pages/marketing/AmbassadorsPage.tsx
  client/src/pages/marketing/ForDancersPage.tsx
  client/src/pages/marketing/ForOrganizersPage.tsx
  client/src/pages/marketing/MrBluePage.tsx
  client/src/pages/marketing/TangoRolesPage.tsx
  client/src/pages/marketing/VolunteerPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update marketing site with new content and navigation fixes
  attached_assets/image_1765695951565.png
Due: none

Fix errors in message display and structure
  attached_assets/Pasted-2025-12-14T07-07-06Z-info-Deployment-0eebddc0-4a5a-430c_1765696105723.txt
  attached_assets/image_1765696119004.png
  client/src/pages/messages/UnifiedInbox.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add message reactions and fix event scraping logic
  attached_assets/image_1765696474780.png
  client/src/pages/messages/UnifiedInbox.tsx
  server/agents/scraping/staticScraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Increase memory for build process to prevent deployment failures
  .replit
  attached_assets/image_1765697592448.png
Due: none

Improve app performance by optimizing module loading and memory usage
  .replit
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add lazy loading and suspense for avatar components
  client/src/components/mr-blue/CommandCenter.tsx
  client/src/components/mr-blue/MrBlueStudio.tsx
  client/src/components/visual-editor/MrBlueVisualChat.tsx
  client/src/components/visual-editor/MrBlueWhisperChat.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Transitioned from Plan to Build mode
  attached_assets/image_1765716053893.png
Due: none

Saved progress at the end of the loop
  .replit
Due: none

Update deployment to use reserved virtual machine instance
  attached_assets/image_1765716959090.png
Due: none

Update build tool to improve memory allocation during deployment
  .replit
  package-lock.json
  package.json
Due: prettier --write

Remove unused prototype pages and optimize code preview rendering
  attached_assets/image_1765717808000.png
  client/src/App.tsx
  client/src/components/visual-editor/CodePreview.tsx
  client/src/pages/CommunityPrototypePage.tsx
  client/src/pages/EventsGalleryPrototypePage.tsx
  client/src/pages/EventsPrototypePage.tsx
  client/src/pages/FavoritesPrototypePage.tsx
  client/src/pages/FeedPrototypePage.tsx
  client/src/pages/FriendsPrototypePage.tsx
  client/src/pages/GroupsPrototypePage.tsx
  client/src/pages/MarketingPrototype.tsx
  client/src/pages/MarketingPrototypeEnhanced.tsx
  client/src/pages/MarketingPrototypeOcean.tsx
  client/src/pages/MessagesPrototypePage.tsx
  client/src/pages/NotificationsPrototypePage.tsx
  client/src/pages/ProfilePrototypePage.tsx
  client/src/pages/mrblue/VibecodingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve application performance by optimizing code splitting and lazy loading
  replit.md
Due: prettier --write

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
