Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Show all events on the discover page and group details
  attached_assets/image_1765143356091.png
  attached_assets/image_1765143388287.png
  attached_assets/image_1765143421855.png
Due: none

Import previously scraped and approved events into the main event listing
  attached_assets/image_1765143632353.png
Due: none

Update event display to show all events and fix date handling
  client/src/pages/EventsPage.tsx
  client/src/pages/GroupDetailsPage.tsx
  server/routes/event-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Saved progress at the end of the loop
  .replit
Due: none

Add data sources to city guide and improve event coordinate accuracy
  client/src/pages/EventsPage.tsx
  client/src/pages/GroupDetailsPage.tsx
  server/routes/group-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Prioritize large events in discovery and remove redundant city explorer tab
  client/src/App.tsx
  client/src/components/AppSidebar.tsx
  client/src/pages/EventsPage.tsx
  client/src/pages/GroupDetailsPage.tsx
  server/routes/event-routes.ts
  server/routes/group-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update database connection to prioritize Supabase URL
  .replit
  server/db/index.ts
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update database connection to support Supabase
  .replit
  package-lock.json
  package.json
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Initialize the database schema with all necessary tables for the platform
  .replit
  attached_assets/Pasted--workspace-DATABASE-URL-postgresql-postgres-iuvbqahpvpd_1765401954765.txt
Due: none

Complete database migration to Supabase and ensure application functionality
  .replit
  DATABASE_MIGRATION_COMPLETE.md
Due: prettier --write

Improve friend request and friendship management functionality
  attached_assets/image_1765403289253.png
  server/routes/friends-routes.ts
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Allow users to log in by creating an admin user
  attached_assets/image_1765403885674.png
Due: none

Update user pattern tracking to use correct time on page metric
  server/services/PredictiveContextService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update database connections and stories endpoint to fix compatibility issues
  attached_assets/Pasted--metadata-Object-errorType-http-error-errorMessage-HTTP_1765404323084.txt
  server/db/index.ts
  server/routes.ts
  shared/db.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix issue with database connection and data retrieval
  attached_assets/image_1765408708033.png
Due: none

Adjust event creation and public stats display logic
  server/routes.ts
  server/scripts/seed-users-simple.ts
  server/scripts/seedTangoData.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update messaging system to handle direct and group conversations
  client/src/hooks/useMessages.ts
  client/src/pages/MessagesPage.tsx
  server/routes/messaging-routes.ts
  server/routes/mrblue-error-analysis-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix database schema issues and restore core API functionality
  replit.md
  scripts/add-missing-cols.ts
  scripts/check-follows-new.ts
  scripts/check-posts-data.ts
  scripts/check-posts.ts
  scripts/check-schema-detailed.ts
  scripts/check-schema.ts
  scripts/check-users.ts
  scripts/check-uuid-tables-data.ts
  scripts/find-uuid-tables.ts
  scripts/fix-all-schema.ts
  scripts/fix-all-uuid-tables.ts
  scripts/fix-events-table.ts
  scripts/fix-follows.ts
  scripts/fix-posts-table.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add detailed plans for platform development and data restoration
  attached_assets/image_1765410297781.png
Due: none

Update stats API and user seeding to accurately reflect roles and counts
  replit.md
  server/routes.ts
  server/scripts/seed-users-simple.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update messaging and profile features for enhanced user interaction
  client/src/components/friends/SendFriendRequestModal.tsx
  client/src/hooks/useMessages.ts
  client/src/pages/MessagesPage.tsx
  client/src/pages/ProfilePage.tsx
  server/services/scrapers/BaseEventScraper.ts
  server/services/scrapers/SocialMediaScraper.ts
  server/services/scrapers/StaticPageScraper.ts
  server/services/scrapers/TangopolixScraper.ts
  server/services/self-healing/AutoFixEngine.ts
  server/workers/messaging-worker.ts
  shared/data/tangoCities.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive social data for the admin user
  server/scripts/seedAdminMessaging.ts
  server/scripts/seedAdminSocialData.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add a comprehensive tango event scraping system
  run_scrapers.ts
  server/agents/scraping/HoyMilongaScraper.ts
  server/agents/scraping/seedAllSources.sql
  server/scripts/populateTangoCommunities.ts
  server/scripts/seedScrapingSources.ts
  test-hoymilonga-scraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Populate community map with city, venue, and housing data
  attached_assets/image_1765412294563.png
  replit.md
Due: prettier --write

Add a detailed report on the branch merge recovery progress
  replit.md
Due: prettier --write

Test connection to old database to assess data migration feasibility
  server/scripts/testOldDbConnection.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix an issue that prevented the application from starting
  server/routes/map-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add test users and friend requests to the platform
  attached_assets/Scraping.__you_were_working_on_this_yesterday._I_n_1765442681748.md
Due: prettier --write

Update navigation and profile buttons for friend interactions
  client/src/components/AppSidebar.tsx
  client/src/pages/ProfilePage.tsx
  server/workers/socialWorker.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add friendship questionnaire to friend request process
  client/src/components/friendship/FriendshipQuestionnaire.tsx
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance direct messaging and friendship features with new UI and backend updates
  client/src/components/friendship/FriendRequestReviewModal.tsx
  client/src/pages/FriendshipPage.tsx
  client/src/pages/ProfilePage.tsx
  client/src/pages/messages/DirectMessages.tsx
  server/routes/friends-routes.ts
  server/routes/messages-routes.ts
  server/services/PredictiveContextService.ts
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
