Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Improve build performance by configuring manual code splitting
  attached_assets/image_1765720614896.png
Due: none

Increase build memory to process project assets effectively
  attached_assets/Pasted--workspace-NODE-OPTIONS-max-old-space-size-6144-npm-run_1765721304388.txt
Due: none

Optimize images across the platform to improve loading speeds
  .replit
  attached_assets/optimized/IMG_9144-optimized.jpg
  attached_assets/optimized/IMG_9171-optimized.jpg
  attached_assets/optimized/IMG_9414-optimized.jpg
  attached_assets/optimized/IMG_9422-optimized.jpg
  attached_assets/optimized/IMG_9441-optimized.jpg
  attached_assets/optimized/IMG_9474-optimized.jpg
  attached_assets/optimized/Skoot_16-optimized.jpg
  attached_assets/optimized/Skoot_20-optimized.jpg
  client/src/pages/AboutPage.tsx
  client/src/pages/FriendsPage.tsx
  client/src/pages/FriendshipPage.tsx
  client/src/pages/HelpPage.tsx
  client/src/pages/HomePage.tsx
  client/src/pages/life-ceo/FitnessAgentPage.tsx
  client/src/pages/life-ceo/HealthAgentPage.tsx
  client/src/pages/life-ceo/HomeManagementPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update React DOM to match React version
  attached_assets/image_1765722482058.png
  package-lock.json
  package.json
Due: prettier --write

Optimize profile page by lazily loading tab components
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Correct server import paths for location matching service
  server/agents/scraping/HoyMilongaScraper.ts
  server/agents/scraping/TangoCatScraper.ts
  server/agents/scraping/TangoFestivalsScraper.ts
  server/agents/scraping/staticScraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix production build errors by updating import paths
  attached_assets/image_1765732543611.png
Due: none

Increase build memory and optimize code splitting
  .replit
  attached_assets/Pasted-Build-failed-Your-deployment-attempt-had-the-following-_1765732741440.txt
Due: none

Conditionally load heavy features based on feature flags
  .replit
  attached_assets/image_1765734252918.png
  client/src/App.tsx
  client/src/components/FeatureDisabled.tsx
  client/src/config/featureFlags.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve build performance and reduce memory usage during deployment
  attached_assets/image_1765735974978.png
  attached_assets/image_1765736205952.png
  attached_assets/image_1765736309222.png
Due: none

Update documentation governance system to prevent content drift
  .replit
  docs/node trigger_scrape.js.ts' | grep -v node_modules | head -5/DOCUMENTATION_GOVERNANCE_SYSTEM.md
Due: prettier --write

Update access request system for improved user management
  attached_assets/image_1765738280114.png
  server/routes/godLevel.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Optimize build process to prevent memory exhaustion during deployment
  attached_assets/image_1765740625793.png
  run_scraping_now.mjs
  scripts/build.sh
Due: none

Add scripts to manage and verify event data in the database
  add_missing_columns.sql
  attached_assets/image_1765756576981.png
  check_event_fields.mjs
  check_events.mjs
  debug_events.mjs
  fix_published_at.mjs
  fix_schema.mjs
  publish_events.mjs
  run_migration.mjs
Due: none

Update event data and schema locations for API consistency
  .deployignore
  attached_assets/Pasted-2025-12-15T03-51-52Z-info-Deployment-6f5f38b2-a005-4f03_1765780756143.txt
  attached_assets/image_1765780810296.png
  fix_events_for_api.mjs
  test_exact_api_query.mjs
  test_scrape_5sources.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Saved progress at the end of the loop
  .replit
Due: none

Document Replit deployment size optimization and .gitignore usage
  .gitignore
  replit.md
Due: prettier --write

Optimize deployment configuration and update scraping logic
  .dockerignore
  cleanupCities
  replit.md
  server/agents/scraping/HoyMilongaScraper.ts
  server/services/CityMatcherService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update deployment documentation to reflect recent workspace size optimizations
  replit.md
Due: prettier --write

Fix deployment issues by cleaning up files and optimizing code
  .dockerignore
  cleanupCities
  replit.md
  scripts/cleanupCities.ts
  server/agents/scraping/HoyMilongaScraper.ts
  server/services/CityMatcherService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update build script to increase memory allocation for deployments
  scripts/build.sh
Due: none

Update build script to use bash for increased memory allocation
  cleanupCities.ts
  package.json
  scripts/cleanupCities.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Make vector storage initialization and usage more resilient
  server/lib/lancedb.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add modal for talent match flow with session persistence
  client/src/components/TalentMatchModal.tsx
  client/src/contexts/TalentMatchSessionContext.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Enable persistent session for Talent Match and integrate it into the registration flow
  client/src/App.tsx
  client/src/pages/RegisterPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix
