Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Saved progress at the end of the loop
  .replit
Due: none

Add Facebook Messenger invites and integrate Mr Blue systems
  client/src/App.tsx
  client/src/components/facebook/InviteSender.tsx
  client/src/components/mr-blue/CommandCenter.tsx
  client/src/components/mr-blue/FocusMode.tsx
  client/src/components/mr-blue/ThePlanView.tsx
  client/src/components/mr-blue/UnifiedMrBlue.tsx
  client/src/components/mr-blue/VisualEditorMode.tsx
  client/src/components/visual-editor/VisualEditorSplitPane.tsx
  client/src/contexts/MrBlueContext.tsx
  client/src/pages/FacebookInvites.tsx
  docs/MB_MD_FINAL_BUILD_PLAN.md
  server/routes.ts
  server/routes/facebook-messenger-routes.ts
  server/services/facebook/AIInviteGenerator.ts
  server/services/facebook/FacebookMessengerService.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add tables for social messages and friend closeness tracking
  .replit
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add features for social connection analysis and reputation tracking
  .replit
  client/src/App.tsx
  client/src/components/mr-blue/PlanProgressTracker.tsx
  client/src/components/mr-blue/ThePlanView.tsx
  client/src/components/reputation/CreateEndorsementDialog.tsx
  client/src/components/reputation/EndorsementCard.tsx
  client/src/components/reputation/TangoResume.tsx
  client/src/pages/ClosenessMetrics.tsx
  client/src/pages/FacebookDataImport.tsx
  client/src/pages/ReputationProfile.tsx
  server/routes.ts
  server/routes/mr-blue-plan-routes.ts
  server/routes/reputation-routes.ts
  server/routes/social-integration-routes.ts
  server/services/facebook/ClosenessCalculator.ts
  server/services/facebook/MultiPlatformScraper.ts
  server/services/mrBlue/PlanTrackerService.ts
  server/services/reputation/ReputationService.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add new pages and features for community and event exploration
  client/src/App.tsx
  client/src/pages/CityGroupsPage.tsx
  client/src/pages/CommunityMapPage.tsx
  client/src/pages/CreatePostPage.tsx
  client/src/pages/CustomGroupsPage.tsx
  client/src/pages/EventCalendarPage.tsx
  client/src/pages/EventCreationPage.tsx
  client/src/pages/EventDetailPage.tsx
  client/src/pages/FriendRequestsPage.tsx
  client/src/pages/HousingListingDetailPage.tsx
  client/src/pages/HousingMarketplacePage.tsx
  client/src/pages/HousingSearchPage.tsx
  client/src/pages/ProfessionalGroupsPage.tsx
  package-lock.json
  package.json
  server/routes.ts
  server/routes/event-routes.ts
  server/routes/housing-routes.ts
  server/routes/map-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add new pages for messaging, billing, and subscription management
  client/src/App.tsx
  client/src/pages/BillingHistory.tsx
  client/src/pages/InvoiceManagement.tsx
  client/src/pages/LandingPage.tsx
  client/src/pages/PaymentIntegration.tsx
  client/src/pages/SubscriptionPlans.tsx
  client/src/pages/messages/DirectMessages.tsx
  client/src/pages/messages/GroupChat.tsx
  client/src/pages/messages/MessageThreads.tsx
  server/routes.ts
  server/routes/messaging-routes.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add new pages for admin, Mr Blue, and user management
  client/src/App.tsx
  client/src/pages/admin/AdminDashboardPage.tsx
  client/src/pages/admin/FeatureFlagsPage.tsx
  client/src/pages/admin/IntegrationsPage.tsx
  client/src/pages/admin/PlatformSettingsPage.tsx
  client/src/pages/admin/ReportsLogsPage.tsx
  client/src/pages/admin/RolesPermissionsPage.tsx
  client/src/pages/admin/SystemHealthPage.tsx
  client/src/pages/admin/UserManagementPage.tsx
  client/src/pages/mrblue/AnalyticsPage.tsx
  client/src/pages/mrblue/ContextMemoryPage.tsx
  client/src/pages/mrblue/OnboardingPage.tsx
  client/src/pages/mrblue/SettingsPage.tsx
  client/src/pages/mrblue/VibecodingPage.tsx
  client/src/pages/mrblue/VisualEditorPage.tsx
  client/src/pages/mrblue/VoicePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add initial marketing page assets for the platform
  attached_assets/image_1763353616797.png
Due: none

Add marketing pages to the Ultimate series
  attached_assets/image_1763354079509.png
Due: none

Update project dependencies and documentation for improved stability
  .replit
  client/src/pages/admin/PlatformSettingsPage.tsx
  client/src/pages/mrblue/OnboardingPage.tsx
  mb.md
  server/routes/reputation-routes.ts
  server/services/reputation/ReputationService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update development methodology to ensure comprehensive roadmap adherence
  .replit
  docs/MUNDO_TANGO_GAP_ANALYSIS.md
  mb.md
Due: prettier --write

Improve AI invite generator with GPT-4o and add roadmap documentation
  .replit
  docs/HYBRID_BUILD_ROADMAP.md
  server/services/facebook/AIInviteGenerator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add new pages and features for managing friends and user profiles
  .replit
  client/src/App.tsx
  client/src/components/friendship/FriendshipQuestionnaire.tsx
  client/src/pages/FriendDetailPage.tsx
  client/src/pages/FriendRequestsPage.tsx
  client/src/pages/FriendsPrototypePage.tsx
  client/src/pages/NotificationSettingsPage.tsx
  client/src/pages/ProfilePrototypePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance platform safety protocols for social media integrations
  .replit
  docs/FB_CODE_AUDIT.md
  docs/FB_SAFETY_RESEARCH.md
  docs/FB_SAFE_IMPLEMENTATION_PLAN.md
  mb.md
Due: prettier --write

Implement core systems for recursive monitoring and journey recording
  .replit
  AGENT_ROLLUP_SYSTEM.md
  mb.md
  server/index.ts
  server/jobs/policy-monitoring-jobs.ts
  server/middleware/csrf.ts
  server/routes.ts
  server/routes/agent-rollup-routes.ts
  server/routes/journey-routes.ts
  server/services/documentation/BookChapterGenerator.ts
  server/services/documentation/JourneyRecorder.ts
  server/services/facebook/FacebookMessengerService.ts
  server/services/intelligence/AgentKnowledgeSync.ts
  server/services/intelligence/MBMDIntelligenceBase.ts
  server/services/monitoring/PolicyComplianceChecker.ts
  server/services/monitoring/RateLimitTracker.ts
  server/services/monitoring/SocialMediaPolicyMonitor.ts
  server/services/monitoring/test-monitoring.ts
  server/workers/policy-monitor-worker.ts
  shared/schema.ts
  test-agent-rollup.sh
  test-api-rollup.js
Due: tsc --noEmit, prettier --write, eslint --fix

Add system to validate Facebook messenger login tokens
  server/routes/facebook-messenger-routes.ts
  server/services/facebook/FacebookMessengerService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add Facebook connection testing and invite generation functionality
  .gitignore
  .replit
  FACEBOOK_PHASE2-3_COMPLETION_REPORT.md
  attached_assets/Pasted--l-appendChild-n-createTextNode-y-o-timeEnd-clone-node-await-g-f-h-1-S-f-o-time-e-1763366609287_1763366609288.txt
  server/__tests__/e2e/.env.example
  server/__tests__/e2e/PHASE_6_COMPLETION_SUMMARY.md
  server/__tests__/e2e/QUICK_START.md
  server/__tests__/e2e/README.md
  server/__tests__/e2e/facebook-invite-journey.test.ts
  server/__tests__/e2e/run-facebook-test.sh
  server/routes/facebook-messenger-routes.ts
  server/test-facebook-phase2-3.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add detailed protocol for AI to refresh Facebook tokens and send invites
  docs/MB_MD_VY_PROTOCOL.md
Due: prettier --write

Enable policy monitoring system with Redis configuration option
  server/index.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Refresh Facebook access token and complete invite system
  attached_assets/Pasted--Mission-Refresh-Facebook-Page-Access-Token-and-Complete-Mundo-Tango-Facebook-Invite-System-CON-1763369349642_1763369349643.txt
Due: none

Add initial project assets for foundation setup
  attached_assets/image_1763369627889.png
Due: none

Add documentation for the initial project setup and configuration
  attached_assets/image_1763370078730.png
Due: none

Update user profile to show endorsements based on role selection
  client/src/hooks/use-auth.ts
  client/src/pages/ReputationProfile.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update navigation to use location hook for Facebook data import
  client/src/pages/FacebookDataImport.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Enable autonomous mode for admin users and add Facebook integration script
  .replit
  scripts/start-facebook-autonomous-session.ts
  server/services/mrBlue/AutonomousEngine.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add ability to generate Facebook access tokens automatically
  server/routes/facebook-messenger-routes.ts
  server/services/facebook/FacebookTokenGenerator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add automated process to generate Facebook page access tokens
  .replit
  scripts/generate-facebook-token-direct.ts
  scripts/test-facebook-token-generation.ts
Due: tsc --noEmit, prettier --write, eslint --fix
