Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Create n8n-notion-integration-guide.md
  n8n-notion-integration-guide.md
Due: prettier --write

Reduce email service log verbosity during startup
  server/services/EmailService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix Spanish translations for home and ambassadors
  client/public/locales/es/common.json
Due: prettier --write

Create MARKETING_CONTENT_MASTER.md
  MARKETING_CONTENT_MASTER.md
Due: prettier --write

Add Playwright tests for marketing screenshots
  tests/marketing-screenshots.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add Playwright configuration for screenshot automation
  playwright.config.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive documentation for screenshot automation
  README-SCREENSHOTS.md
Due: prettier --write

Update BASE_URL to use Replit development URL
  tests/marketing-screenshots.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix es-ar and es_AR to load from their own translation directories instead of falling back to es
  client/src/lib/i18n.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add mandatory email verification to user registration and login flow
  replit.md
Due: prettier --write

Add email verification and improve login/registration flows
  client/src/contexts/AuthContext.tsx
  client/src/pages/EmailVerificationPage.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/RegisterPage.tsx
  client/src/pages/VerifyEmailPage.tsx
  client/src/routes/authRoutes.tsx
  client/src/routes/index.tsx
  server/routes/auth.ts
  server/services/EmailService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add navigation translations for all languages
  fix-navbar-translations.mjs
  translate-marketing.mjs
Due: none

Fix navigation bar to use correct translation keys from common.json
  client/src/components/PublicNavbar.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve email sending logs and error handling
  .replit
  server/services/EmailService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Saved progress at the end of the loop
  .replit
Due: none

Standardize language codes to lowercase for consistent translations
  client/src/lib/i18n.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix language selector to correctly display Argentine Spanish
  client/src/lib/i18n.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add missing Spanish translations for navigation and role-based filters
  client/public/locales/es-ar/common.json
  public/locales/es-ar/common.json
Due: prettier --write

Add password reset and email verification to CSRF skip lists
  server/middleware/csrf.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update registration to use 6-digit codes instead of tokens
  server/routes/auth.ts
  server/services/EmailService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update email verification to use a 6-digit code instead of a link
  client/src/pages/EmailVerificationPage.tsx
  client/src/pages/RegisterPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add more detailed logging for registration validation errors
  server/routes/auth.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add inline email verification to registration form
  client/src/pages/RegisterPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Make registration section appear greyed out when verifying user
  client/src/pages/RegisterPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Automatically log in users after email verification and redirect to onboarding
  client/src/pages/RegisterPage.tsx
  server/routes/auth.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix error when verifying email and automatically logging in users
  server/routes/auth.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve user registration flow and add test endpoints
  client/src/pages/RegisterPage.tsx
  server/routes/auth.ts
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Complete onboarding by saving user details and joining their city group
  client/src/pages/OnboardingPage.tsx
  server/routes/city-routes.ts
  server/utils/cityGroupAutomation.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add test for onboarding city selection and group auto-joining
  tests/onboarding-location.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add automated registration flow with location selection and city group joining
  tests/onboarding-location.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Create marketing-content-complete.spec.ts
  tests/marketing-content-complete.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Complete user onboarding flow by fixing city selection bug
  client/src/pages/OnboardingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix and streamline the user onboarding flow
  client/src/pages/RegisterPage.tsx
  client/src/pages/onboarding/CitySelectionPage.tsx
  client/src/pages/onboarding/DanceExperiencePage.tsx
  client/src/pages/onboarding/LanguagesPage.tsx
  client/src/pages/onboarding/PhotoUploadPage.tsx
  client/src/pages/onboarding/TangoRolesPage.tsx
  client/src/pages/onboarding/WelcomePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Adjust location search results to appear directly below the city input field
  client/src/components/input/UnifiedLocationPicker.tsx
  tests/marketing-screenshots.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
