Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Update demo to showcase tango friendships and connection features
  client/src/components/marketing/DemoModal.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update open source page to reflect validation status
  client/src/pages/marketing/OpenSourcePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update marketing pages to direct users to login instead of register
  client/src/pages/marketing/AmbassadorsPage.tsx
  client/src/pages/marketing/VolunteerPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Create add_event_source_tracking_and_team_members.sql
  db/migrations/add_event_source_tracking_and_team_members.sql
Due: none

Add event source tracking and team members schema
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update login to allow custom redirects after authentication
  client/src/contexts/AuthContext.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update registration links to redirect to the login page
  client/src/pages/marketing/ForDancersPage.tsx
  client/src/pages/marketing/ForOrganizersPage.tsx
  client/src/pages/marketing/ForTeachersPage.tsx
  client/src/pages/marketing/MrBluePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update login page to redirect users to the intended destination
  client/src/pages/LoginPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add documentation for the Talent Match AI system and its API
  replit.md
Due: prettier --write

Update talent match flow and add volunteer API endpoint
  client/src/pages/H2ACDashboardPage.tsx
  server/talent-match-routes.ts
  test_scrape_5sources.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add multi-document upload functionality for talent matching profiles
  attached_assets/Background_on_all_jobs_1765655765152.pdf
  attached_assets/image_1765655779136.png
  client/src/pages/TalentMatchPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Remove resume text input and update upload logic for talent matching
  client/src/pages/TalentMatchPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Prevent duplicate volunteer profiles and return existing ones
  attached_assets/Background_on_all_jobs_1765654607284.pdf
  attached_assets/Pasted--Coframe-Replit-Enterprise-watcher-loaded-The-source-li_1765654492018.txt
  attached_assets/image_1765654469152.png
  server/talent-match-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix PDF parsing to correctly handle resume uploads
  attached_assets/image_1765658315284.png
  server/services/resume-parser.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Address various console errors and security policy warnings
  attached_assets/Pasted-chrome-extension-h-ound-redux-new-js-1-Uncaught-in-prom_1765657519518.txt
  attached_assets/image_1765657508079.png
Due: none

Improve file upload by disallowing unsupported document types
  client/src/pages/TalentMatchPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update resume upload to correctly handle existing volunteer profiles
  attached_assets/Pasted-chrome-extension-h-ound-redux-new-js-1-Uncaught-in-prom_1765657253386.txt
  attached_assets/image_1765656933884.png
  attached_assets/image_1765657241146.png
  server/storage.ts
  server/talent-match-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve login process with better error logging and redirect handling
  client/src/contexts/AuthContext.tsx
  client/src/pages/LoginPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve authentication compatibility by relaxing cookie settings
  server/routes/auth.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add ability for users to upload resumes for AI interview matching
  attached_assets/image_1765658567722.png
Due: none

Remove GitHub URL input and related logic from talent match feature
  attached_assets/image_1765665001444.png
  client/src/pages/TalentMatchInterviewPage.tsx
  client/src/pages/TalentMatchPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Introduce an interview page for volunteer talent matching
  client/src/App.tsx
  client/src/pages/TalentMatchInterviewPage.tsx
  client/src/pages/TalentMatchPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add Mr Blue chat page research image to task list
  attached_assets/image_1765660896428.png
Due: none

Improve PDF resume parsing resilience and test setup for talent match
  attached_assets/Background_on_all_jobs_1765660257592.pdf
  server/services/resume-parser.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve chat functionality by adding conversation history
  client/src/pages/messages/UnifiedInbox.tsx
  server/routes/mr-blue-enhanced.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add pre-authenticated testing to speed up Playwright test runs
  .auth/.gitkeep
  playwright.config.ts
  replit.md
  tests/auth.setup.ts
  tests/e2e/helpers/test-auth.ts
  tests/talent-match-interview.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update platform documentation with technical and UI details
  .gitignore
  replit.md
Due: prettier --write

Enable AI to use custom system prompts for personalized responses
  server/routes/mr-blue-enhanced.ts
  server/talent-match-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update dashboard and AI interview for volunteer program
  client/src/pages/H2ACDashboardPage.tsx
  client/src/pages/TalentMatchInterviewPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add iterative testing for AI response analysis
  tests/e2e/agents/mr-blue-ai-debug.spec.ts
  tests/e2e/helpers/mrBlueAnalyzer.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
