Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Update documentation with MB.MD methodology progress and findings
  replit.md
Due: prettier --write

Improve issue detection by adding more specific audit categories
  server/services/orchestration/SwarmChoreographyController.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add redirects for PRO discovery and city group pages
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add social login options and improve event page default view
  client/src/App.tsx
  client/src/pages/EventsPage.tsx
  client/src/pages/LoginPage.tsx
  docs/UI-AUDIT-RESULTS-DEC-2025.md
Due: tsc --noEmit, prettier --write, eslint --fix

Add and fix various pages and routes across the application
  .replit
  client/src/App.tsx
  client/src/pages/CreateEventPage.tsx
  client/src/pages/GroupCreatePage.tsx
  client/src/pages/PricingPage.tsx
  client/src/pages/admin/AdminEventsPage.tsx
  docs/UI-AUDIT-RESULTS-DEC-2025.md
  server/routes/admin-routes.ts
  server/routes/event-routes.ts
  server/routes/messages-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add Tech Leader Council Synthesis document
  docs/experts/TECH_LEADER_COUNCIL_SYNTHESIS.md
Due: prettier --write

Update AGENT_MEMORY with December 6 session details
  AGENT_MEMORY.md
Due: prettier --write

Create PRD for API Health and SLOs
  docs/prds/PRD_01_API_HEALTH_SLOS.md
Due: prettier --write

Add API Fixes Implementation Guide
  docs/implementation/API_FIXES_IMPLEMENTATION_GUIDE.md
Due: prettier --write

Add TAMÁS SZALAI PRIORITY IMPLEMENTATION PLAN
  docs/implementation/TAMAS_SZALAI_PRIORITY_PLAN.md
Due: prettier --write

Update audit report for Bug #002 validation findings
  .agent-memory/la-cumparsita-audit-dec-4-2025.md
Due: prettier --write

Add comprehensive Mr Blue platform audit document
  docs/mb-md-plans/MR_BLUE_COMPREHENSIVE_PLATFORM_AUDIT.md
Due: prettier --write

Add PRD for Status Page and Infrastructure Monitoring (P0)
  docs/prds/PRD_STATUS_PAGE_INFRASTRUCTURE_MONITORING.md
Due: prettier --write

Add strategic plan for LA Milonga MB.MD project
  .agent-memory/la-milonga-mbmd-strategic-plan-dec-6-2025.md
Due: prettier --write

Complete volunteers expert work with comprehensive summary
  docs/mb-md-plans/VOLUNTEERS_EXPERT_COMPLETION_SUMMARY.md
Due: prettier --write

Add tables for scraped events and known tango people
  db/migrations/add_scraped_events_and_known_tango_people_tables.sql
Due: none

Add session 8 update to audit report
  .agent-memory/la-cumparsita-audit-dec-4-2025.md
Due: prettier --write

Add deployment fix documentation for December 2025
  docs/deployment/DEPLOYMENT_FIX_DEC2025.md
Due: prettier --write

Add tables for scraped events and known tango people
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Implement BaseEventScraper abstract class
  server/services/scraping/BaseEventScraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Document security testing results and critical bugs
  .agent-memory/la-cumparsita-audit-dec-4-2025.md
Due: prettier --write

feat: Expert Council H2AC Remediation Dashboard - Phase 1 Infrastructure & AI Analysis
  docs/prds/EXPERT_COUNCIL_H2AC_REMEDIATION_DASHBOARD.md
Due: prettier --write

Implement TangoArgentinoScraper for event scraping
  server/services/scraping/TangoArgentinoScraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add HoyMilongaScraper for event data scraping
  server/services/scraping/HoyMilongaScraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add EventDeduplicator for event deduplication logic
  server/services/scraping/EventDeduplicator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add audio conversation implementation plan
  docs/AUDIO_CONVERSATION_IMPLEMENTATION.md
Due: prettier --write

Implement AudioConversationService for managing sessions
  server/services/mrblue/audioConversationService.ts
Due: tsc --noEmit, prettier --write, eslint --fix
