Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Update travel requests endpoint to correctly fetch trip join requests
  client/src/components/profile/ProfileTabTravel.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add a travel calendar and unified request components to profile
  client/src/components/profile/ProfileTabTravel.tsx
  client/src/components/unified/TravelCalendar.tsx
  client/src/components/unified/UnifiedRSVPButton.tsx
  client/src/components/unified/UnifiedRequestCard.tsx
  client/src/components/unified/index.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Reorder data fetching to resolve travel plan display errors
  client/src/components/profile/ProfileTabTravel.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix event RSVP system to correctly display all attendance statuses
  attached_assets/Pasted--Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-events-68c9ad4d-1764471265875_1764471265876.txt
  attached_assets/targeted_element_1764471299040.png
  client/src/hooks/useEvents.ts
  server/routes/event-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix RSVP persistence bug by fetching all attendee statuses
  docs/prds/INDEX.md
  docs/prds/PRD_PROFILE_PAGE_INDEX.md
  docs/prds/PRD_RSVP_ARCHITECTURE.md
  docs/prds/PRD_USER_PROFILE_SYSTEM.md
Due: prettier --write

Fix error fetching user events by removing non-existent column reference
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation for user profile and event RSVP systems
  docs/prds/INDEX.md
  docs/prds/PRD_PROFILE_PAGE_INDEX.md
  docs/prds/PRD_RSVP_ARCHITECTURE.md
  docs/prds/PRD_USER_PROFILE_SYSTEM.md
Due: prettier --write

Update travel plans heading to dynamically display user's name
  client/src/components/profile/ProfileTabTravel.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive documentation for the Groups system
  attached_assets/image_1764474308338.png
  docs/prds/INDEX.md
  docs/prds/PRD_GROUPS_LANDING_SYSTEM.md
  docs/prds/PRD_GROUP_DETAILS_SYSTEM.md
  docs/prds/PRD_GROUP_MEMBERSHIP_SYSTEM.md
  replit.md
Due: prettier --write

Add comprehensive gap analysis and documentation index
  docs/prds/GAP_ANALYSIS_SUMMARY.md
  docs/prds/INDEX.md
Due: prettier --write

Add documentation status and action plan to platform overview
  replit.md
Due: prettier --write

Add documentation for core platform systems
  docs/prds/PRD_CROWDFUNDING_SYSTEM.md
  docs/prds/PRD_LEGAL_DOCUMENTS_SYSTEM.md
  docs/prds/PRD_MARKETPLACE_SYSTEM.md
  docs/prds/REPLIT_AI_MR_BLUE_STRATEGIC_SESSION.md
Due: prettier --write

Create detailed documentation for the unified messaging system
  docs/prds/PRD_MESSAGES_SYSTEM.md
Due: prettier --write

Complete documentation for revenue-critical systems and update gap analysis
  docs/prds/GAP_ANALYSIS_SUMMARY.md
Due: prettier --write

Add detailed documentation for the Events system and reverse-engineering methodology
  docs/prds/PRD_EVENTS_SYSTEM.md
  mb.md
Due: prettier --write

Update documentation status to reflect new PRDs and progress
  replit.md
Due: prettier --write

Add documentation for housing, friendship, and admin systems
  docs/prds/GAP_ANALYSIS_SUMMARY.md
  mb.md
  replit.md
Due: prettier --write

Show city-specific images for group cover photos
  client/src/lib/cityImageMap.ts
  client/src/pages/GroupsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Standardize city images across the platform and fix Buenos Aires display
  client/src/components/GroupCard.tsx
  client/src/lib/cityImageMap.ts
  client/src/pages/CityGroupsPage.tsx
  client/src/pages/CityGuidesPage.tsx
  client/src/pages/EventDetailsPage.tsx
  client/src/pages/GroupDetailsPage.tsx
  client/src/pages/ProfessionalGroupsPage.tsx
  docs/prds/PRD_CITY_IMAGERY_SYSTEM.md
Due: tsc --noEmit, prettier --write, eslint --fix

Update event cards to display city images as fallbacks
  client/src/components/EventCard.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update platform to standardize city imagery and fix recurring visual bugs
  mb.md
Due: prettier --write

Display total counts for group members, events, recommendations, and housing
  client/src/pages/GroupsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add user location history tracking and group organization by city
  server/routes.ts
  server/routes/group-routes.ts
  server/routes/location-history-routes.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update user profiles to include tango city history with date ranges
  client/src/components/profile/ProfileTabAbout.tsx
  client/src/pages/GroupsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix error in fetching user groups by using correct date column
  server/routes/group-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Align city and date inputs on the same line for location history
  client/src/components/profile/ProfileTabAbout.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Arrange location entry fields on a single line
  attached_assets/image_1764484511839.png
  attached_assets/image_1764484534354.png
Due: none

Fix error when adding or deleting location history entries
  client/src/components/profile/ProfileTabAbout.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix error when adding city to profile history
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764484791345_1764484791346.txt
  attached_assets/image_1764484784912.png
  server/middleware/csrf.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Filter out orphaned city groups from user's group display
  server/routes/group-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
