Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Create comprehensive validation plan for 10 test users and platform features
  docs/handoff/MB_MD_PLAN_10_USER_VALIDATION.md
Due: prettier --write

Add voice-first input capabilities and generate test users
  server/routes/voice-first-routes.ts
  server/scripts/seed-10-test-users.ts
  server/services/mrBlue/VoiceFirstService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add voice-first features inspired by Wispr Flow research
  docs/handoff/10_USER_IMPLEMENTATION_COMPLETE.md
  docs/handoff/VOICE_FIRST_IMPLEMENTATION.md
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update authentication middleware for voice API routes
  server/routes/voice-first-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add end-to-end tests for user authentication, friend relations, and voice features
  tests/e2e/10-user-validation/01-authentication-rbac.spec.ts
  tests/e2e/10-user-validation/02-friend-relations.spec.ts
  tests/e2e/10-user-validation/03-voice-features.spec.ts
  tests/e2e/10-user-validation/04-social-features.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Generate a report comparing the platform's implementation to the PART_10 specification
  docs/handoff/10_USER_VALIDATION_REPORT.md
Due: prettier --write

Add invitation batching, resume profiles, and role confirmations
  docs/handoff/MB_MD_COMPLETE_EXECUTION_PLAN.md
  server/routes.ts
  server/routes/invitation-batching-routes.ts
  server/routes/role-confirmation-routes.ts
  server/routes/tango-resume-routes.ts
  server/services/invitations/InvitationBatchingService.ts
  server/services/reputation/RoleConfirmationService.ts
  server/services/reputation/TangoResumeService.ts
  server/workers/jobs/invitationBatchingJob.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update API routes to use authenticated token for authorization
  server/routes/invitation-batching-routes.ts
  server/routes/role-confirmation-routes.ts
  server/routes/tango-resume-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Create a professional profile page for tango dancers
  client/src/pages/TangoResume.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix authentication middleware for improved application security
  attached_assets/image_1763708344435.png
Due: none

Add authentication middleware to The Plan feature routes
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix welcome screen not appearing for users without an active plan
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Increase the welcome screen's visibility to prevent it from being hidden
  client/src/components/mrBlue/ScottWelcomeScreen.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Establish mandatory self-healing protocol for all debugging tasks
  docs/MB_MD_SELF_HEALING_PROTOCOL.md
  replit.md
Due: prettier --write

Improve organization of documentation for better protocol adherence
  docs/plans/REPLIT_MD_REORGANIZATION_PLAN.md
Due: prettier --write

Update documentation to include a comprehensive reorganization plan for the platform's main file
  replit.md
  replit.md.backup.20251121_103932
Due: prettier --write

Organize documentation to enforce critical protocols and improve user onboarding
  replit.md
Due: prettier --write

Update protocol documentation to include reorganization results
  docs/MB_MD_REORGANIZATION_RESULTS.md
  docs/MB_MD_SELF_HEALING_PROTOCOL.md
Due: prettier --write

Allow optional authentication for The Plan API endpoints
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation and fix authentication for plan routes
  docs/MB_MD_SESSION_RESULTS_20251121.md
Due: prettier --write

Fix error reporting and improve authentication validation
  client/src/lib/proactiveErrorDetection.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Prevent welcome screen from appearing on public and authentication pages
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Correctly call API functions for starting and skipping plan
  client/src/components/mrBlue/ScottWelcomeScreen.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve welcome screen behavior after starting or skipping the plan
  client/src/components/mrBlue/ScottWelcomeScreen.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve error reporting by safely handling missing descriptions
  server/services/mrBlue/errorAnalysisAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve welcome screen logic by using React Query for progress updates
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add missing import for React Query hook
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Restructure application layout to correctly provide context
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add detailed training log for Mr. Blue's bug fixing session
  replit.md
Due: prettier --write

Document research on advanced self-healing for AI agents
  docs/MB_MD_ADVANCED_SELF_HEALING_RESEARCH.md
Due: prettier --write

Update documentation to reflect new agent training protocols and research findings
  replit.md
Due: prettier --write

Add detailed plan for enhanced self-healing capabilities
  docs/MB_MD_BUILD_PLAN_V2_NOV21.md
Due: prettier --write

Add tables for advanced self-healing capabilities to the platform
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
