Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Allow anyone to post in event discussions and improve RSVP status display
  attached_assets/image_1764547049347.png
  client/src/components/events/EventPostFeed.tsx
  client/src/pages/EventDetailsPage.tsx
  server/routes/event-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix error when viewing event pages by adding missing component import
  attached_assets/Pasted-prodregistryv2-org-v1-rgstr-k-client-Bp7m7pNB6H0fnSGjVtxN5BeWQw4BSAat4OFsXa3VcTF-st-javascript-clien-1764547551053_1764547551054.txt
  attached_assets/image_1764547545812.png
  client/src/pages/EventsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix event RSVP status not persisting due to cache invalidation issues
  attached_assets/Pasted-72ef7b0fac9be212-js-2-POST-https-prodregistryv2-org-v1-rgstr-k-client-Bp7m7pNB6H0fnSGjVtxN5BeWQw4-1764548030070_1764548030072.txt
  attached_assets/Pasted-72ef7b0fac9be212-js-2-POST-https-prodregistryv2-org-v1-rgstr-k-client-Bp7m7pNB6H0fnSGjVtxN5BeWQw4-1764548104666_1764548104667.txt
  client/src/components/unified/UnifiedRSVPButton.tsx
  client/src/hooks/useEvents.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix errors and address infrastructure issues identified in logs
  attached_assets/Pasted-VM259071-8-Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-event-1764548550456_1764548550458.txt
  attached_assets/Pasted-VM259071-8-Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-event-1764548598836_1764548598839.txt
Due: none

Add system status endpoint and improve tour guide error handling
  client/src/components/mrBlue/TourGuide.tsx
  server/routes/self-healing-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add QA checklist for Mundo TAdd QA report checklist for login to feedango login and onboarding
  qa_reports/initial_report.md
Due: prettier --write

Add profile page QA audit
  qa_reports/profile_page.md
Due: prettier --write

Add QA audit report for Community World Map
  qa_reports/community_world_map.md
Due: prettier --write

Add QA audit documentation fAdd events page QA auditor Events Page
  qa_reports/events_page.md
Due: prettier --write

Add QA audit report for GroupAdd groups page QA audits Page
  qa_reports/groups_page.md
Due: prettier --write

Add audit report for Friends LiAdd friends list page QA auditst page
  qa_reports/friends_list.md
Due: prettier --write

Add audit report for RecommeAdd recommendations page QA auditndations page
  qa_reports/recommendations_page.md
Due: prettier --write

Add comprehensive QA audit fAdd comprehensive QA auditor Mundo Tango
  qa_reports/complete_audit.md
Due: prettier --write

Add admin-level QA audit report
  qa_reports/admin_audit.md
Due: prettier --write

Add MB Orchestration Plan and Summary document
  qa_reports/mb_orchestration_plan.md
Due: prettier --write

Create MB.MD plan for PrompAdd MB.MD plan for prompt 4t 4
  qa_reports/mb_plan_prompt4.md
Due: prettier --write

Add feature analysis and codeAdd feature analysis and code recommendations recommendations document
  qa_reports/feature_analysis_recommendations.md
Due: prettier --write

Add code change plan for upcAdd code change plan documentoming features and fixes
  qa_reports/code_change_plan.md
Due: prettier --write

Implement Friends List featureAdd friends list code implementation plan with routing and API
  qa_reports/friends_list_code.md
Due: prettier --write

Add friends list MB.MD implementation plan
  qa_reports/friends_list_mb_plan.md
Due: prettier --write

Allow event photo uploads by bypassing CSRF checks for specific endpoints
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764551618463_1764551618465.txt
  attached_assets/image_1764551576938.png
  server/middleware/csrf.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update event details and event page with fixes for authorization and display issues
  docs/prds/PRD_EVENTS_SYSTEM.md
  replit.md
Due: prettier --write

Saved progress after completing a task
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764552518186_1764552518191.txt
  attached_assets/image_1764552514253.png
  client/src/App.tsx
  client/src/pages/EditEventPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Remove the Memories tab from event details page
  client/src/pages/EventDetailsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Prevent repeated errors on user profile pages by disabling retries
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix issues with event display and user permissions
  attached_assets/Pasted-VM260176-8-Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-event-1764550390031_1764550390032.txt
  client/src/pages/EventDetailsPage.tsx
  client/src/pages/EventsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation to include recent fixes and improvements
  docs/prds/PRD_EVENTS_SYSTEM.md
  replit.md
Due: prettier --write

Fix issues with event display and RSVP functionality
  test-videos/.last-run.json
  test-videos/city-group-automation-e2e--5cdcf--city-group-is-auto-created-chromium/test-finished-1.png
  test-videos/city-group-automation-e2e--7729b-riggers-city-group-creation-chromium/test-finished-1.png
  test-videos/e2e-quick-smoke-test-Quick-84c83-ogin-WebSocket-Chat-Routing-chromium/error-context.md
  test-videos/e2e-quick-smoke-test-Quick-84c83-ogin-WebSocket-Chat-Routing-chromium/test-failed-1.png
Due: prettier --write

Add event invitations and RSVP notifications
  server/middleware/eventPermissions.ts
  server/routes/event-routes.ts
  server/services/notification-service.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add ability to edit event titles and descriptions inline
  client/src/pages/EventDetailsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add smart team member search for event organizers
  docs/prds/PRD_EVENTS_SYSTEM.md
  replit.md
  server/routes/event-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update event editing to use the full creation form
  client/src/components/events/EventEditForm.tsx
  client/src/pages/EventDetailsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix
