Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Add new pages and documentation for Facebook integration
  client/src/App.tsx
  docs/FACEBOOK_MESSENGER_KNOWLEDGE_BASE.md
  mb.md
Due: tsc --noEmit, prettier --write, eslint --fix

Add initial project assets for foundation setup
  attached_assets/image_1763414187475.png
Due: none

Add a new AI pattern to automatically find and use existing open-source solutions
  attached_assets/image_1763414212257.png
  docs/FACEBOOK_OPEN_SOURCE_INTELLIGENCE.md
  mb.md
Due: prettier --write

Integrate Facebook Messenger using an open-source solution
  docs/FACEBOOK_TOKEN_GENERATION_GUIDE.md
  package-lock.json
  package.json
  replit.md
  scripts/facebook-messenger-webhook.ts
  scripts/send-first-invitation.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add manual steps for sending the first invitation to users
  docs/SEND_FIRST_INVITATION_MANUAL_STEPS.md
Due: prettier --write

Add documentation for Meta's open source SDKs and a script to retrieve user IDs
  docs/META_OPEN_SOURCE_SDKS.md
  scripts/get-scott-psid.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Provide instructions to send the first invitation and resolve expired Facebook token
  SEND_FIRST_INVITATION_NOW.md
Due: prettier --write

Add Facebook Messenger integration for user invitations
  SCOTT_ACTION_REQUIRED.md
  SEND_NOW.md
  scripts/listen-for-scott.ts
  scripts/send-invitation-direct.ts
  server/routes/webhooks.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add initial project assets and documentation for setup
  attached_assets/image_1763416032180.png
Due: none

Add initial project assets for platform foundation setup
  attached_assets/image_1763416147002.png
Due: none

Add script to send invitations directly to users
  attached_assets/Pasted-Last-login-Mon-Nov-10-11-49-13-on-console-curl-X-GET-https-graph-facebook-com-v18-0-me-conversa-1763416242101_1763416242101.txt
Due: none

Saved progress at the end of the loop
  attached_assets/image_1763416665246.png
Due: none

Add detailed instructions for Facebook Messenger integration and TOS compliance
  docs/VY_FACEBOOK_MESSENGER_EXPERT_PROMPT.md
Due: prettier --write

Implement automatic synchronization between Replit and GitHub
  .github/workflows/auto-sync.yml
  .github/workflows/deploy-on-push.yml
  docs/GITHUB_SYNC_GUIDE.md
  docs/WIX_MIGRATION_PLAN.md
  mb.md
Due: prettier --write

Add automated process to import contacts from Wix and capture screenshots
  attached_assets/wix_screenshots/01-login-page.png
  attached_assets/wix_screenshots/02-after-email.png
  attached_assets/wix_screenshots/03-after-login.png
  attached_assets/wix_screenshots/04-challenge-detected.png
  attached_assets/wix_screenshots/error-final.png
  scripts/extract-wix-data.ts
  scripts/import-wix-waitlist.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add waitlist functionality to user profiles
  package-lock.json
  package.json
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update waitlist import to include temporary password and default name
  scripts/import-wix-waitlist.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add a public endpoint for users to join the waitlist
  docs/WIX_TO_REPLIT_MIGRATION.md
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add computer control feature allowing users to automate tasks
  server/routes.ts
  server/routes/computer-use-routes.ts
  server/services/mrBlue/ComputerUseService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add system for managing and tracking computer use tasks
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add system for automating computer tasks using AI
  mb.md
  replit.md
Due: prettier --write

Add functionality for automating computer tasks and extracting Wix data
  client/src/components/mr-blue/ComputerUseAutomation.tsx
  client/src/pages/MrBlueChatPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add computer use automation to Mr Blue chat interface
  client/src/pages/MrBlueChatPage.tsx
  docs/WIX_SHUTDOWN_PROCEDURE.md
Due: tsc --noEmit, prettier --write, eslint --fix

Complete computer use automation system and add Wix shutdown documentation
  docs/COMPUTER_USE_COMPLETION_SUMMARY.md
  replit.md
Due: prettier --write

Add browser automation for Wix contact extraction using Playwright
  server/routes/computer-use-routes.ts
  server/services/mrBlue/BrowserAutomationService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update schema import path for computer use related database tables
  server/routes/computer-use-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add functionality for Mr. Blue to automate computer tasks and extract data
  client/src/components/mr-blue/GlobalMrBlue.tsx
  server/routes/mr-blue-enhanced.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add interactive status updates for automated tasks within the chat interface
  client/src/components/mrblue/AutomationTaskMessage.tsx
  client/src/components/mrblue/ChatSidePanel.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add AI assistant accessible via keyboard shortcut and floating button
  client/src/components/mr-blue/GlobalMrBlue.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add natural language control for computer automation tasks
  replit.md
Due: prettier --write

Add initial project foundation setup and documentation
  attached_assets/image_1763426279453.png
Due: none

Add test for full computer use workflow with natural language commands
  tests/computer-use-demo.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add guide for testing natural language computer interactions
  docs/COMPUTER_USE_TESTING.md
Due: prettier --write
