Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Add new panels and integrate them into the visual editor interface
  .replit
  client/src/pages/mrblue/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Complete integration of new AI agent panels into the visual editor
  replit.md
Due: prettier --write

Update deployment plan to reflect completed frontend components
  .replit
  MB_MD_COMPLETE_DEPLOYMENT_PLAN.md
Due: prettier --write

Update deployment plan to reflect completion of all phases
  MB_MD_COMPLETE_DEPLOYMENT_PLAN.md
Due: prettier --write

Finalize platform deployment and documentation with quality assurance checks
  attached_assets/image_1763835238682.png
Due: none

Fix issues with content security policy settings
  .replit
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1763835351265_1763835351266.txt
Due: none

Add live coding stream for generating and applying code changes
  server/routes/mrblue-vibecoding-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Published your App
  .replit
Due: none

Add ability to save visual editor changes as git commits
  .replit
  client/src/pages/mrblue/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add initial greeting to the visual editor chat interface
  .replit
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1763837049640_1763837049641.txt
  attached_assets/image_1763836871173.png
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add name to guest user creation for The Plan feature
  .replit
  server/routes/thePlanRoutes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix issues with visual editor chat and guest user creation
  attached_assets/image_1763839547878.png
Due: none

Improve response routing and error analysis for visual editor
  .replit
  client/src/components/visual-editor/StreamingStatusPanel.tsx
  client/src/hooks/useErrorAutoAnalysis.ts
  client/src/hooks/useStreamingChat.ts
  client/src/pages/VisualEditorPage.tsx
  client/src/services/ContextBuilderService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve error analysis and chat response handling
  .replit
  attached_assets/image_1763840713367.png
  attached_assets/image_1763840744602.png
  attached_assets/image_1763840794020.png
  client/src/hooks/useErrorAutoAnalysis.ts
  client/src/hooks/useStreamingChat.ts
  client/src/pages/VisualEditorPage.tsx
  server/routes/mrblue-stream.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Prevent conversation history from being overwritten by fetched messages
  attached_assets/image_1763851490611.png
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve error proposal display by memoizing callback
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1763851867188_1763851867189.txt
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve error analysis proposal handling and saving
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add logic to ensure conversation context is available before generating proposals
  client/src/hooks/useErrorAutoAnalysis.ts
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix Content Security Policy errors and improve error handling
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1763852800534_1763852800535.txt
  attached_assets/image_1763852805794.png
Due: none

Implement automated error fixing and analysis system
  client/src/hooks/useErrorAutoAnalysis.ts
  server/routes/mrblue-error-actions-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update self-healing infrastructure and AI assistant documentation
  replit.md
Due: prettier --write

Improve error reporting by reducing chat spam
  attached_assets/Pasted--Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-events-68c9ad4d-1763853732513_1763853732514.txt
  attached_assets/Pasted-Fix-the-errors-Error-Detected-Auto-Analysis-Complete-Error-HTTP-502-Bad-Gateway-GET--1763853788076_1763853788077.txt
  attached_assets/Pasted-Fix-the-errors-Error-Detected-Auto-Analysis-Complete-Error-HTTP-502-Bad-Gateway-GET--1763853853835_1763853853835.txt
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve error handling and reduce chat spam from proposals
  client/src/components/SelfHealingStatus.tsx
  client/src/components/ThePlanProgressBar.tsx
  client/src/contexts/AuthContext.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve AI suggestion parsing to include confidence scores
  server/services/mrBlue/solutionSuggesterAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve JSON parsing by handling whitespace and direct parsing
  server/services/mrBlue/solutionSuggesterAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve confidence score accuracy and JSON parsing reliability
  server/routes/mrblue-error-analysis-routes.ts
  server/services/mrBlue/solutionSuggesterAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Adjust confidence score calculation and storage for database
  server/services/mrBlue/AutoFixEngine.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix login error by correcting the admin user's password hash
  attached_assets/image_1763856572764.png
  attached_assets/image_1763856950525.png
Due: none
