Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Add Facebook Messenger integration and AI coding safeguards
  docs/FACEBOOK_MESSENGER_INTEGRATION.md
  replit.md
Due: prettier --write

Add Facebook Messenger integration and autonomous token generation
  docs/FACEBOOK_TOKEN_GENERATION_SUMMARY.md
Due: prettier --write

Integrate a vast collection of AI models and improve Facebook login security
  mb.md
  package-lock.json
  package.json
  server/services/ai/BytezProvider.ts
  server/services/facebook/FacebookTokenGenerator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add scripts to test integration with Bytez and Facebook API
  scripts/test-bytez-integration.ts
  scripts/test-facebook-token.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add guide for manually generating Facebook page access tokens
  docs/FACEBOOK_TOKEN_MANUAL_GUIDE.md
Due: prettier --write

Add script to exchange short-lived Facebook tokens for long-lived ones
  scripts/quick-facebook-token-exchange.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add system to generate Facebook access tokens using Google credentials
  scripts/generate-facebook-token-direct-developer.ts
  scripts/generate-facebook-token-google-oauth.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add robust Facebook token generation and test invite functionality
  scripts/generate-facebook-token-robust.ts
  scripts/send-test-invite.ts
  server/services/facebook/FacebookTokenGeneratorV2.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update plan to incorporate advanced AI system patterns into mb.md
  docs/MB_MD_ENHANCEMENT_PLAN.md
Due: prettier --write

Update methodology to version 9.0 with 24 elite AI patterns
  mb.md
  mb_v8.2_backup.md
Due: prettier --write

Add a script to convert short-lived Facebook tokens to long-lived ones
  scripts/exchange-facebook-token.ts
  scripts/facebook-v9-intelligent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Document the successful application of AI patterns to Facebook token generation
  docs/MB_MD_V9_SUCCESS_REPORT.md
Due: prettier --write

Add detailed documentation and scripts for Facebook Messenger integration
  mb.md
  scripts/facebook-complete-setup.ts
  scripts/send-test-invite.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add Facebook Messenger expert agent documentation and setup guide
  mb.md
Due: prettier --write

Add Facebook Messenger integration for user communication and invites
  scripts/facebook-get-token-simple.ts
  scripts/facebook-send-invite-complete.ts
  server/routes.ts
  server/routes/facebook-webhooks.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add autonomous script to generate Facebook page access tokens
  scripts/facebook-generate-token-autonomous.ts
  scripts/facebook-token-step-by-step.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update script to use new environment variable names
  scripts/facebook-generate-token-autonomous.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Saved progress at the end of the loop
  attached_assets/image_1763407884077.png
  attached_assets/image_1763407894810.png
Due: none

Fix error when accessing page permissions in Graph Explorer
  attached_assets/image_1763407911546.png
  attached_assets/image_1763407945143.png
Due: none

Add initial project asset files for the platform setup
  attached_assets/image_1763408091993.png
Due: none

Add images to the project documentation and assets
  attached_assets/image_1763408402827.png
  attached_assets/image_1763408445375.png
Due: none

Saved progress at the end of the loop
  attached_assets/image_1763408531148.png
  attached_assets/image_1763408538308.png
Due: none

Add script to extract Facebook page access tokens
  attached_assets/image_1763409762573.png
  attached_assets/image_1763409777190.png
  attached_assets/image_1763409848834.png
  attached_assets/image_1763409981822.png
  scripts/facebook-get-page-token.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add foundation setup documentation and environment configuration
  attached_assets/image_1763410147804.png
Due: none

Add foundational images for the Mundo Tango platform setup
  attached_assets/image_1763410173039.png
Due: none

Saved progress at the end of the loop
  attached_assets/image_1763410326099.png
  attached_assets/image_1763410334268.png
Due: none

Saved progress at the end of the loop
  attached_assets/image_1763410874171.png
Due: none

Add image to illustrate how to get page access token
  attached_assets/image_1763410991509.png
Due: none

Add images to the platform for enhanced user experience
  attached_assets/image_1763411032796.png
  attached_assets/image_1763411055616.png
  attached_assets/image_1763411096827.png
  attached_assets/image_1763411105991.png
  attached_assets/image_1763411232441.png
  attached_assets/image_1763411249875.png
Due: none

Saved progress at the end of the loop
  attached_assets/image_1763411625435.png
  attached_assets/image_1763411648620.png
Due: none

Add automated setup for Facebook Messenger integration
  attached_assets/image_1763411671813.png
  scripts/facebook-add-messenger-autonomous.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add initial project foundation and documentation for platform setup
  attached_assets/image_1763413202226.png
Due: none

Add foundational documentation and environment setup for the platform
  attached_assets/image_1763413260650.png
Due: none

Add image asset for platform foundation setup
  attached_assets/image_1763413473005.png
Due: none

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
