Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Make browser automation more resilient by loading Playwright dynamically
  .replit
  server/services/mrBlue/BrowserAutomationService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update Playwright imports to use dynamic imports for better modularity
  server/agents/scraping/HoyMilongaScraper.ts
  server/agents/scraping/jsScraper.ts
  server/routes/cto-walkthrough-routes.ts
  server/services/FacebookScraperService.ts
  server/services/SelfHealingService.ts
  server/services/facebook/FacebookTokenGenerator.ts
  server/services/facebook/FacebookTokenGeneratorV2.ts
  server/services/mrBlue/FacebookMessengerService.ts
  server/services/mrBlue/VisualValidationService.ts
  server/services/scraping/InfiniteScrollHelper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Ensure production deployment uses correct database URL and autoscale settings
  .replit
  shared/db.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Saved progress at the end of the loop
  .replit
Due: none

docs: complete remediation documentation (Phases 1-4)
  client/src/components/legal/DocumentViewer.tsx
  client/src/pages/EventDetailsPage.tsx
  client/src/pages/EventsPage.tsx
  client/src/pages/GroupDetailsPage.tsx
  client/src/pages/MessagesPage.tsx
  docs/CSRF_WHITELIST.md
  docs/REMEDIATION_TRACKER.md
  docs/SECURITY.md
  docs/STORAGE_ARCHITECTURE.md
  docs/XSS_PROTECTION.md
  server/index.ts
  server/jobs/gdprAccountDeletion.ts
  server/routes/auth.ts
  server/routes/billing-routes.ts
  server/routes/gdpr-routes.ts
  server/routes/health-routes.ts
  server/routes/mrblue-error-actions-routes.ts
  server/routes/mrblue-executor-routes.ts
  server/routes/subscription-routes.ts
  server/routes/webhooks.ts
  server/routes/whisper.ts
  server/utils/encryption.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(dx): implement Sprint 0 Quick Wins - developer experience improvements
  .husky/pre-commit
  .lintstagedrc.json
  QUICK_START.md
  client/src/test/setup.ts
  docs/DATABASE_SECURITY_AUDIT.md
  docs/INPUT_VALIDATION_AUDIT.md
  docs/RATE_LIMITING_AUTH_AUDIT.md
  docs/SECRETS_MANAGEMENT_AUDIT.md
  docs/SECURITY_AUDIT_SUMMARY.md
  eslint.config.js
  package-lock.json
  package.json
  vite.config.ts
  vitest.config.ts
Due: tsc --noEmit, prettier --write, eslint --fix

fix(deps): update zod-validation-error to fix ESLint pre-commit hook
  package-lock.json
Due: prettier --write

feat(storage): create test infrastructure and extract UserRepository
  server/__tests__/fixtures/events.ts
  server/__tests__/fixtures/posts.ts
  server/__tests__/fixtures/users.ts
  server/__tests__/repositories/events.test.ts
  server/__tests__/repositories/posts.test.ts
  server/__tests__/repositories/users.test.ts
  server/storage/core/connection.ts
  server/storage/repositories/users.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(storage): extract Event, Post, and Venue repositories
  server/storage/index.ts
  server/storage/repositories/events.ts
  server/storage/repositories/posts.ts
  server/storage/repositories/venues.ts
Due: tsc --noEmit, prettier --write, eslint --fix

docs(architecture): add ADR-001 for modular route architecture
  docs/adr/ADR-001-modular-route-architecture.md
Due: prettier --write

feat(storage): migrate event domain to repository pattern (Sprint 1.3 Phase 2)
  server/routes.ts
  server/routes/location-change-routes.ts
  server/routes/mention-routes.ts
  server/services/notification-service.ts
  server/workers/eventWorker.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(storage): migrate post domain to repository pattern (Sprint 1.3 Phase 3)
  server/routes.ts
  server/routes/bookmark-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(storage): add specialized repositories (Sprint 1.3 Phase 4)
  server/routes/album-routes.ts
  server/routes/bookmark-routes.ts
  server/routes/friends-routes.ts
  server/routes/webhooks.ts
  server/storage.ts
  server/storage/index.ts
  server/storage/repositories/albums.ts
  server/storage/repositories/bookmarks.ts
  server/storage/repositories/friends.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat: complete Sprint 2.1 & 2.2 repository pattern migration
  server/storage/index.ts
  server/storage/repositories/analytics.ts
  server/storage/repositories/chat.ts
  server/storage/repositories/groups.ts
  server/storage/repositories/media.ts
  server/storage/repositories/moderation.ts
  server/storage/repositories/notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix

test: add GroupRepository test suite (24 tests)
  server/__tests__/repositories/groups.test.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add Railway deployment configuration
  railway.json
Due: prettier --write

fix: regenerate package-lock.json during Railway build to resolve Rollup platform-specific dependencies
  railway.json
Due: prettier --write

chore: archive experimental features (Life CEO, H2AC)
  client/src/components/AppSidebar.tsx
  server/cache/redis-cache.ts
  server/routes/queues.ts
  shared/route-config.ts
Due: tsc --noEmit, prettier --write, eslint --fix

chore(phase-1): archive Life CEO, organize root directory
  .archive/planning-history/BATCH_17_PROFILE_TESTING_COMPLETE.md
  .archive/planning-history/BATCH_27_COMPLETION_SUMMARY.md
  .archive/planning-history/MB_MD_AGENT_HANDOFF_NOV22_2025.md
  .archive/planning-history/MB_MD_COMPLETE_DEPLOYMENT_PLAN.md
  .archive/planning-history/MB_MD_COMPREHENSIVE_AGENT_CREATION_PLAN.md
  .archive/planning-history/MB_MD_EXECUTION_SUMMARY.md
  .archive/planning-history/MB_MD_HANDOFF_PLAN.md
  .archive/planning-history/MB_MD_PHASE_2_EXECUTION_PLAN.md
  .archive/planning-history/MB_MD_RESEARCH_PLAN.md
  .archive/planning-history/MB_MD_RESEARCH_PLAN_V2.md
  .archive/planning-history/MB_MD_V5.1_IMPLEMENTATION_PLAN.md
  .archive/planning-history/MB_MD_V5.1_PROTOCOL.md
  .archive/planning-history/MB_MD_V5_PROTOCOL.md
  .archive/planning-history/MB_MD_V7.1_PROTOCOL.md
  .archive/planning-history/MB_MD_WAVE_10_COMPLETE.md
  .archive/planning-history/WAVE_11_COMPLETE.md
  server/index.ts
  server/routes.ts
  server/routes/life-ceo-routes.ts
  server/scripts/verify-life-ceo-system.ts
  server/services/lifeCeoAgents.ts
  server/services/lifeCeoOrchestrator.ts
  server/services/lifeCeoSemanticMemory.ts
  server/workers/lifeCeoWorker.ts
Due: tsc --noEmit, prettier --write, eslint --fix

docs: add CODEBASE_STRUCTURE developer guide
  CODEBASE_STRUCTURE.md
Due: prettier --write

feat(phase-2-batch-1): organize AI services into ai/ folder
  server/routes.ts
  server/routes/avatarRoutes.ts
  server/routes/lumaGenerationScript.ts
  server/routes/mrblue-video-routes.ts
  server/routes/mrblue-voice-routes.ts
  server/routes/realtimeVoice.ts
  server/routes/videoRoutes.ts
  server/routes/visualEditor.ts
  server/routes/voiceCloning.ts
  server/scripts/generateMrBlue3D.ts
  server/services/ai/aiCodeGenerator.ts
  server/services/ai/aiSupportService.ts
  server/services/ai/elevenlabsService.ts
  server/services/ai/lumaAvatarService.ts
  server/services/ai/lumaVideoService.ts
  server/services/ai/realtimeVoiceService.ts
  server/services/ai/videoAvatarService.ts
  server/services/ai/voiceCloningService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(phase-2-batch-2): organize core infrastructure services
  server/routes.ts
  server/routes/auth.ts
  server/routes/autonomous.ts
  server/routes/event-roles-routes.ts
  server/routes/event-routes.ts
  server/routes/mention-routes.ts
  server/routes/messaging-routes.ts
  server/routes/mrblue-error-actions-routes.ts
  server/routes/qa-platform-routes.ts
  server/services/core/EmailService.ts
  server/services/core/VirtualEmailService.ts
  server/services/core/email-digest-service.ts
  server/services/core/emailReplyService.ts
  server/services/core/livestream-websocket.ts
  server/services/core/notification-service.ts
  server/services/core/streamingService.ts
  server/services/core/websocket-engagement-service.ts
  server/services/core/websocket-notification-service.ts
  server/services/core/websocket.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(phase-2-batch-3): organize domain services
  server/services/domains/events/ScrapedEventIngestionService.ts
  server/services/domains/events/participant-extraction.ts
  server/services/domains/location/CityMatcherService.ts
  server/services/domains/location/GeocodingService.ts
  server/services/domains/location/city-group-data-ingestion.ts
  server/services/domains/location/cityscape-service.ts
  server/services/domains/profiles/profile-enrichment.ts
  server/services/domains/social/StoriesService.ts
  server/services/domains/social/feedAlgorithm.ts
  server/services/scraping/FacebookScraperService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(phase-2-batch-4): organize utility services
  server/routes/visualEditor.ts
  server/services/utils/chat-context.ts
  server/services/utils/codeGenerator.ts
  server/services/utils/didService.ts
  server/services/utils/gdprExport.ts
  server/services/utils/gitService.ts
  server/services/utils/mb-md-metrics.ts
  server/services/utils/mcp-integration.ts
  server/services/utils/mr-blue-data-service.ts
  server/services/utils/mr-blue-service.ts
  server/services/utils/n8nClient.ts
  server/services/utils/resume-parser.ts
  server/services/utils/twoFactor.ts
  server/services/utils/videoCompression.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(phase-2-batch-5-6): complete service organization
  server/services/ai/AIBudgetBuilder.ts
  server/services/ai/AIOutreachGenerator.ts
  server/services/core/FeatureFlagService.ts
  server/services/core/PostingPermissionService.ts
  server/services/core/RBACService.ts
  server/services/dev-tools/CodeOptimizationService.ts
  server/services/dev-tools/GitHubSyncService.ts
  server/services/dev-tools/JiraSyncService.ts
  server/services/financial/RevenueShareService.ts
  server/services/gamification/PomodoroService.ts
  server/services/monitoring/AnalyticsService.ts
  server/services/monitoring/ProductionDatabaseService.ts
  server/services/monitoring/ProductivityAnalyticsService.ts
  server/services/orchestration/AgentValidationService.ts
  server/services/orchestration/ConversationOrchestrator.ts
  server/services/orchestration/PredictiveContextService.ts
  server/services/orchestration/RecommendationEngine.ts
  server/services/orchestration/activeInference.ts
  server/services/orchestration/bayesianBeliefUpdating.ts
  server/services/orchestration/freeEnergyPrinciple.ts
  server/services/self-healing/ErrorRecoveryService.ts
  server/services/streaming/LiveStreamService.ts
  server/services/talent/NaturalLanguageTalentSearch.ts
  server/services/validation/AutoModerationService.ts
  server/services/validation/DarkWebMonitoringService.ts
  server/services/validation/founderApprovalService.ts
  server/services/validation/safetyReviewService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(scraping): Add robust scraping architecture - Phase 1
  scripts/seed-tango-sources.ts
  server/services/SiteProfiler.ts
  server/services/SourceHealthMonitor.ts
  server/services/TangoSourceCatalog.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(storage): extract domain repositories from storage.ts
  server/__tests__/repositories/cities.test.ts
  server/__tests__/repositories/events.test.ts
  server/__tests__/repositories/groups.test.ts.broken
  server/__tests__/repositories/groups.validation.test.ts
  server/__tests__/repositories/housing.test.ts
  server/__tests__/repositories/mrBlue.test.ts
  server/__tests__/repositories/posts.test.ts
  server/__tests__/repositories/profiles.test.ts
  server/__tests__/repositories/security.test.ts
  server/__tests__/repositories/skills.test.ts
  server/__tests__/repositories/venues.test.ts
  server/storage/repositories/cities.ts
  server/storage/repositories/housing.ts
  server/storage/repositories/mrBlue.ts
  server/storage/repositories/profiles.ts
  server/storage/repositories/security.ts
  server/storage/repositories/skills.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(storage): extract domain repositories from storage.ts
  server/__tests__/repositories/cities.test.ts
  server/__tests__/repositories/housing.test.ts
  server/__tests__/repositories/mrBlue.test.ts
  server/__tests__/repositories/profiles.test.ts
  server/__tests__/repositories/security.test.ts
  server/__tests__/repositories/skills.test.ts
  server/storage/repositories/cities.ts
  server/storage/repositories/housing.ts
  server/storage/repositories/mrBlue.ts
  server/storage/repositories/profiles.ts
  server/storage/repositories/security.ts
  server/storage/repositories/skills.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat(storage): extract domain repositories from storage.ts (#76)
  server/__tests__/repositories/cities.test.ts
  server/__tests__/repositories/housing.test.ts
  server/__tests__/repositories/mrBlue.test.ts
  server/__tests__/repositories/profiles.test.ts
  server/__tests__/repositories/security.test.ts
  server/__tests__/repositories/skills.test.ts
  server/storage/repositories/cities.ts
  server/storage/repositories/housing.ts
  server/storage/repositories/mrBlue.ts
  server/storage/repositories/profiles.ts
  server/storage/repositories/security.ts
  server/storage/repositories/skills.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
