Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Improve how messages are displayed in the unified inbox
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update messaging endpoint to display all user conversations
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add direct messaging functionality for users to communicate with each other
  client/src/components/messages/ComposeMessage.tsx
  server/routes/messaging-routes.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update messaging to correctly send and display messages
  client/src/components/messages/ComposeMessage.tsx
  server/routes/messaging-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add logging to track message retrieval and display in unified inbox
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve visibility and clickability of the compose button
  client/src/pages/messages/UnifiedInbox.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve messaging page layout and remove conflicting scroll components
  client/src/pages/messages/UnifiedInbox.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Revise SCRAPER_INDEX with new site details and workflow
  docs/SCRAPER_INDEX.md
Due: prettier --write

Add comprehensive scraper execution plan for tango events
  docs/EXECUTION_PLAN.md
Due: prettier --write

Add message persistence and sending functionality to the platform
  client/src/pages/UserProfilePublicPage.tsx
  client/src/pages/messages/UnifiedInbox.tsx
  server/routes/messages-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add URLs for tango groups in multiple locations
  docs/SCRAPER_INDEX.md
Due: prettier --write

Add seed data for scraping sources
  server/agents/scraping/seedAllSources.sql
Due: none

Document social media rate limiting requirements
  docs/EXECUTION_PLAN.md
Due: prettier --write

Update message sending to match API and clean up imports
  client/src/components/messages/ComposeMessage.tsx
  server/routes.ts
  server/routes/messages-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Expand event sources for multiple global locations
  server/agents/scraping/seedAllSources.sql
Due: none

Update inbox to fetch messages and fix backend endpoint
  client/src/pages/messages/UnifiedInbox.tsx
  create_scraping_tables.sql
  run_scrapers.ts
  server/routes/messages-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add direct messaging and import scraped events
  client/src/components/messages/ComposeMessage.tsx
  fix_import_events.ts
  server/routes/messages-routes.ts
  server/services/scrapers/BaseEventScraper.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add messaging functionality to user profiles
  client/src/components/messages/ComposeMessage.tsx
  client/src/pages/ProfilePage.tsx
  client/src/pages/UserProfilePublicPage.tsx
  server/services/scrapers/TangopolixScraper.ts
  test-scraper.ts
  test-tangopolix-html.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Restore city groups section and improve community map page
  client/src/pages/CommunityWorldMapPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add endpoints to retrieve message conversations and threads
  server/routes/messages-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update messaging interface to display conversations and send messages
  client/src/pages/messages/UnifiedInbox.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add CityMatcherService for location matching
  server/services/CityMatcherService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix community map to show only city groups, not all venues
  server/routes/map-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add messaging notifications and improve page design
  attached_assets/Pasted-MB-MD-IMPLEMENTATION-PLAN-Event-Scraping-City-Matching-_1765324511473.txt
  client/src/App.tsx
  client/src/components/esa/TopNavigationBar.tsx
  client/src/pages/messages/UnifiedInbox.tsx
  server/routes/messages-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update message notifications and improve inbox appearance
  client/src/pages/messages/UnifiedInbox.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Integrate CityMatcherService to link scraped events to city groups
  server/agents/scraping/staticScraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance messaging with reactions, media uploads, and channel connections
  client/src/pages/messages/UnifiedInbox.tsx
  server/routes/messages-routes.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix misclassified venue group types in migration
  server/migrations/fix_venue_group_types.sql
Due: none

Allow users to toggle reactions and improve message reaction handling
  client/src/pages/messages/UnifiedInbox.tsx
  server/routes/messages-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix syntax error and run database migration script
  run_migration.js
  run_migration.ts
  server/routes/map-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix CityMatcherService return type mismatch in staticScraper
  server/agents/scraping/staticScraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Consolidate attachment buttons into a single camera icon
  client/src/pages/messages/UnifiedInbox.tsx
Due: tsc --noEmit, prettier --write, eslint --fix
