Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Update photo uploader to match new hero image design
  client/src/components/PhotoUploadDialog.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add semantic search capabilities for error messages
  server/routes/mrblue-error-analysis-routes.ts
  server/services/mrBlue/ContextService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix comment reactions and display of user details
  attached_assets/Pasted--Technical-Details-for-debugging-Error-ReferenceError-Heart-is-not-defined-Stack-Trace-Refere-1764571024358_1764571024359.txt
Due: none

Improve comment display and functionality by adding reactions and full user details
  client/src/components/feed/CommentsSection.tsx
  client/src/components/ui/CommentItem.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Implement automatic issue fixing by bridging audit findings to the AutoFixEngine
  server/services/mrblue/AgentLifecycle.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Reduce spacing and remove borders from uploaded profile images
  attached_assets/image_1764568111654.png
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Remove unused components and imports from the feed page
  client/src/pages/FeedPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update profile cover photo to fill the entire screen
  attached_assets/image_1764568271787.png
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Visual edit
  client/src/components/feed/PostItem.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix error when fetching comments by using raw SQL
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update reaction functionality to support posts and comments
  client/src/components/feed/PostItem.tsx
  client/src/components/ui/ReactionSelector.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix error when fetching comments and document Drizzle ORM left join behavior
  mb.md
Due: prettier --write

Add functionality to react to comments and display user information
  client/src/components/feed/CommentsSection.tsx
  client/src/components/ui/CommentItem.tsx
  client/src/components/ui/ReactionSelector.tsx
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update city link navigation to user's city page
  client/src/components/AppSidebar.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add a personalized "My Stuff" section to the sidebar
  attached_assets/image_1764579332114.png
  client/src/components/AppSidebar.tsx
  client/src/pages/HousingMarketplacePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve comment display by fixing user info and styling issues
  client/src/components/ui/CommentItem.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve comment reaction functionality and fix related errors
  attached_assets/Pasted--Technical-Details-for-debugging-Error-ReferenceError-postId-is-not-defined-Stack-Trace-Refer-1764571652244_1764571652244.txt
  client/src/components/ui/ReactionSelector.tsx
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve page load speed by deferring non-essential components
  client/src/pages/FeedPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Enable users to react to comments and improve reaction functionality
  client/src/components/ui/CommentItem.tsx
  client/src/components/ui/ReactionSelector.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix comments retrieval and reformat user data for compatibility
  attached_assets/Pasted--Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-events-68c9ad4d-1764576030288_1764576030291.txt
  attached_assets/image_1764576023065.png
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Allow organizers and creators to add participants to events
  server/routes/event-roles-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Optimize user search by adding a debounce delay
  client/src/components/events/EventParticipantManager.tsx
  docs/MB_MD_EVENT_PARTICIPANT_MANAGER_PLAN.md
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix

Fix feed loading errors by properly handling authentication
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764585246536_1764585246537.txt
Due: none

Add authentication guards and caching to feed components
  client/src/components/feed/ActiveUsersSidebar.tsx
  client/src/components/feed/FeedHeroWelcome.tsx
  client/src/components/feed/InfiniteScrollFeed.tsx
  client/src/components/feed/RecommendedPosts.tsx
  client/src/components/feed/TrendingPosts.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix Content Security Policy configuration errors
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764586109170_1764586109171.txt
  attached_assets/image_1764586096552.png
Due: none

Improve loading speed of event sidebar by optimizing data fetching
  client/src/hooks/useEvents.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update city link to navigate to the correct city groups page
  attached_assets/image_1764581961444.png
  client/src/components/AppSidebar.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix event participant search and participant loading errors
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764585767407_1764585767409.txt
  client/src/components/events/EventParticipantManager.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add friends list functionality with API helpers and related features
  client/src/api/friends.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Create AS.MD for Atlas SystemAdd master memory document as.md summarizing universal context Master Memory
  qa_reports/as.md
Due: prettier --write

Add permission requirement to AS.MDAdd permission requirement section to as.md
  qa_reports/as.md
Due: prettier --write

Add Rapid Deployment Process section to as.md
  qa_reports/as.md
Due: prettier --write

Fix Friends navigation link: change /friends-list to /friends
  client/src/components/AppSidebar.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve notifications by automatically refreshing them after user actions
  client/src/components/events/EventParticipantManager.tsx
Due: tsc --noEmit, prettier --write, eslint --fix
