Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Update event participant retrieval to include name and profile image
  server/routes/event-roles-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update notification cache invalidation to ensure real-time updates
  attached_assets/image_1764588994159.png
  client/src/components/events/EventParticipantManager.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix incorrect map pin locations by standardizing coordinate data format
  replit.md
Due: prettier --write

Fix issues with managing participants and event notifications
  attached_assets/image_1764588412542.png
Due: none

Fix event map pins to display at correct geographical locations
  attached_assets/targeted_element_1764615085805.png
  client/src/pages/CommunityMapPage.tsx
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix incorrect location pins by properly formatting coordinates
  server/routes/map-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Show individual events on the map at their actual locations
  attached_assets/targeted_element_1764614335928.png
  client/src/pages/CommunityMapPage.tsx
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add map markers endpoint to display community locations
  attached_assets/targeted_element_1764590916532.png
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add debug logging to event participant search functionality
  client/src/components/events/EventParticipantManager.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix notification navigation by correcting a field name mismatch
  server/services/notification-service.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add notification service import to event roles routes file
  server/routes/event-roles-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update map to correctly display individual event locations and details
  attached_assets/targeted_element_1764614713606.png
  client/src/components/map/CommunityMapWithLayers.tsx
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Allow event creators to manage participants and fix notification icons
  client/src/components/navigation/UnifiedTopBar.tsx
  server/routes/event-roles-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update notification type for participant additions to events
  server/routes/event-roles-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update community map to display city groups and unified popups
  attached_assets/targeted_element_1764591405203.png
  client/src/pages/CommunityMapPage.tsx
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update sidebar navigation and styling for better user experience
  attached_assets/image_1764638236195.png
  client/src/components/AppSidebar.tsx
  client/src/index.css
Due: tsc --noEmit, prettier --write, eslint --fix

QA: Add comprehensive Friends page audit report (Phase 1-3.2)
  qa_reports/FRIENDS_PAGE_AUDIT_DEC_2025.md
Due: prettier --write

QA: Add interactive feature test report for Friends page friend connection flow
  qa_reports/FRIENDS_PAGE_INTERACTIVE_TEST_DEC_2025.md
Due: prettier --write

QA: Create Comet/Atlas Workflow Master Document for AI agent continuity and collaboration
  qa_reports/COMET_ATLAS_WORKFLOW_MASTER.md
Due: prettier --write

QA: Add comprehensive Friend Request Form updates specification (Phase 3.3 prep)
  qa_reports/FRIEND_REQUEST_FORM_UPDATES_SPECIFICATION.md
Due: prettier --write

Add SendFriendRequestModal component
  client/src/components/friends/SendFriendRequestModal.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

docs(atlas): Create COMET_ATLAS_WORKFLOW_MASTER.md
  COMET_ATLAS_WORKFLOW_MASTER.md
Due: prettier --write

Add production-ready SendFriendRequestModal with mb.md Pattern 36 compliance
  client/src/components/friends/SendFriendRequestModal.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

docs(mr-blue): Create Mr Blue ElevenLabs integration spec
  MR_BLUE_ELEVENLABS_INTEGRATION_SPEC.md
Due: prettier --write

docs(mr-blue): Create Mr Blue architecture specification
  docs/MR_BLUE_AS.MD
Due: none

Add Luma Dream Machine API integration service and routes
  server/routes/luma-routes.ts
  server/services/luma-service.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive documentation for Luma Dream Machine integration
  LUMA_INTEGRATION.md
Due: prettier --write

Complete Mr Blue AI Assistant: Luma video + ElevenLabs voice + chat API
  MB.MD
  client/src/components/friends/FriendRequestModal.tsx
  server/index.ts.backup
  server/routes/mr-blue-routes.ts
  server/services/mr-blue-service.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add Mr Blue completion documentation
  MR_BLUE_COMPLETE.md
Due: prettier --write

Remove misplaced route imports and fix server startup error
  attached_assets/Pasted-Multi-branch-Change-Details-This-document-provides-a-structured-overview-of-all-code-and-documentat-1764654800362_1764654800363.txt
  server/index.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add Mr. Blue avatar and text-to-speech capabilities
  attached_assets/Pasted-diff-git-a-package-json-b-package-json-new-file-mode-100644-index-0000000-1111111-dev-null--1764659193722_1764659193722.txt
  attached_assets/Pasted-diff-git-a-package-json-b-package-json-new-file-mode-100644-index-0000000-1111111-dev-null--1764659259189_1764659259189.txt
Due: none

Transitioned from Plan to Build mode
  attached_assets/Pasted-1-Create-a-secure-TTS-proxy-on-the-server-Add-a-new-Express-route-e-g-server-routes-mrBlueTTS-t-1764660914959_1764660914960.txt
  attached_assets/Pasted-Here-s-a-Vite-compatible-implementation-of-the-Mr-Blue-3D-avatar-system-It-adds-the-3D-component-T-1764660417642_1764660417648.txt
Due: none

Add 3D avatar with interactive emotions and text-to-speech capabilities
  client/src/App.tsx
  client/src/components/mr-blue/Avatar3D.tsx
  client/src/hooks/useEmotionDetection.ts
  client/src/lib/personalityEngine.ts
  client/src/lib/ttsService.ts
  client/src/pages/mr-blue-avatar-3d.tsx
  public/models/README.md
  server/routes.ts
  server/routes/mrBlueTTS.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add a new system for creating interactive 3D avatars with text-to-speech capabilities
  replit.md
Due: prettier --write

Add default voice for text-to-speech generation
  client/src/lib/ttsService.ts
  server/routes/mrBlueTTS.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Visual edit
  client/src/pages/FriendsListPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix
