Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Update website to use dynamic stats and improve messaging features
  client/src/pages/FeedPage.tsx
  client/src/pages/MessagesPage.tsx
  client/src/pages/OnboardingPage.tsx
  client/src/pages/SettingsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update platform audit and fix onboarding, messages, and settings pages
  replit.md
Due: prettier --write

Add donation and ambassador features to the platform
  docs/handoff/Comet/Money.md
  server/routes.ts
  server/routes/public-stats-routes.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

fix: Update LandingPage to handle stats and hero section properly
  client/src/pages/LandingPage.tsx
  client/src/pages/marketing/AmbassadorsPage.tsx
  client/src/pages/marketing/MrBluePage.tsx
  client/src/pages/marketing/OpenSourcePage.tsx
  client/src/pages/marketing/SupportPage.tsx
  client/src/pages/marketing/SupportersPage.tsx
  client/src/pages/marketing/VolunteerPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Remove duplicate volunteer page route and import
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive marketing pages and associated backend APIs
  replit.md
Due: prettier --write

Add community links to navigation and footer
  client/src/components/PublicLayout.tsx
  client/src/components/PublicNavbar.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add marketing pages to website navigation and footer
  docs/marketing-site-plan.md
Due: prettier --write

Make all navigation buttons functional across marketing pages
  client/src/pages/marketing/AmbassadorsPage.tsx
  client/src/pages/marketing/OpenSourcePage.tsx
  client/src/pages/marketing/SupportPage.tsx
  client/src/pages/marketing/VolunteerPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add navigation links to marketing pages and update testing documentation
  client/src/pages/marketing/AnalyticsAgentPage.tsx
  client/src/pages/marketing/ContentAgentPage.tsx
  client/src/pages/marketing/EmailAgentPage.tsx
  client/src/pages/marketing/ForTeachersPage.tsx
  client/src/pages/marketing/SEOAgentPage.tsx
  client/src/pages/marketing/SocialMediaAgentPage.tsx
  client/src/pages/marketing/SupportPage.tsx
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix

Update marketing pages with tango imagery and ambassador requirements
  attached_assets/stock_images/buenos_aires_argenti_4131c695.jpg
  attached_assets/stock_images/buenos_aires_argenti_88a7659b.jpg
  attached_assets/stock_images/buenos_aires_argenti_9805cd85.jpg
  attached_assets/stock_images/milonga_dance_hall,__36c486f2.jpg
  attached_assets/stock_images/milonga_dance_hall,__451269f1.jpg
  attached_assets/stock_images/milonga_dance_hall,__46cae5f7.jpg
  attached_assets/stock_images/milonga_dance_hall,__8449cbb5.jpg
  attached_assets/stock_images/milonga_dance_hall,__ffbc0d71.jpg
  attached_assets/stock_images/tango_dancers_in_ele_003ee0cf.jpg
  attached_assets/stock_images/tango_dancers_in_ele_3f401f8b.jpg
  attached_assets/stock_images/tango_dancers_in_ele_8c2ddd84.jpg
  attached_assets/stock_images/tango_dancers_in_ele_9f76090c.jpg
  attached_assets/stock_images/tango_dancers_in_ele_e6cc8a3a.jpg
  client/src/pages/marketing/AmbassadorsPage.tsx
  client/src/pages/marketing/AnalyticsAgentPage.tsx
  client/src/pages/marketing/ContentAgentPage.tsx
  client/src/pages/marketing/EmailAgentPage.tsx
  client/src/pages/marketing/SEOAgentPage.tsx
  client/src/pages/marketing/SocialMediaAgentPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add preview data notices to agent pages and update ambassador requirements
  client/src/pages/marketing/AnalyticsAgentPage.tsx
  client/src/pages/marketing/ContentAgentPage.tsx
  client/src/pages/marketing/EmailAgentPage.tsx
  client/src/pages/marketing/SEOAgentPage.tsx
  client/src/pages/marketing/SocialMediaAgentPage.tsx
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix

Update pricing strategy for subscription tiers and add-ons
  attached_assets/Pasted-The-main-goal-Free-Trial-Basic-Tier-Every-user-starts-w_1764799506125.txt
Due: none

Remove outdated content and update pricing and trial information
  client/src/App.tsx
  client/src/pages/LandingPage.tsx
  client/src/pages/PricingPage.tsx
  client/src/pages/marketing/ForDancersPage.tsx
  client/src/pages/marketing/ForOrganizersPage.tsx
  client/src/pages/marketing/ForTeachersPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update contact page to use AI chat and display local tango information
  client/src/pages/ContactPage.tsx
  client/src/pages/LandingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation to reflect platform changes and testing methodologies
  replit.md
Due: prettier --write

Add a dedicated demos hub and interactive modal to showcase platform features
  client/src/App.tsx
  client/src/components/PublicNavbar.tsx
  client/src/components/marketing/DemoModal.tsx
  client/src/pages/DemosPage.tsx
  client/src/pages/LandingPage.tsx
  docs/PRD_DEMO_SYSTEM.md
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive demo system to showcase platform features
  replit.md
Due: prettier --write

Create an interactive demo experience for the platform's key features
  client/src/components/marketing/DemoModal.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Remove demo page and related navigation links
  client/src/App.tsx
  client/src/components/PublicNavbar.tsx
  client/src/components/marketing/DemoModal.tsx
  client/src/pages/DemosPage.tsx
  client/src/pages/LandingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve avatar error display and add demo recording functionality
  client/src/components/mr-blue/PixarAvatar.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add script to capture platform demo screenshots
  public/demos/hero-section.png
  public/demos/landing-page.png
  scripts/record-demo.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update landing page screenshots and improve demo modal appearance
  client/src/components/marketing/DemoModal.tsx
  client/src/pages/LandingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve demo system by adding interactive slides and real screenshots
  replit.md
Due: prettier --write

Add comprehensive E2E testing methodology documentation
  replit.md
Due: prettier --write

Update demo system and documentation with real assets
  attached_assets/Pasted-Absolutely-Those-placeholder-screenshots-should-be-real_1764805900229.txt
Due: none

Update demo recording script to capture key platform pages
  public/demos/events-discovery.png
  public/demos/hero-section.png
  public/demos/landing-page.png
  public/demos/mr-blue-chat.png
  public/demos/profile-view.png
  public/demos/tango-map.png
  scripts/record-demo.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update landing page to display actual demo screenshots
  client/src/pages/LandingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add a dedicated page to showcase all platform demos
  client/src/App.tsx
  client/src/components/PublicNavbar.tsx
  client/src/pages/DemosPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Remove demo page link from public navigation bar
  client/src/components/PublicNavbar.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add interactive video demos for platform features
  client/src/components/marketing/VideoDemoModal.tsx
  client/src/pages/LandingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add interactive video demonstrations to the landing page and improve modal accessibility
  client/src/components/marketing/VideoDemoModal.tsx
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix
