Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Update demo modal to show real customer journey recordings
  client/src/components/marketing/VideoDemoModal.tsx
  public/demos/journeys/events-step-01.png
  public/demos/journeys/events-step-02.png
  public/demos/journeys/manifest.json
  public/demos/journeys/mr-blue-step-01.png
  public/demos/journeys/mr-blue-step-02.png
  public/demos/journeys/profile-step-01.png
  public/demos/journeys/profile-step-02.png
  public/demos/journeys/tango-map-step-01.png
  public/demos/journeys/tango-map-step-02.png
  scripts/record-customer-journeys.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add video recording system for user journeys and marketing
  package-lock.json
  package.json
  scripts/journey-schema.ts
  scripts/video-recorder.ts
  server/services/video/VideoRecordingService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add customer journey recordings for marketing and testing
  journeys/customer/event-discovery.yaml
  journeys/customer/mr-blue-chat.yaml
  journeys/customer/profile-view.yaml
  journeys/customer/signup.yaml
Due: prettier --write

Add video recording system and marketing journeys to the platform
  journeys/marketing/community-showcase.yaml
  journeys/marketing/tango-map-promo.yaml
  journeys/tours/app-onboarding.yaml
  journeys/tours/feature-highlights.yaml
  server/routes.ts
  server/routes/video-recording-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update demo videos to use actual video playback with new controls
  client/src/components/marketing/VideoDemoModal.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add video recording system for customer journeys and marketing content
  public/videos/manifest.json
  replit.md
Due: prettier --write

Update landing page demos to use video recordings and show durations
  client/src/pages/LandingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve demo video display with engaging fallback animations
  client/src/components/marketing/VideoDemoModal.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Transitioned from Plan to Build mode
  attached_assets/image_1764811197348.png
Due: none

Update video manifest with recorded content and thumbnails
  public/videos/customer/event-discovery-thumb.jpg
  public/videos/customer/mr-blue-chat-thumb.jpg
  public/videos/customer/signup-thumb.jpg
  public/videos/manifest.json
  public/videos/marketing/community-showcase-thumb.jpg
  public/videos/marketing/tango-map-promo-thumb.jpg
  public/videos/tour/app-onboarding-thumb.jpg
  public/videos/tour/feature-highlights-thumb.jpg
Due: prettier --write

Update documentation to reflect current video recording status
  replit.md
Due: prettier --write

Update pricing tiers to reflect current offerings
  attached_assets/image_1764813721813.png
Due: none

Update pricing information to include all available tiers
  client/src/pages/LandingPage.tsx
  replit.md
Due: tsc --noEmit, prettier --write, eslint --fix

Add community data extraction and enrichment capabilities
  .github/workflows/scrape-events.yml
  scripts/add-competitor-platforms.ts
  server/agents/scraping/jsScraper.ts
  server/agents/scraping/socialScraper.ts
  server/agents/scraping/staticScraper.ts
  server/routes/scraping-admin-routes.ts
  server/services/scraping/CityGroupEnrichmentService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update project documentation with system architecture details
  replit.md
Due: prettier --write

Update user data to use consistent naming conventions
  attached_assets/image_1764817695658.png
  attached_assets/image_1764817786138.png
  attached_assets/image_1764818483504.png
  attached_assets/image_1764818651251.png
  attached_assets/image_1764820224864.png
  server/routes/auth.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add event series management and RSS feed scraping capabilities
  client/src/App.tsx
  client/src/pages/EventDetailPage.tsx
  client/src/pages/EventSeriesPage.tsx
  server/agents/scraping/masterOrchestrator.ts
  server/middleware/csrf.ts
  server/routes.ts
  server/routes/event-series.ts
  server/routes/scraping-admin-routes.ts
  server/scripts/batchGeocodeEvents.ts
  server/services/GeocodingService.ts
  server/services/scraping/RSSFeedService.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add functionality to create recurring events and manage event series
  client/src/pages/CreateEventPage.tsx
  client/src/pages/GroupDetailsPage.tsx
  server/scripts/autoApproveScrapedEvents.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add recurring event series and redesign city group event listings
  replit.md
Due: prettier --write

Add new housing routes and improve user authentication and recommendations
  attached_assets/Pasted-Here-s-a-structured-pass-over-what-s-in-Talent-Match-md_1764830457496.txt
  attached_assets/image_1764826432028.png
  attached_assets/image_1764826509222.png
  attached_assets/image_1764826513948.png
  attached_assets/image_1764827864728.png
  attached_assets/image_1764829344195.png
  attached_assets/image_1764830024176.png
  client/src/App.tsx
  client/src/components/mrBlue/MrBlueFloatingButton.tsx
  server/middleware/csrf.ts
  server/routes/friends-routes.ts
  server/routes/recommendation-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation with API security and feature completion checklists
  MB.MD
  attached_assets/Pasted--If-a-user-has-created-a-travel-plan-the-city-groups-ar_1764877997711.txt
  attached_assets/Pasted-use-mb-md-That-is-all-great-The-Events-all-need-to-use-_1764875858985.txt
  attached_assets/Pasted-use-mb-md-That-is-all-great-The-Events-all-need-to-use-_1764876146655.txt
  attached_assets/Pasted-use-mb-md-That-is-all-great-The-Events-all-need-to-use-_1764876245403.txt
  attached_assets/Pasted-use-mb-md-That-is-all-great-The-Events-all-need-to-use-_1764877182878.txt
  attached_assets/Pasted-use-mb-md-That-is-all-great-The-Events-all-need-to-use-_1764878207748.txt
Due: none

Add consistent navigation and layouts to key platform pages
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add a new City Hub page for exploring city-specific tango information
  client/src/App.tsx
  client/src/components/AppSidebar.tsx
  client/src/pages/CityHubPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add reusable filter bar and friendship closeness components
  .replit
  client/src/components/filters/UnifiedFilterBar.tsx
  client/src/components/friendship/FriendshipClosenessIndicator.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add unified components for filtering and friendship indicators
  replit.md
Due: prettier --write
