Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Add real-time email validation to user registration page
  client/src/pages/RegisterPage.tsx
  docs/DEMO_REPLIT_AI_MRBLUE_QA.md
  docs/LIVE_VIBECODING_DEMO.md
  server/routes/auth.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Implement advanced AI principles for system monitoring and user modeling
  server/services/activeInference.ts
  server/services/bayesianBeliefUpdating.ts
  server/services/freeEnergyPrinciple.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive tests for real-time email validation during registration
  tests/e2e/registration-email-validation.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Allow users to view visual editor without logging in
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1763555518950_1763555518952.txt
  client/src/lib/queryClient.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Document public access for visual editor and auth error handling
  replit.md
Due: prettier --write

Restore Mr. Blue's vibecoding capabilities and improve chat functionality
  docs/MB-MD-BUILD-PLAN-VIBECODING-RESTORE-NOV19-2025.md
  docs/MB-MD-RESEARCH-PLAN-VIBECODING-FIX-NOV19-2025.md
Due: prettier --write

Improve conversational AI's understanding and responsiveness
  attached_assets/image_1763556926638.png
  server/routes/mrBlue.ts
  server/services/ConversationOrchestrator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance AI assistant with Vibecoding and context awareness
  replit.md
Due: prettier --write

Add ability to modify user interface elements via chat commands
  attached_assets/image_1763575854636.png
  attached_assets/image_1763575938805.png
  server/services/ConversationOrchestrator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fully restore Mr. Blue AI chat memory and context awareness
  replit.md
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive test for AI chat modification capabilities
  attached_assets/image_1763576743913.png
  docs/MB-MD-TEST-PLAN-VIBECODING-E2E-NOV19-2025.md
  e2e/tests/mr-blue-vibecoding-e2e.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve AI assistant's ability to understand and modify user interface elements
  docs/MB-MD-VIBECODING-SOLUTION-NOV19-2025.md
  replit.md
Due: prettier --write

Add visual proof of Mr. Blue conversation in the platform UI
  attached_assets/image_1763577843374.png
  attached_assets/image_1763577845861.png
  attached_assets/image_1763577852474.png
Due: none

Update visual editor to show live preview and chat functionality
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add a display for generated code in the chat interface
  client/src/components/visual-editor/MrBlueVisualChat.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Make fetching conversation history conditional on user authentication
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add mobile-friendly tabs and AI model fallback for chat
  client/src/components/visual-editor/VisualEditorSplitPane.tsx
  server/routes/mrblue-stream.ts
  server/services/ConversationOrchestrator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add visual editor end-to-end tests with screenshots
  e2e/e2e/screenshots/01-visual-editor-loaded.png
  e2e/e2e/screenshots/02-context-question-typed.png
  e2e/tests/visual-editor-demo-e2e.spec.ts
  e2e/tests/visual-editor-full-demo.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update test to correctly identify AI responses in the chat interface
  e2e/tests/visual-editor-demo-e2e.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add new screenshots to document the visual editor and AI response flow
  e2e/e2e/screenshots/03-context-response.png
  e2e/e2e/screenshots/04-vibecode-request-typed.png
  e2e/e2e/screenshots/06-code-complete.png
  e2e/screenshots/01-visual-editor-loaded.png
  e2e/screenshots/02-context-question-typed.png
  e2e/screenshots/03-context-response.png
  e2e/screenshots/04-vibecode-request-typed.png
  e2e/screenshots/06-code-complete.png
Due: none

Update request routing to enable code generation for UI modifications
  client/src/pages/VisualEditorPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add admin login to test for secure code generation
  e2e/e2e/screenshots/01-visual-editor-loaded.png
  e2e/e2e/screenshots/02-context-question-typed.png
  e2e/e2e/screenshots/03-context-response.png
  e2e/e2e/screenshots/04-vibecode-request-typed.png
  e2e/e2e/screenshots/06-code-complete.png
  e2e/screenshots/01-visual-editor-loaded.png
  e2e/screenshots/02-context-question-typed.png
  e2e/screenshots/03-context-response.png
  e2e/screenshots/04-vibecode-request-typed.png
  e2e/screenshots/06-code-complete.png
  e2e/tests/visual-editor-demo-e2e.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve testing by increasing timeout and documenting visual proof
  docs/VISUAL-PROOF-SUMMARY-NOV20-2025.md
  e2e/e2e/screenshots/01-visual-editor-loaded.png
  e2e/e2e/screenshots/02-context-question-typed.png
  e2e/e2e/screenshots/03-context-response.png
  e2e/e2e/screenshots/04-vibecode-request-typed.png
  e2e/e2e/screenshots/06-code-complete.png
  e2e/tests/visual-editor-demo-e2e.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Document curriculum for AI learning and memory systems
  attached_assets/image_1763616306268.png
  attached_assets/image_1763622215858.png
  attached_assets/image_1763622563537.png
  attached_assets/image_1763622621198.png
  docs/MR-BLUE-LEARNING-CURRICULUM-NOV20-2025.md
Due: prettier --write

Add conversation memory and error learning capabilities to the platform
  client/src/pages/VisualEditorPage.tsx
  docs/AGENT-LEARNING-MAP-NOV20-2025.md
  docs/AGENT_COLLABORATION_KNOWLEDGE_BASE.md
  docs/AGENT_MEMORY_KNOWLEDGE_BASE.md
  docs/AGENT_SME_TRAINING_KNOWLEDGE_BASE.md
  docs/AGENT_TELEMETRY_KNOWLEDGE_BASE.md
  docs/AGENT_VALIDATION_KNOWLEDGE_BASE.md
  docs/AUTONOMOUS_AGENT_KNOWLEDGE_BASE.md
  docs/ERROR_ANALYSIS_KNOWLEDGE_BASE.md
  docs/MR_BLUE_VISUAL_EDITOR_KNOWLEDGE_BASE.md
  docs/QUALITY_VALIDATOR_KNOWLEDGE_BASE.md
  docs/SOLUTION_SUGGESTER_KNOWLEDGE_BASE.md
  server/routes/mrBlue.ts
  server/services/knowledge/KnowledgeBaseManager.ts
  server/services/mrBlue/CodeGenerator.ts
  server/services/mrBlue/ContextService.ts
  server/services/mrBlue/PreferenceExtractor.ts
  server/services/mrBlue/VibeCodingService.ts
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add system to track and predict user workflow patterns
  server/services/mrBlue/WorkflowPatternTracker.ts
  server/storage.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add new tables and storage methods for user workflows
  docs/ALL-PHASES-IMPLEMENTATION-SUMMARY-NOV20-2025.md
Due: prettier --write

Document current Mr. Blue learning status and identify live readiness blockers
  docs/MR-BLUE-LIVE-READINESS-AUDIT-NOV20-2025.md
Due: prettier --write

Add new methodology learnings and a build plan for the platform
  docs/MB-MD-BUILD-PLAN-LIVE-TRANSFORMATION-NOV20-2025.md
  mb.md
Due: prettier --write

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
