Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Add sample event data for empty database fallback
  server/routes/event-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Integrate talent matching flow with H2AC dashboard for improved user experience
  client/src/pages/H2ACDashboardPage.tsx
  client/src/pages/TalentMatchPage.tsx
  shared/route-config.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Validate marketplace data and API connectivity for beta users
  replit.md
Due: prettier --write

Remove old welcome message and active user sidebar elements
  client/src/components/feed/ActiveUsersSidebar.tsx
  client/src/components/feed/FeedHeroWelcome.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Remove unused components and clean up feed welcome section
  client/src/components/feed/ActiveUsersSidebar.tsx
  client/src/components/feed/FeedHeroWelcome.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix map markers to display correct location data
  server/routes/map-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix community map API to display accurate location and count data
  replit.md
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update platform to display recommendations instead of venues
  client/src/components/feed/FeedHeroWelcome.tsx
  client/src/components/map/CommunityMapWithLayers.tsx
  client/src/pages/CommunityWorldMapPage.tsx
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Create QA strategy document for all platform pages
  docs/MB_MD_PAGE_QA_STRATEGY.md
Due: prettier --write

Update documentation for platform overview and system architecture
  replit.md
Due: prettier --write

Fix feed to show posts and remove unused sidebar
  client/src/components/feed/InfiniteScrollFeed.tsx
  client/src/components/feed/RecommendedPosts.tsx
  client/src/pages/FeedPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Remove confusing connection status badge from navigation and feed
  client/src/components/navigation/UnifiedTopBar.tsx
  client/src/pages/FeedPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix feed authentication and self-healing confidence threshold
  client/src/components/feed/InfiniteScrollFeed.tsx
  client/src/components/feed/RecommendedPosts.tsx
  client/src/pages/FeedPage.tsx
  server/routes/mrblue-error-analysis-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix feed algorithm to correctly count likes on posts
  server/services/feedAlgorithm.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add specialized agent to monitor and fix feed page issues
  server/services/mrblue/AgentRegistry.ts
  server/services/mrblue/agents/FeedPageAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix feed errors by updating how shares are counted and removing recommendations
  client/src/pages/FeedPage.tsx
  server/services/feedAlgorithm.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Remove welcome component and add feature agents for testing
  client/src/pages/FeedPage.tsx
  server/services/mrblue/agents/BaseFeatureAgent.ts
  server/services/mrblue/agents/FeedPageAgent.ts
  server/services/mrblue/agents/features/InfiniteScrollFeatureAgent.ts
  server/services/mrblue/agents/features/PostCreatorFeatureAgent.ts
  server/services/mrblue/agents/features/PostReactionsFeatureAgent.ts
  server/services/mrblue/agents/features/StoriesCarouselFeatureAgent.ts
  server/services/mrblue/agents/features/index.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add Q&A research system for autonomous agent self-interrogation and testing
  server/routes.ts
  server/routes/mrblue-qa-research-routes.ts
  server/services/mrblue/MrBlueQAResearch.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive agent system for all platform pages
  server/services/mrblue/AgentRegistry.ts
  server/services/mrblue/agents/AdminPageAgent.ts
  server/services/mrblue/agents/EventsPageAgent.ts
  server/services/mrblue/agents/FinancialPageAgent.ts
  server/services/mrblue/agents/GroupsPageAgent.ts
  server/services/mrblue/agents/HousingPageAgent.ts
  server/services/mrblue/agents/MessagesPageAgent.ts
  server/services/mrblue/agents/MrBluePageAgent.ts
  server/services/mrblue/agents/ProfilePageAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve agent functionality and test planning capabilities
  server/services/mrblue/MrBlueQAResearch.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive testing and orchestration for all agents
  server/routes/mrblue-qa-research-routes.ts
  server/services/mrblue/AgentTestOrchestrator.ts
  tests/e2e/admin-page/user-management.spec.ts
  tests/e2e/comprehensive-platform.spec.ts
  tests/e2e/events-page/event-calendar.spec.ts
  tests/e2e/events-page/event-creation.spec.ts
  tests/e2e/feed-page/infinite-scroll.spec.ts
  tests/e2e/feed-page/post-creator.spec.ts
  tests/e2e/feed-page/post-reactions.spec.ts
  tests/e2e/feed-page/stories-carousel.spec.ts
  tests/e2e/financial-page/financial-dashboard.spec.ts
  tests/e2e/groups-page/city-groups.spec.ts
  tests/e2e/helpers/test-auth.ts
  tests/e2e/housing-page/listing-search.spec.ts
  tests/e2e/messages-page/direct-messages.spec.ts
  tests/e2e/mrblue-page/vibecoding.spec.ts
  tests/e2e/profile-page/edit-profile.spec.ts
  tests/e2e/profile-page/profile-info.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Generate comprehensive test report for all agent pages
  tests/e2e/MB-MD-TEST-REPORT.md
Due: prettier --write

Update comprehensive test report with detailed execution results
  tests/e2e/MB-MD-TEST-REPORT.md
Due: prettier --write

Display user roles on posts and use API requests for post actions
  attached_assets/image_1764074279456.png
  client/src/components/feed/PostItem.tsx
  client/src/components/feed/PostReactions.tsx
  client/src/components/universal/PostCreator.tsx
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Address data completeness and agent validation gaps
  attached_assets/image_1764074874718.png
  attached_assets/image_1764074882135.png
  attached_assets/image_1764075009192.png
Due: none
