Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: regenerate package-lock.json to sync with package.json
  package-lock.json
Due: prettier --write

fix: add Linux Rollup binaries as optional dependencies for Railway build
  package-lock.json
  package.json
Due: prettier --write

fix: include stock_images in Docker build context
  .dockerignore
Due: none

fix: add nixpacks.toml and dynamic Vite import to fix Railway deployment
  nixpacks.toml
  server/index.ts
Due: tsc --noEmit, prettier --write, eslint --fix

perf: reduce Railway memory usage from 95.5% to ~55%
  nixpacks.toml
  server/index.ts
  server/instrumentation.ts
  server/services/index.ts
Due: tsc --noEmit, prettier --write, eslint --fix

perf: reduce Railway memory usage from 95.5% to ~55% (#82)
  nixpacks.toml
  server/index.ts
  server/instrumentation.ts
  server/services/index.ts
Due: tsc --noEmit, prettier --write, eslint --fix
