Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Optimize deployment size by excluding large directories and files
  .deployignore
  replit.md
Due: prettier --write

Create n8n-implementation-guide.md
  mr-blue-brain/n8n/n8n-implementation-guide.md
Due: prettier --write

Update n8n-implementation-guide.md for self-hosted environment
  mr-blue-brain/n8n/n8n-implementation-guide.md
Due: prettier --write

Fix: Remove broken attached_assets image import from HelpPage
  client/src/pages/HelpPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Integrate tiered AI assistant for marketing and authenticated users
  client/src/App.tsx
  client/src/components/mrBlue/MrBlueFloatingButton.tsx
  client/src/components/mrblue/GlobalMrBlue.tsx
  mb.md
Due: tsc --noEmit, prettier --write, eslint --fix

Restore original Mr. Blue chat button functionality
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Restore the original Mr. Blue floating chat button functionality
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update project documentation and improve deployment size management
  .dockerignore
  replit.md
Due: prettier --write

Restore floating chat button on all pages
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve Mr. Blue button visibility and chat panel display
  .replitignore
  client/src/components/mrblue/ChatSidePanel.tsx
  client/src/components/mrblue/GlobalMrBlue.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve build process by adding cleanup steps and optimizing output
  .dockerignore
  scripts/build.sh
Due: none

Improve housing listing creation form and location picker
  client/src/components/input/UnifiedLocationPicker.tsx
  client/src/pages/housing/CreateListingPage.tsx
  client/src/routes/index.tsx
  client/src/routes/miscRoutes.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve deployment safety by protecting critical files
  .gitignore
  mb.md
  replit.md
  scripts/prebuild-cleanup.sh
Due: prettier --write

Add new tables for tracking points of interest and event participants
  .github/ROUND2_INTEGRATION_PLAN.md
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update event scraping to include new scraper types and priorities
  server/agents/scraping/masterOrchestrator.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update event scraper to correctly identify countries for scraped events
  replit.md
  server/agents/scraping/HoyMilongaScraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Expand event scraping to include more international locations and all available data
  server/agents/scraping/HoyMilongaScraper.ts
  server/agents/scraping/TangoCatScraper.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add upcoming visitors tab and city slug redirect for group pages
  client/src/pages/CitySlugRedirectPage.tsx
  client/src/pages/GroupDetailsPage.tsx
  client/src/routes/socialRoutes.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve event data handling and city slug processing
  client/src/pages/CitySlugRedirectPage.tsx
  client/src/pages/GroupDetailsPage.tsx
  server/services/ScrapedEventIngestionService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve city and country searches to be case-insensitive
  client/src/components/map/CityPopupCard.tsx
  client/src/components/map/CommunityMapWithLayers.tsx
  client/src/pages/CommunityWorldMapPage.tsx
  server/routes/group-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add more cities and improve coordinate handling for accurate mapping
  client/src/lib/cityImageMap.ts
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance event discovery and city information features
  client/src/components/mrBlue/MrBlueFloatingButton.tsx
  client/src/lib/cityImageMap.ts
  client/src/pages/CitySlugRedirectPage.tsx
  client/src/pages/GroupDetailsPage.tsx
  client/src/routes/marketingRoutes.tsx
  server/routes.ts
  server/services/participant-extraction.ts
Due: tsc --noEmit, prettier --write, eslint --fix
