Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Improve end-to-end testing stability and reliability
  replit.md
Due: prettier --write

Saved progress at the end of the loop
  .replit
Due: none

Improve database testing by generating and executing tests
  scripts/generate-and-run-tests.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add user follows to display posts in the feed
  attached_assets/image_1765433203224.png
Due: none

Add comprehensive database test report and update test videos
  docs/MB_MD_DATABASE_TEST_REPORT_v9.9.4.md
  test-videos/.last-run.json
  test-videos/smoke-core-flows-MundoTang-04d20-s-page-displays-real-events-chromium/test-finished-1.png
  test-videos/smoke-core-flows-MundoTang-15143-e-API-health-check-via-page-chromium/test-finished-1.png
  test-videos/smoke-core-flows-MundoTang-3dea4-g-page-loads-with-real-data-chromium/test-finished-1.png
  test-videos/smoke-core-flows-MundoTang-3fbe1-moke-Groups-page-accessible-chromium/test-finished-1.png
  test-videos/smoke-core-flows-MundoTang-ae9fe-ge-shows-subscription-tiers-chromium/test-finished-1.png
  test-videos/smoke-core-flows-MundoTang-af0a7-ow-works-with-admin-account-chromium/test-finished-1.png
Due: prettier --write

Restore database to previous state with all user data
  attached_assets/image_1765437258686.png
Due: none

Restore user data and functionality lost during database migration
  attached_assets/image_1765437086231.png
  attached_assets/image_1765437097832.png
  attached_assets/image_1765437138119.png
  attached_assets/image_1765437146831.png
Due: none

Restore user profile data and test posts from previous state
  attached_assets/image_1765436681203.png
Due: none

Fix TypeScript build errors in masterOrchestrator.ts
  server/agents/scraping/masterOrchestrator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix duplicate friendId key in storage.ts getFriendshipById
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix array syntax: move commas before comments in Promise.allSettled
  server/agents/scraping/masterOrchestrator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update prediction cache to store and retrieve confidence data correctly
  server/services/PredictiveContextService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix cache warming to use correct array format for predictions
  server/services/PredictiveContextService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix peer dependency: upgrade react and @types/react to v19
  package.json
Due: prettier --write

Improve user profile and sidebar navigation for community features
  client/src/components/AppSidebar.tsx
  client/src/components/Sidebar.tsx
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add .npmrc with legacy-peer-deps to fix Vercel build
  .npmrc
Due: none

Align profile action buttons with navigation tabs
  client/src/components/ProfileTabsNav.tsx
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve friend request notifications and profile interactions
  client/src/components/navigation/UnifiedTopBar.tsx
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix error when opening friend request review modal
  attached_assets/image_1765484301011.png
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve friend request review modal auto-opening logic
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix friend request notifications to correctly display status and open modal
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Transitioned from Plan to Build mode
  attached_assets/image_1765484918178.png
Due: none

Update friend request logic to include snoozed requests
  server/storage.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update profile page to correctly fetch friendship status
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add a universal picker for searching locations and events
  client/src/components/input/UniversalPicker.tsx
  client/src/hooks/useDebounce.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update cover photo property names for consistency in friendship page
  client/src/pages/FriendshipPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update friendship page to match profile page design with new layout and media tab
  client/src/pages/FriendshipPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add missing friendship API routes and improve error handling
  client/src/pages/FriendshipPage.tsx
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
