Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Document critical agent system failures and create a research plan
  docs/AGENT_SYSTEM_CRITICAL_FAILURE_NOV18_2025.md
  docs/MB_MD_COMPREHENSIVE_RESEARCH_PLAN_NOV18_2025.md
  docs/VISUAL_EDITOR_MR_BLUE_GAP_ANALYSIS.md
Due: prettier --write

Design a self-healing agent system for website pages
  docs/MB_MD_COMPREHENSIVE_RESEARCH_PLAN_NOV18_2025.md
  docs/MB_MD_RESEARCH_SUMMARY_NOV18_2025.md
  docs/MR_BLUE_SELF_HEALING_PAGE_AGENT_SYSTEM.md
Due: prettier --write

Add agent training system to learn documentation and code
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Train all critical agents to become subject matter experts
  server/scripts/trainAgentsSME.ts
  server/services/agent-sme/AgentSMETrainingService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Activate AI agent SME training system and create critical agents
  replit.md
  server/scripts/createCriticalAgents.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation for agent system activation and training completion
  docs/MB_MD_V9_AGENT_SYSTEM_ACTIVATION_COMPLETE.md
Due: prettier --write

Create comprehensive plan for agent creation to expand system functionality
  MB_MD_COMPREHENSIVE_AGENT_CREATION_PLAN.md
Due: prettier --write

Add scripts to generate and train all platform agents
  server/scripts/bulkTrainAgentsSME.ts
  server/scripts/generateAllAgents.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add self-healing page agent system and audit tracking
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Implement comprehensive self-healing system for web pages
  server/services/self-healing/AgentActivationService.ts
  server/services/self-healing/AgentOrchestrationService.ts
  server/services/self-healing/PageAuditService.ts
  server/services/self-healing/PredictivePreCheckService.ts
  server/services/self-healing/SelfHealingService.ts
  server/services/self-healing/UXValidationService.ts
  server/services/self-healing/index.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Integrate self-healing system and add iframe address bar to visual editor
  client/src/components/visual-editor/IframeAddressBar.tsx
  client/src/hooks/useSelfHealing.ts
  client/src/pages/VisualEditorPage.tsx
  docs/MB_MD_V9_PHASE_3_COMPLETE_NOV18_2025.md
  docs/PHASE_3_COMPLETION_SUMMARY.md
  replit.md
  server/routes/self-healing-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update documentation to standardize Playwright testing credentials
  client/src/hooks/useSelfHealing.ts
  mb.md
Due: tsc --noEmit, prettier --write, eslint --fix

Improve error handling for unregistered pages during agent activation and auditing
  server/services/self-healing/AgentActivationService.ts
  server/services/self-healing/PageAuditService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add foundational research documentation for AI development
  attached_assets/Pasted--FREE-ENERGY-PRINCIPLE-ORGANOID-INTELLIGENCE-MB-MD-RESEARCH-Application-to-Mr-Blue-AI-Comp-1763492726673_1763492726674.txt
Due: none

Update methodology to incorporate biological intelligence principles
  mb.md
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update agent beliefs with new observations and track prediction errors
  server/services/self-healing/PageAuditService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve predictive page pre-checking by selecting pages based on expected free energy
  server/services/self-healing/PredictivePreCheckService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update methodology to include advanced AI principles and self-healing systems
  replit.md
Due: prettier --write

Add cognitive memory system to support agent evolution
  docs/MB_MD_V9_3_ENHANCEMENT_PLAN.md
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add agent memory, telemetry, and state checkpointing services
  server/services/ai/AgentMemoryService.ts
  server/services/ai/AgentTelemetryService.ts
  server/services/ai/StateCheckpointService.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update platform overview and methodology details
  replit.md
Due: prettier --write

Plan audit for visual editor and Mr. Blue to ensure 100% functionality
  docs/MB_MD_V9_4_VISUAL_EDITOR_100PCT_PLAN.md
Due: prettier --write

Add functionality to save visual editor changes to the platform
  client/src/components/visual-editor/VisualEditorSplitPane.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add fully operational visual editor for AI assistant with live preview and element selection
  replit.md
Due: prettier --write

Add CSRF token to proactive error detection API calls
  client/src/lib/proactiveErrorDetection.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve error handling and robustness in the coding system
  replit.md
Due: prettier --write

Enhance visual editor and 3D creator with new features and voice commands
  client/src/components/mr-blue/MrBlue3DModel.tsx
  client/src/components/mr-blue/ThreeDCreatorTab.tsx
  client/src/components/visual-editor/ElementInspector.tsx
  client/src/components/visual-editor/VisualEditorSplitPane.tsx
  client/src/components/visual-editor/VoiceCommandProcessor.tsx
  client/src/lib/iframeInjector.ts
  client/src/lib/voiceCommands.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance visual editor with drag-and-drop components and AI suggestions
  client/src/components/mr-blue/AIVideoStudioTab.tsx
  client/src/components/visual-editor/ComponentPalette.tsx
  client/src/components/visual-editor/ComponentPaletteIntegration.tsx
  client/src/components/visual-editor/SmartSuggestions.tsx
  client/src/components/visual-editor/VisualEditorSplitPane.tsx
  client/src/components/visual-editor/componentTemplates.ts
  client/src/components/visual-editor/types.ts
  client/src/lib/iframeInjector.ts
  client/src/pages/VisualEditorPage.tsx
  server/routes/mrblue-video-routes.ts
  server/routes/visualEditor.ts
  server/services/lumaVideoService.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Enhance visual editor with new components and functionality
  client/src/components/mr-blue/MessengerIntegration.tsx
  client/src/components/mr-blue/MrBlueAvatarVideo.tsx
  client/src/components/mr-blue/VoiceCloning.tsx
  client/src/components/visual-editor/ChangeTimeline.tsx
  client/src/components/visual-editor/FocusMode.tsx
  client/src/components/visual-editor/FocusModeTimer.tsx
  client/src/components/visual-editor/GitPanel.tsx
  client/src/components/visual-editor/IframeAddressBar.tsx
  client/src/components/visual-editor/LoadingStates.tsx
  client/src/components/visual-editor/PreviewMode.tsx
  client/src/components/visual-editor/SmartSuggestions.tsx
  client/src/components/visual-editor/VisualEditorSplitPane.tsx
  client/src/lib/focusModeStore.ts
  client/src/lib/iframeInjector.ts
  client/src/lib/visualEditorTracker.ts
  client/src/pages/VisualEditorPage.tsx
  db/migrations/add_did_videos_table.sql
  db/migrations/add_voice_clones_table.sql
  package-lock.json
  package.json
  replit.md
  server/routes/mrblue-messenger-routes.ts
  server/routes/mrblue-video-routes.ts
  server/routes/mrblue-voice-routes.ts
  server/routes/visualEditor.ts
  server/services/didService.ts
  server/services/elevenLabsService.ts
  server/services/elevenlabsService.ts
  server/services/gitService.ts
  server/services/mrBlue/MessengerService.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Complete the visual editor and add new AI features for better development
  replit.md
Due: prettier --write
