Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Hide old inline edit fields when event editing is active
  client/src/pages/EventDetailsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add organizer role surfacing and stats to professional profiles
  server/routes/pro.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update event system documentation with new version and date
  docs/prds/PRD_EVENTS_SYSTEM.md
Due: prettier --write

Improve event details page by moving the edit button to the details tab
  client/src/pages/EventDetailsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve security for event photo uploads by adding validation
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764555111972_1764555111973.txt
  server/routes/event-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update team member search to prioritize specific roles and collaborators
  client/src/components/events/EventParticipantManager.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add inline editing for event details on the event page
  client/src/pages/EventDetailsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Document new features for event invitations, RSVP capacity, and organizer role detection
  docs/prds/PRD_EVENTS_SYSTEM.md
Due: prettier --write

Saved progress at the end of the loop
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764557856892_1764557856900.txt
  attached_assets/image_1764557864293.png
Due: none

Improve event data retrieval speed and reduce response sizes significantly
  docs/prds/PRD_EVENTS_SYSTEM.md
Due: prettier --write

Improve automated error fixing by recognizing known issues
  server/services/mrBlue/AutoFixEngine.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Update event RSVP functionality to use a unified button component
  client/src/pages/GroupDetailsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Improve event data retrieval performance by excluding large images
  server/routes/event-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Implement a new tabbed architecture for the events page
  replit.md
Due: prettier --write

Add direct media uploads to object storage for better performance
  server/routes/media-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix event cover photo not displaying on event details page
  docs/prds/PRD_EVENTS_SYSTEM.md
Due: prettier --write

Update media uploads to use object storage directly
  client/src/lib/mediaUpload.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Standardize event RSVP and data fetching across the platform
  client/src/components/feed/UpcomingEventsSidebar.tsx
  client/src/components/profile/ProfileTabEvents.tsx
  client/src/components/unified/UnifiedRSVPButton.tsx
  client/src/hooks/useEvents.ts
  client/src/pages/EventsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix content security policy and resolve client-side errors
  attached_assets/Pasted-chrome-extension-h-ound-redux-new-js-1-Uncaught-in-promise-Error-No-tab-with-id-549297201-VM2-1764560089885_1764560089886.txt
Due: none

Saved progress at the end of the loop
  .replit
Due: none

Update media upload to use a cleaner path structure
  server/middleware/csrf.ts
  server/objectStorage.ts
  server/routes/media-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Optimize event data loading by excluding large image data
  server/routes/event-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Implement object storage for media uploads to improve performance
  docs/prds/PRD_EVENTS_SYSTEM.md
  replit.md
Due: prettier --write

Add a three-tab navigation to the Events page for better organization
  client/src/pages/EventsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix event cover photo display by ensuring correct image saving
  attached_assets/Pasted-VM266396-8-Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-event-1764563363180_1764563363184.txt
  server/routes/event-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve platform performance by optimizing response times and sizes
  replit.md
Due: prettier --write

Restructure the events page with a new three-tab layout
  replit.md
Due: prettier --write

Improve event card image loading with fallback
  client/src/pages/EventsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix event hero image display and improve error tracking
  replit.md
Due: prettier --write

Add onboarding tour and fix error indexing
  lancedb_data/error_patterns_vectors.lance/_transactions/0-bfe92c3e-dc4e-4cee-92eb-4cb5440e8023.txn
  lancedb_data/error_patterns_vectors.lance/_versions/1.manifest
  lancedb_data/error_patterns_vectors.lance/data/001110000110010000011101590349431e97b127561c1e36fa.lance
  server/services/mrBlue/tourGuideAgent.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve agent execution by running tasks simultaneously
  mb.md
  server/routes/mrblue-error-analysis-routes.ts
  server/services/mrblue/AgentLifecycle.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Fix comment reactions and display missing user data
  attached_assets/Pasted--Coframe-Replit-Enterprise-watcher-loaded-ingest-app-coframe-com-ingest-v2-batched-events-68c9ad4d-1764571284703_1764571284707.txt
Due: none

Transitioned from Plan to Build mode
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764566177002_1764566177003.txt
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764566194147_1764566194149.txt
  attached_assets/Pasted-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-source--1764566741703_1764566741705.txt
Due: none

Improve post reaction system with authentication checks and error handling
  client/src/components/feed/PostItem.tsx
  client/src/hooks/usePostInteractions.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve system stability by fixing errors
  server/services/learning/GlobalKnowledgeBase.ts
  server/services/self-healing/PredictiveAnalysisService.ts
Due: tsc --noEmit, prettier --write, eslint --fix
