Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Create AdminContentModerationPage.tsx
  client/src/pages/admin/AdminContentModerationPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Create AdminAnalyticsDetailPage.tsx
  client/src/pages/admin/AdminAnalyticsDetailPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

feat: Add PaymentOrchestrator for multi-gateway payment processing
  server/services/payments/core/PaymentOrchestrator.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add Facebook Messenger integration to bridge conversations with Mr. Blue AI
  attached_assets/Pasted--Facebook-to-MrBlue-Context-Bridge-Service-Connects-Fac_1764721295322.txt
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add comprehensive agent memory log for coordination and communication tracking
  attached_assets/Pasted-cat-AGENT-MEMORY-md-EOF-Agent-Memory-Log-Mundo-Tango-Se_1764723319744.txt
Due: none

Fix application startup errors by correcting code syntax
  client/src/App.tsx
  vite.config.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add documentation for pattern 47 to the project
  PATTERN 47
Due: none

Saved progress at the end of the loop
  client/src/pages/mrblue/MrBlueChat.tsx
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Redirect users to the landing page when they visit the main website address
  attached_assets/image_1764734249475.png
  client/src/App.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix incorrect file import path for 3D avatar page
  client/src/App.tsx
  client/src/pages/MrBlueAvatar3D.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix broken avatar page and update import paths
  client/src/App.tsx
  client/src/pages/mr-blue-avatar-3d.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

fix: Remove orphaned cartographer plugin call from vite.config.ts
  vite.config.ts
Due: tsc --noEmit, prettier --write, eslint --fix

fix: Correct corrupted import statement in DanceExperiencePage.tsx
  client/src/pages/onboarding/DanceExperiencePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

docs: Add comprehensive README for international payments system
  server/services/payments/README.md
  server/services/payments/core/CurrencyManager.ts
Due: tsc --noEmit, prettier --write, eslint --fix

docs: Add integration guide for all tango roles
  server/services/payments/integration-guide.md
Due: prettier --write

Document build system recovery and verified QA bug fixes
  replit.md
Due: prettier --write

Organize and document all remaining audit fixes using a phased approach
  attached_assets/Pasted-Here-is-a-clean-MB-MD-style-plan-for-completing-the-aud_1764753159285.txt
  qa_reports/AUDIT_RECONCILIATION_REPORT.md
Due: prettier --write

Update audit report to include total issue count and methodology
  qa_reports/AUDIT_RECONCILIATION_REPORT.md
Due: prettier --write

Improve user experience by adding empty states and undo functionality
  client/src/components/feed/InfiniteScrollFeed.tsx
  client/src/components/feed/PostActions.tsx
  client/src/components/ui/empty-state.tsx
  client/src/pages/TeachersPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add navigation labels and placeholder post restore endpoint
  client/src/components/Sidebar.tsx
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add ability to restore deleted posts with a placeholder endpoint
  replit.md
Due: prettier --write

Improve event page display and onboarding visibility
  client/src/pages/EventsPage.tsx
  client/src/pages/OnboardingPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Document recent platform fixes and enhancements
  replit.md
Due: prettier --write

Update audit report and error handling, documenting new methodology patterns
  docs/handoff/Comet/3d avatar.md
  docs/handoff/Comet/Money.md
  docs/handoff/Comet/Talent Match.md
  docs/handoff/Comet/The Audits.md
  docs/handoff/Comet/Vibe coding.md
  docs/handoff/Comet/facebook.md
  docs/handoff/Comet/markting site.md
  qa_reports/AUDIT_RECONCILIATION_REPORT.md
  replit.md
  server/routes/mrblue-error-analysis-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Complete comprehensive audit of user and admin interfaces
  qa_reports/ADMIN_USER_AUDIT.md
  qa_reports/DATABASE_COMPARISON.md
  qa_reports/MBMD_FIX_PLAN.md
  qa_reports/NEW_USER_AUDIT.md
Due: prettier --write

Saved progress after completing a task
  attached_assets/MundoTango_Payment_&_Billing_Systems_Audit_Report_1764759457163.md
  attached_assets/image_1764758810592.png
  attached_assets/image_1764758819319.png
  client/src/App.tsx
  client/src/pages/LandingPage.tsx
  client/src/pages/MyTasksPage.tsx
  docs/handoff/Comet/MundoTango Payment & Billing Systems Audit Report.md
  docs/handoff/Comet/archive/I give you permission to access this site fully an.md
  docs/handoff/Comet/archive/Look at the repo_Use mb.md_ we have created a Tale.md
  docs/handoff/Comet/archive/Meta for Developers Overview.md
  docs/handoff/Comet/archive/MundoTango Payment & Billing Systems Audit Report.md
  docs/handoff/Comet/archive/continue work from the thread that starts with _us.md
  docs/handoff/Comet/archive/do this, i give all permissions___Comprehensive au.md
  docs/handoff/Comet/archive/do you have any recolection of the work you were j.md
  docs/handoff/Comet/archive/hi.md
  docs/handoff/Comet/archive/perplexity comet token usage.md
  docs/handoff/Comet/archive/read this repo and this doc, mb.md__you are taking.md
  docs/handoff/Comet/archive/run this_ _Comprehensive audit of Mr Blue AI imple.md
  docs/handoff/Comet/archive/the chat was not working and your work was cut off.md
  docs/handoff/Comet/archive/use mb.md_ One of our features was to have mr Blue.md
  docs/handoff/Comet/archive/use mb.md_ how can this help mr blue_.md
  docs/handoff/Comet/archive/use mb.md_ in qa_reports.md on replit, you will fi.md
  docs/handoff/Comet/archive/use mb.md_ we have done a lot for our marketing si.md
  docs/handoff/Comet/archive/use mb.md_ we were working on _use mb.md_ Actually.md
  docs/handoff/Comet/archive/use mb.md_ you are picking up from an other agent..md
  docs/handoff/Comet/archive/use mb.md_ your agent name is _Comet the orchestra.md
  docs/handoff/Comet/archive/use mb.md__we were working ont his but got interru.md
  docs/handoff/Comet/archive/what were we chatting about in this group_.md
  docs/handoff/Comet/archive/you have access to this repo and all other tabs in.md
  server/routes.ts
  server/routes/volunteerTasks.ts
  shared/schema.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add volunteer task system and fix landing page link nesting
  replit.md
Due: prettier --write

Integrate real data into the talent pipeline management system
  client/src/pages/admin/TalentPipelinePage.tsx
  replit.md
  server/routes.ts
  server/routes/talentPipeline.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add marketing pages for dancers, teachers, and organizers
  client/src/App.tsx
  client/src/pages/marketing/ForDancersPage.tsx
  client/src/pages/marketing/ForOrganizersPage.tsx
  client/src/pages/marketing/ForTeachersPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add documentation for recent platform updates and new features
  replit.md
Due: prettier --write

Add links to marketing pages in navigation for users
  client/src/components/PublicNavbar.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update landing page with dynamic statistics and add public stats API
  client/src/pages/LandingPage.tsx
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix
