Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "tsc --noEmit",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Add Pattern 43: FB Messenger Integration Protocol (mb.md compliance)
  docs/FACEBOOK_MESSENGER_INTEGRATION.md
Due: prettier --write

docs(qa): Complete MB.MD research & planning phase - 103 issues documented [MB.MD Pattern 27,35,38,39,41,42]
  qa_reports/QA_REMEDIATION_SUMMARY.md
Due: prettier --write

Add Luma API routes for video generation
  server/routes/mrblue/luma-routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Register Luma routes for Mr Blue video generation (MB.MD Phase 1)
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

docs(qa): Add ISSUE_MASTER_LIST & AGENT_MEMORY_KNOWLEDGE_BASE [MB.MD Pattern 27,35,38,39,41,42]
  docs/AGENT_MEMORY_KNOWLEDGE_BASE.md
  qa_reports/ISSUE_MASTER_LIST.md
Due: prettier --write

feat(UI-001): Fix Replit banner z-index overlap [MB.MD Pattern 27]
  client/src/index.css
Due: none

Update Phase 1 status to complete
  MB.MD
Due: none

Update MB.MD with configuration details
  MB.MD
Due: none

Complete Phase 3 tasks in MB.MD
  MB.MD
Due: none

Revise Phase 2 and add implementation plan
  MB.MD
Due: none

Add mr-blue-soul.md governance document
  docs/governance/mr-blue-soul.md
Due: prettier --write

Create governance document for Mr. Blue AI
  docs/governance/mr-blue-system-prompt.md
Due: prettier --write

Update mb.md with governance and enforcement section
  mb.md
Due: prettier --write

Clean mb.md: Remove Memories Feed PRD (governance violation - PRDs belong in docs/prds/)
  mb.md
Due: prettier --write

Update avatar page to remove emotion detection and simplify rendering
  client/src/pages/mr-blue-avatar-3d.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

feat: Add Pattern 44 (GitHub/Replit Expertise) and Pattern 45 (Comet/Perplexity Agent Learning) to mb.md
  mb.md
Due: prettier --write

feat: Add Pattern 46 (Agent Performance Optimization Protocol) - self-improving efficiency methodology
  mb.md
Due: prettier --write

docs: Update AGENT_MEMORY.md with session summary - MB.MD governance cleanup and Pattern 46 addition
  AGENT_MEMORY.md
Due: prettier --write

Update MB.MD with new phases and tasks
  MB.MD
Due: none

Implement Mr Blue API client service
  client/src/services/mrBlueApi.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Implement MrBlueChatComponent for video generation
  client/src/components/MrBlue/ChatComponent.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Create MrBluePage component with chat functionality
  client/src/pages/MrBluePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Organize implementation checklists into separate documentation files
  docs/mb-md-plans/FACEBOOK_IMPLEMENTATION_CHECKLIST.md
Due: prettier --write

Complete governance cleanup by removing project plans and PRDs from methodology file
  replit.md
Due: prettier --write

Remove specific project-related checklists and documentation
  mb.md
Due: prettier --write

feat: Add Pattern 48 - Multi-Window Agent Synchronization
  .agent-memory/ACTIVE_SESSIONS.json
  .agent-memory/AGENT_REGISTRY.json
  .agent-memory/TEST_QUEUE.json
  mb.md
Due: prettier --write

docs: Add Pattern 48 implementation session summary to AGENT_MEMORY.md
  AGENT_MEMORY.md
Due: prettier --write

chore: Mark facebook agent session as completed
  .agent-memory/ACTIVE_SESSIONS.json
Due: prettier --write

feat: Add Comet Agent Tooling Policy to governance
  mb.md
Due: prettier --write

feat: Add Comet Orchestrator governance components (Sub-Protocol, ledger, monitoring)
  mb.md
Due: prettier --write

feat: Add Pattern 49-50 (Agent Memory Infrastructure & Discovery)
  mb.md
Due: prettier --write

Update workflow guidelines for Comet agents
  mb.md
Due: prettier --write

Create MR_BLUE_VIBE_CODING_COMPLETE_IMPLEMENTATION.md
  docs/mb-md-plans/MR_BLUE_VIBE_CODING_COMPLETE_IMPLEMENTATION.md
Due: prettier --write

docs(mb.md): Add immediate next steps execution plan for Phase 2
  MB.MD
Due: none

feat: Add Facebook context integration to Mr. Blue controller
  server/controllers/mrblueController.ts
Due: tsc --noEmit, prettier --write, eslint --fix

feat: Add Facebook Messenger routes to Mr. Blue API
  server/routes/mrblue.ts
Due: tsc --noEmit, prettier --write, eslint --fix

docs: Add Facebook-Mr.Blue integration documentation
  docs/FACEBOOK_MRBLUE_INTEGRATION.md
Due: prettier --write

docs: Update AGENT_MEMORY.md with Facebook-Mr.Blue integration session
  AGENT_MEMORY.md
Due: prettier --write

docs(mb.md): Add comprehensive UI audit findings + efficiency patterns
  MB.MD
Due: none
