Repository MundoTango/Mundo-Tango: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix

Update event types and fix data display for tango events
  attached_assets/image_1764106334500.png
  attached_assets/image_1764106360574.png
  attached_assets/image_1764106382703.png
  attached_assets/image_1764106456002.png
Due: none

Expand event types and improve event detail display
  client/src/components/EventCard.tsx
  client/src/components/events/EventFilters.tsx
  client/src/pages/EventDetailsPage.tsx
  client/src/pages/EventsPage.tsx
  client/src/pages/GroupDetailsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update Stripe integration and add synchronization tools
  .replit
  package-lock.json
  package.json
Due: prettier --write

Create comprehensive E2E test plan with self-healing capabilities
  docs/MB_MD_COMPREHENSIVE_E2E_TEST_PLAN.md
Due: prettier --write

Add comprehensive end-to-end tests for all platform features
  tests/mb-md-comprehensive.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add memory statistics page and route
  client/src/App.tsx
  client/src/pages/MemoryStatsPage.tsx
  test-videos/.last-run.json
  test-videos/core-features-Events-Syste-5b6a5-er-can-search-filter-events-chromium/test-finished-1.png
  test-videos/core-features-Events-Syste-9009c-User-can-view-event-details-chromium/test-finished-1.png
  test-videos/core-features-Events-System-Events-1-Events-page-loads-chromium/test-finished-1.png
  test-videos/mb-md-comprehensive-MEMORI-0d899-MEM-002-Memory-filters-work-chromium/test-finished-1.png
  test-videos/mb-md-comprehensive-MEMORI-1d9c0-03-Memory-detail-view-works-chromium/test-finished-1.png
  test-videos/mb-md-comprehensive-MEMORI-40c4a-Memories-landing-page-loads-chromium/test-finished-1.png
  test-videos/mb-md-comprehensive-MEMORI-fea4a-004-Memory-stats-page-loads-chromium/error-context.md
  test-videos/mb-md-comprehensive-MEMORI-fea4a-004-Memory-stats-page-loads-chromium/test-failed-1.png
Due: tsc --noEmit, prettier --write, eslint --fix

Add City Groups page and update existing pages with testing attributes
  client/src/App.tsx
  client/src/pages/CityGroupsPage.tsx
  test-videos/.last-run.json
  test-videos/mb-md-comprehensive-CITY-G-2d761--005-Group-events-tab-works-chromium/test-finished-1.png
  test-videos/mb-md-comprehensive-CITY-G-8a392-1-Groups-landing-page-loads-chromium/test-finished-1.png
  test-videos/mb-md-comprehensive-CITY-G-c4164-Groups-filter-by-type-works-chromium/test-finished-1.png
  test-videos/mb-md-comprehensive-CITY-G-e30ac--007-City-groups-page-loads-chromium/error-context.md
  test-videos/mb-md-comprehensive-CITY-G-e30ac--007-City-groups-page-loads-chromium/test-failed-1.png
  test-videos/mb-md-comprehensive-CITY-GROUPS-CITY-003-Groups-search-works-chromium/test-finished-1.png
  test-videos/mb-md-comprehensive-MEMORI-0d899-MEM-002-Memory-filters-work-chromium/test-finished-1.png
  test-videos/mb-md-comprehensive-MEMORI-1d9c0-03-Memory-detail-view-works-chromium/test-finished-1.png
  test-videos/mb-md-comprehensive-MEMORI-40c4a-Memories-landing-page-loads-chromium/test-finished-1.png
Due: tsc --noEmit, prettier --write, eslint --fix

Add a memories tab to user profiles for showcasing milestones
  client/src/App.tsx
  client/src/components/ProfileTabsNav.tsx
  client/src/components/profile/ProfileTabMemories.tsx
  client/src/pages/ProfilePage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Ensure users can access their memories tab from the profile page
  client/src/App.tsx
  test-videos/mb-md-full-coverage-EVENTS-32a3c-01-Events-landing-with-hero-chromium/test-finished-1.png
  test-videos/mb-md-full-coverage-EVENTS-b632e--EVT-002-Search-input-works-chromium/test-finished-1.png
  test-videos/mb-md-full-coverage-EVENTS-c37eb-ode-tabs-List-Calendar-Map--chromium/test-finished-1.png
  test-videos/memories-tab-test-Memories-2d60c-th-tab-memories-query-param-chromium/test-finished-1.png
  test-videos/memories-tab-test-Memories-3a206--tab-exists-on-Profile-page-chromium/test-finished-1.png
  test-videos/memories-tab-test-Memories-9409e-mories-tab-displays-content-chromium/test-finished-1.png
  tests/memories-tab-test.spec.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Remove the filter bar from the main feed page view
  client/src/pages/FeedPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update verification report for feed and navigation components
  docs/FEED_NAVIGATION_VERIFICATION_REPORT.md
Due: prettier --write

Update documentation with learnings from end-to-end testing
  mb.md
Due: prettier --write

Add filtering and search functionality to the memories page
  client/src/pages/MemoriesPage.tsx
  shared/route-config.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve visibility and styling of reaction buttons on posts
  client/src/components/ui/ReactionSelector.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Fix error when fetching unread message count and prevent UI spam
  attached_assets/image_1764131625801.png
  server/routes.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Improve role icon display and matching for user profiles
  client/src/components/feed/RoleIconBadge.tsx
  client/src/lib/tangoRoles.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Add user roles to all feed-related API responses
  server/services/feedAlgorithm.ts
Due: tsc --noEmit, prettier --write, eslint --fix

Remove the plan progress bar component from the application
  client/src/App.tsx
  client/src/components/AppLayout.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Make hero section smaller and add cycling tango quotes
  client/src/pages/FeedPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add multi-option RSVP selection to event listings
  client/src/pages/EventsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update event RSVP system to offer multiple attendance options
  client/src/pages/EventsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Add dropdown menu for RSVP options to event cards
  client/src/pages/EventsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Update RSVP dropdown to immediately reflect status changes
  client/src/pages/EventsPage.tsx
Due: tsc --noEmit, prettier --write, eslint --fix

Path conditions:
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
